<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260305-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>ขอร่วมส่งกำลังใจ...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          ภาควิชาวิศวกรรมอุตสาหการ ขอร่วมส่งกำลังใจให้นักศึกษาของเรา
        </h2>
        <p class="tag">#ข่าวสาร</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 05 มี.ค. 2569</div>
      </div>
      <div class="banner">
        <img src="/images/news/2569/Mar/05_03.jpg" alt="20260305" />
      </div>
      <div class="content-text">
        <p>
          ที่จะเข้าร่วมการแข่งขัน Thailand Macro Business Simulation Competition
          2026
        </p>
        <p>
          การแข่งขันจำลองธุรกิจระดับมหภาคแห่งประเทศไทย ประจำปี 2569 ในวันที่ 7
          มีนาคม 2569 ณ มหาวิทยาลัยเกษตรศาสตร์ ศรีราชา
        </p>
        <p>ตัวแทนนักศึกษาของภาควิชาฯ เข้าร่วมการแข่งขันจำนวน 2 ทีม ได้แก่</p>
        <br />
        <h5>🔹 ทีม Macro Consulting</h5>
        <p>นายธนาวินด์ ดอกตาลยงค์</p>
        <p>นางสาวสุมิตรา ศิลาโรจน์</p>
        <p>นางสาวสุพรรณสรณ์ สุดตา</p>
        <p>นายศุภกร แก้วมีสี</p>
        <br />
        <h5>🔹 ทีม MOVE ON</h5>
        <p>นางสาวอัญชิษฐا วัชรธนาคม</p>
        <p>นายปวินท์ ศรีสุภัทรวนิช</p>
        <p>นายสายฟ้า มีทอง</p>
        <p>นายณภัทร เพิ่มพงศ์พันธ์</p>
        <p>นายปฐวี ศิลวัฒนาวงศ์</p>
        <br />
        <p>
          โดยมี รศ. ดร.พร้อมพงษ์ ปานดี และ อาจารย์เจษฎา จันทวงษ์โส
          เป็นอาจารย์ที่ปรึกษาทีม คอยให้คำแนะนำและสนับสนุนอย่างใกล้ชิด
        </p>
        <p>
          การแข่งขันครั้งนี้เป็นเวทีสำคัญที่เปิดโอกาสให้นักศึกษาได้ฝึกการคิดเชิงกลยุทธ์
          การตัดสินใจทางธุรกิจ
          และการทำงานเป็นทีมในสถานการณ์จำลองที่ใกล้เคียงกับโลกธุรกิจจริง
        </p>
        <p>
          ภาควิชาวิศวกรรมอุตสาหการ ขอเป็นกำลังใจให้ทุกคน ทำอย่างเต็มที่
          เก็บเกี่ยวประสบการณ์ และสนุกกับการเรียนรู้ในเวทีการแข่งขันครั้งนี้
        </p>
        <p>
          ไม่ว่าผลการแข่งขันจะเป็นอย่างไร
          พวกเราทุกคนภูมิใจในความตั้งใจของนักศึกษาทุกคนเสมอ
        </p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
