<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260518-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>ขอแสดงความยินดีใน...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          ภาควิชาวิศวกรรมอุตสาหการ มจธ.ขอแสดงความยินดีในโอกาสคว้า “รางวัลชมเชย” จากการแข่งขัน NTU Hackathon 
        </h2>
        <p class="tag">#รางวัล #PRE</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 20 พฤษภาคม 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/May/20_05.jpg" alt="20260520-1" />
      </span>
      <div class="content-text">
        <p>
          ภาควิชาวิศวกรรมอุตสาหการ มจธ.ขอแสดงความยินดีกับ 
        </p>
        <br />
        <ul>
            <li>นายพีรเดช อนุภาพยุทธชัย</li>
            <li>นายปาราเมศ ธิอ้าย </li>
            <li>นักศึกษาชั้นปีที่ 2 สาขาวิชาวิศวกรรมอุตสาหการ</li>
        </ul>
        <br />
        <p>ในโอกาสคว้า “รางวัลชมเชย” จากการแข่งขัน NTU Hackathon เมื่อวันที่ 2-3 พฤษภาคม 2569</p>
        <br />
        <h5>🏆 ผลงานรางวัล: “Skyrise Journey”</h5>
        <p>นวัตกรรมระบบฟื้นฟูประสาทแบบบูรณาการ ที่ออกแบบมาเพื่อยกระดับคุณภาพชีวิตผู้ป่วยโรคหลอดเลือดสมอง</p>
        <br />
        <p>Gamification: เปลี่ยนการกายภาพบำบัดที่น่าเบื่อให้เป็นเกม เพื่อสร้างแรงจูงใจในการฝึกอย่างต่อเนื่อง</p>
        <br />
        <p>Integrated Sensors: ผสานเซนเซอร์ตรวจจับการเคลื่อนไหวเพื่อฝึกการทำงานที่สัมพันธ์กันของแขนและขา</p>
        <br />
        <p>Neuroplasticity: เน้นการกระตุ้นการสร้างเครือข่ายประสาทใหม่ ช่วยให้ผู้ป่วยกลับมาใช้ชีวิตอิสระได้เร็วขึ้นและลดความเสี่ยงในการล้ม</p>
        <br />
        <p>ความสำเร็จในเวทีระดับสากลครั้งนี้ สะท้อนถึงศักยภาพและความมุ่งมั่นของนักศึกษาภาควิชาวิศวกรรมอุตสาหการ มจธ. ในการสร้างสรรค์นวัตกรรมเพื่อสังคมและสุขภาพอย่างยั่งยืน</p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
      </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
