<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260510-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>วิศวกรรมระบบอุต...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">วิศวกรรมระบบอุตสาหกรรมและการประกอบการธุรกิจ ISEE KMUTT</h2>
        <p class="tag">#ข่าวสาร #ISEE</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 10 พฤษภาคม 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/May/10_05.jpg" alt="20260510-1" />
      </span>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
