<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260528-2'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>รอบที่ 4 Direct Admission...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          📌 รอบที่ 4 Direct Admission ปี 2569 คณะวิศวฯ มจธ. ⚙️
        </h2>
        <p class="tag">#รับสมัคร #PRE #MCE #ISEE</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 28 พฤษภาคม 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/May/28_05_02.jpg" alt="20260528-2" />
      </span>
      <div class="content-text">
        <h5>📣 ประกาศ‼️</h5>
        <h5>📌 รอบที่ 4 Direct Admission ปี 2569 คณะวิศวฯ มจธ. ⚙️</h5>
        <br />
        <p>เปิดรับสมัครแล้ว ตั้งแต่วันนี้ถึงวันที่ 1 มิถุนายน 2569</p>
        <br />
        <p>สามารถดูเกณฑ์การรับสมัครได้ที่ :<a href="https://join.kmutt.ac.th/?fbclid=IwY2xjawSEvh1leHRuA2FlbQIxMABicmlkETFUTmlrbXl6VlhDdFhtR1dDc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHhgnYHw2WosA3WFwk6zD2BQutxGrVLSVyTrm3ktzYA-v7WAF1u83TIvsuMga_aem_TU0gsGTqMlNPWCzq7Av5hw" target="_blank">https://join.kmutt.ac.th</a></p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
      </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
