<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260330-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>ขอแสดงความยินดี...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          ขอแสดงความยินดีกับทีม SmartSafe Guardian 🎉
        </h2>
        <p class="tag">#รางวัล</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 30 มี.ค. 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/Mar/30_03.jpg" alt="20260330-1" />
      </span>
      <div class="content-text">
        <h5>
          มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี (มจธ.) ⭐ ขอแสดงความยินดีกับ 🎉
        </h5>
        <ul>
          <li>พีรเดช อนุภาพยุทธชัย 👏</li>
          <li>กฤตภัค ศรีกรม 👏</li>
          <li>ปาราเมศ ธิอ้าย 👏</li>
          <li>เจตวัฒน์ อรุณรักษ์วิลาส 👏</li>
          <li>ณัฐธพงษ์ หาดทะเล 👏</li>
        </ul>
        <p>นักศึกษาชั้นปีที่ 2 ภาควิชาวิศวกรรมอุตสาหการ คณะวิศวกรรมศาสตร์</p>
        <br />
        <p>ได้รับรางวัลรองชนะเลิศอันดับ 2 🏆 พร้อมเงินรางวัล 50,000 บาท 💰</p>

        <h5>ผลงาน “AI Decision Support System สำหรับ Factory Safety”🤖</h5>

        <p>
          ที่สามารถวิเคราะห์ข้อมูลจากกล้องและ IoT sensor และแนะนำการตัดสินใจแบบ
          real-time
        </p>
        <p>
          จากการแข่งขัน DENSO SmartSafe Hackathon เมื่อวันที่ 26 มีนาคม 2569 📅
        </p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
