<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260518-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>กิจกรรมบรรยายสุดพิเศษ...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          กิจกรรมบรรยายสุดพิเศษในหัวข้อ "Carbon Footprint for Engineer" ให้กับนักศึกษาชั้นปีที่ 3 และปีที่ 4
        </h2>
        <p class="tag">#กิจกรรม</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 18 พฤษภาคม 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/May/18_05.jpg" alt="20260518-1" />
      </span>
      <div class="content-text">
        <p>
          เมื่อวันพุธที่ 13 พฤษภาคม 2569 ที่ผ่านมา ภาควิชาวิศวกรรมอุตสาหการ ได้จัดกิจกรรมบรรยายสุดพิเศษในหัวข้อ "Carbon Footprint for Engineer" ให้กับนักศึกษาชั้นปีที่ 3 และปีที่ 4 เพื่อเตรียมความพร้อมแบบจัดเต็มก่อนก้าวเข้าสู่ช่วงการฝึกงาน และเตรียมความพร้อมสู่การเป็นว่าที่วิศวกรในอนาคต!
        </p>
        <br />
        <p>กิจกรรมนี้ได้รับเกียรติจาก ดร.พัชราพร พงษ์พัฒน์ มาเป็นผู้ถ่ายทอดความรู้ เพื่อชี้ให้เห็นว่า Carbon Footprint คือเครื่องมือสำคัญที่วิศวกรยุคนี้ปฏิเสธไม่ได้ หากต้องการขับเคลื่อนอุตสาหกรรมที่เป็นมิตรต่อสิ่งแวดล้อม </p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
      </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
