<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260316-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>วิศวกรรมระบบอุตสาหกรรม...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          หลักสูตรวิศวกรรมระบบอุตสาหรรมและการประกอบการธุรกิจ
        </h2>
        <p class="tag">#รับสมัคร #ISEE</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 16 มี.ค. 2569</div>
      </div>
      <div class="banner">
        <img src="/images/news/2569/Mar/16_03_01.jpg" alt="20260316" />
      </div>
      <div class="content-text">
        <h5>หลักสูตรวิศวกรรมระบบอุตสาหรรมและการประกอบการธุรกิจ</h5>
        <p>มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี หลักสูตร 4 ปี 133 หน่วยกิต</p>
        <br />
        <p>นอกจากเป็นวิศวกรอุตสาหการ ได้รับรองใบประกอบวิชาชีพ (กว.)</p>
        <p>
          ยังมีกลุ่มวิชาการประกอบการธุรกิจอีก 18 หน่วยกิต เรียนและฝึกในรูปแบบ
          Project-based Learning
        </p>
        <p>
          หลักสูตรออกแบบให้ฝึกวิศวกรมองงานเป็นระบบ
          สามารถใช้เครื่องมือทางวิศวกรรมอุตสาหการ
        </p>
        <p>เพิ่มความสามารถการจัดการข้อมูลด้วย AI, ML</p>
        <br />
        <h5>รอบที่ 2 นี้สมัครได้ในโครงการ</h5>
        <p>- Active Recruitment รอบที่ 2</p>
        <p>- ทายาททางวิชาชีพและธุรกิจ</p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
