<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260505-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>กำหนดการกู้ยืมเงิน...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">กำหนดการกู้ยืมเงินกยศ.มจธ.สำหรับผู้กู้ยืมรายใหม่ ปีการศึกษา 2569</h2>
        <p class="tag">#ข่าวสาร</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 5 พฤษภาคม 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/May/05_05.jpg" alt="20260505-1" />
      </span>
      <div class="content-text">
        <p>🟥ยื่นความประสงค์กู้ยืมผ่านระบบ Pre-Approve ได้ในระหว่างวันที่ 1 ก.ค.-20 ส.ค.69  ที่เว็บไซต์กยศ.</p>
        <p>
          🟪ศึกษาขั้นตอนการกู้ยืม หนังสือรับรองรายได้ครอบครัว ที่ <a href="https://mailkmuttacth-my.sharepoint.com/personal/jaruwan_poo_kmutt_ac_th/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fjaruwan%5Fpoo%5Fkmutt%5Fac%5Fth%2FDocuments%2Fshare%2F%E0%B8%82%E0%B8%B1%E0%B9%89%E0%B8%99%E0%B8%95%E0%B8%AD%E0%B8%99%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%81%E0%B8%B9%E0%B9%89%E0%B8%A2%E0%B8%B7%E0%B8%A1%20%E0%B8%9B%E0%B8%B52569%20%E0%B8%89%E0%B8%9A%E0%B8%B1%E0%B8%9A%E0%B8%A1%E0%B8%AB%E0%B8%B2%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A5%E0%B8%B1%E0%B8%A2%2Epdf&parent=%2Fpersonal%2Fjaruwan%5Fpoo%5Fkmutt%5Fac%5Fth%2FDocuments%2Fshare&ga=1">https://kmutt.me/การกู้ยืมปี69</a>
        </p>
        <p>🟩ศึกษาคู่มือการใช้งานระบบ Pre-Approve ที่ <a href="https://mailkmuttacth-my.sharepoint.com/personal/jaruwan_poo_kmutt_ac_th/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fjaruwan%5Fpoo%5Fkmutt%5Fac%5Fth%2FDocuments%2Fshare%2FStudent%20Pre%2DApprove%20Manual%20Edit%2Epdf&parent=%2Fpersonal%2Fjaruwan%5Fpoo%5Fkmutt%5Fac%5Fth%2FDocuments%2Fshare&ga=1">https://kmutt.me/คู่มือระบบPreApprove</a></p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
