<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260518-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>วิศวกรรมเมคคาทรอนิกส์มจธ...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          นศ.วิศวกรรมเมคคาทรอนิกส์ มจธ. โชว์ศักยภาพ เข้าร่วมแข่งขันประกวด Karakuri ในงาน INTERMACH 2026
        </h2>
        <p class="tag">#กิจกรรม</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 18 พฤษภาคม 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/May/18_05_02(1).jpg" alt="20260518-2" />
        <img src="/images/news/2569/May/18_05_02(2).jpg" alt="20260518-2" />
      </span>
      <div class="content-text">
        <p>
          เมื่อวันที่ 15 พฤษภาคม 2569 นักศึกษาภาควิชาวิศวกรรมอุตสาหการ มจธ. ได้เข้าร่วมการแข่งขันประกวดนวัตกรรม Karakuri Kaizen ภายในงาน INTERMACH 2026 ซึ่งจัดขึ้น ณ ศูนย์นิทรรศการและการประชุมไบเทค บางนา
        </p>
        <br />
        <p>การแข่งขันในครั้งนี้ ทีมตัวแทนนักศึกษา ชั้นปีที่ 2 สาขาวิชาวิศวกรรมเมคคาทรอนิกส์ จำนวน 5 คน:</p>
        <ul>
            <li>นายกฤติน กัญปานันท์</li>
            <li>นายกิตติศักดิ์ ดุจดา</li>
            <li>นายชานุเดช เมืองบุรี</li>
            <li>นายวรท โฉมทอง</li>
            <li>นายบวร คำหว่าน </li>
        </ul>
        <br />
        <p>โดยมี ผศ. ดร.เชษฐพงษ์ จรรยาอนุรักษ์ เป็นอาจารย์ที่ปรึกษา คอยให้คำแนะนำและผลักดันศักยภาพของนักศึกษาในการพัฒนาชิ้นงานอย่างใกล้ชิด</p>
        <br />
        <p>Karakuri Kaizen คือ กลไกอัจฉริยะที่ไม่ใช้ไฟฟ้าหรือพลังงานต้นกำลังจากภายนอก แต่ใช้หลักกลศาสตร์ แรงโน้มถ่วง และกลไกฟันเฟืองในการปรับปรุงกระบวนการทำงาน ซึ่งเป็นหัวใจสำคัญของการลดต้นทุนและพัฒนาอย่างยั่งยืนในอุตสาหกรรมยุคปัจจุบัน</p>
        <br />
        <p>การเข้าร่วมเวทีระดับนานาชาติอย่าง INTERMACH 2026 ในครั้งนี้ ถือเป็นโอกาสอันดีที่นักศึกษา มจธ. ได้นำความรู้จากการเรียนในสาขาวิศวกรรมเมคคาทรอนิกส์มาประยุกต์ใช้ในการแก้ไขโจทย์จริงของภาคอุตสาหกรรม พร้อมทั้งได้แลกเปลี่ยนเรียนรู้เทคโนโลยีใหม่ ๆ เพื่อนำมาพัฒนาทักษะตนเองต่อไปในอนาคต</p>
        <br />
        <p>ทางภาควิชาวิศวกรรมอุตสาหการ มจธ. ขอชื่นชมในความมุ่งมั่น ทุ่มเท และความคิดสร้างสรรค์ของอาจารย์ที่ปรึกษาและนักศึกษาทุกคน</p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
      </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
