<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260421-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>ภาควิชาวิศวกรรมอุตสาหการ...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          ภาควิชาวิศวกรรมอุตสาหการ ขอแสดงความยินดีกับ 👏 ทีม SanThai Consulting
        </h2>
        <p class="tag">#รางวัล</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 21 เมษายน 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/Apr/21_04.jpg" alt="20260421-1" />
      </span>
      <div class="content-text">
        <p>
          นักศึกษาชั้นปีที่ 1 หลักสูตรวิศวกรรมอุตสาหการ
          และหลักสูตรวิศวกรรมเมคคาทรอนิกส์ ภาควิชาวิศวกรรมอุตสาหการ
        </p>
        <ul>
          <li>✨ธนาวินด์ ดอกตาลยงค์</li>
          <li>✨ศุภกร แก้วมีสี</li>
          <li>✨สุพรรณสรณ์ สุดตา</li>
          <li>✨ณัฐณิชา บุญศิริเศรษฐ</li>
        </ul>
        <br />
        <p>
          ผลงาน “SanThai Consulting
          แพลตฟอร์มเทคโนโลยีที่เชื่อมงานหัตถกรรมไทยสู่ตลาดยุคใหม่
          จากภูมิปัญญาชุมชน สู่เศรษฐกิจสร้างสรรค์ที่เติบโตได้จริง”
        </p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
