<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260404-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>ประเมินความพร้อมในทุกขั้นตอน...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          ประเมินความพร้อมในทุกขั้นตอน มุ่งเน้นการลงมือทำผ่านโปรเจกต์จริง
        </h2>
        <p class="tag">#รางวัล</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 4 มิถุนายน 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/Jun/06_04.jpg" alt="20260604-1" />
      </span>
      <div class="content-text">
        <p>ลำดับที่ 8 🏆 ดร.สุริยพงศ์ นิลสังข์ </p>
        <p>อาจารย์ประจำภาควิชาวิศวกรรมอุตสาหการ</p>
        <p>คณะวิศวกรรมศาสตร์</p>
        <br />
        <p>“ประเมินความพร้อมในทุกขั้นตอน มุ่งเน้นการลงมือทำผ่านโปรเจกต์จริง”</p>
        <br />
        <p>อ.สุริยพงศ์ใช้ EdTech ประเมินความพร้อมของนศ.ได้อย่างไร? อ่านเพิ่มเติมได้จากบทความเต็มในลิงก์ได้เลย👉<a href="https://techintegration.ets.kmutt.ac.th/content/teaching-story/10edtech-idol-2026?utm_source=facebook&utm_medium=social&utm_campaign=edtech-idol2026&utm_content=photoset" target="_blank">https://kmutt.me/edtech-idol-2026-fb</a></p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
      </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
