<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260507-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>อัพเดตแผนการรับ...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">🛎️ อัพเดตแผนการรับ วิศวะ มจธ. รอบ TCAS3 Admission ปี 69 🧡</h2>
        <p class="tag">#สมัคร</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 7 พฤษภาคม 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/May/07_05(1).jpg" alt="20260507-1" />
        <img src="/images/news/2569/May/07_05(2).jpg" alt="20260507-1" />
        <img src="/images/news/2569/May/07_05(3).jpg" alt="20260507-1" />
      </span>
      <div class="content-text">
        <p>และสำหรับใครที่อยากรู้คะแนนต่ำสุด-สูงสุด ของแต่ละสาขาวิชาในปี 68 มดมีเกียร์รวมมาให้แล้ว❗️</p>
        <br>
        <p>
          เปิดรับสมัครที่เว็บไซต์ ▶️<a href="https://student.mytcas.com/?fbclid=IwY2xjawRpjStleHRuA2FlbQIxMABicmlkETFmTDdkMGxSRDEzdEJWbjA1c3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHroxjIbMTDmg5qjXqCtld6OBdBfyXEe_SOLqN415MQdW3u0zr5s-zkwkytU8_aem_0NKQ9psueJnVc8smrq2yew">https://student.mytcas.com</a>
        </p>
        <p>❗️ตั้งแต่วันที่ 6-12 พฤษภาคม 2569</p>
        <br />
        <p>ดูข้อมูลเพิ่มเติมเกี่ยวกับเกณฑ์การรับสมัครได้ที่เว็บไซต์ ▶️ </p>
        <h5>🗓 วันจันทร์ที่ 11 พฤษภาคม 2569</h5>
        <a href="https://join.kmutt.ac.th/news/37?fbclid=IwY2xjawRpjV9leHRuA2FlbQIxMABicmlkETFmTDdkMGxSRDEzdEJWbjA1c3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHroxjIbMTDmg5qjXqCtld6OBdBfyXEe_SOLqN415MQdW3u0zr5s-zkwkytU8_aem_0NKQ9psueJnVc8smrq2yew">https://join.kmutt.ac.th/news/37</a>
      </div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
