<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260317-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>ขอแสดงความยินดี...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          ภาควิชาวิศวกรรมอุตสาหการ คณะวิศวกรรมศาสตร์ มจธ. 🎉 ขอแสดงความยินดี 🎉
        </h2>
        <p class="tag">#รางวัล</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 17 มี.ค. 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/Mar/17_03_01.jpg" alt="20260317" />
      </span>
      <div class="content-text">
        <h5>
          ภาควิชาวิศวกรรมอุตสาหการ คณะวิศวกรรมศาสตร์ มจธ. 🎉 ขอแสดงความยินดี 🎉
        </h5>
        <p>
          นักศึกษา นายณัฐนันท์เร็วเรียบ นักศึกษาระดับปริญญาตรีชั้นปีที่ 3
          ได้รับรางวัลชนะเลิศ 🏆 พร้อมเงินรางวัล 30,000 บาท
        </p>
        <p>จากการประกวดโครงงานความยั่งยืนระดับนิสิต นักศึกษา ประจำปี 2568</p>
        <br />
        <p>
          📌 หมายเหตุ : ค่ายืนยันสิทธิ คือ ค่าลงทะเบียนในภาคเรียนที่ 1
          ของนักศึกษาชั้นปีที่ 1 ซึ่งประกอบด้วย
          ค่าบำรุงการศึกษาและค่าหน่วยกิตของแต่ละภาควิชา
        </p>
        <br />
        <p>
          พร้อมทั้งได้รับเกียรติเป็น ตัวแทนประเทศไทย 🇹🇭
          เข้าร่วมการแข่งขันในเวทีนานาชาติ
        </p>
        <p>
          ในงานประชุมวิชาการ Asian Sustainable Campus Network (ASCN Conference)
          ณ Ritsumeikan University ประเทศญี่ปุ่น 🇯🇵
        </p>
        <br />
        <h5>📌 จากผลงาน</h5>
        <p>
          “Social Innovator: Training the Trainer Program for Sustainability
          Leader by KMUTT Green Heart, King Mongkut's University of Technology
          Thonburi”
        </p>
        <h5>📍 ในการประชุมวิชาการ</h5>
        <p>
          การประชุมประจำปีเครือข่ายมหาวิทยาลัยยั่งยืนแห่งประเทศไทย ครั้งที่ 10
          (SUN Thailand)
        </p>
        <p>และ Asian Sustainable Campus Network (ASCN)</p>
        <br />
        <p>
          โดยมี Chulalongkorn University เป็นเจ้าภาพ ระหว่างวันที่ 2–3
          กุมภาพันธ์ 2569
        </p>
        <p>
          ✨
          ความสำเร็จครั้งนี้สะท้อนถึงศักยภาพและความมุ่งมั่นของนักศึกษาไทยในการขับเคลื่อนความยั่งยืนสู่ระดับสากล
          🌱🌍
        </p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
