<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../partials/navbar', { title : 'pos20260114-1'} ) %>
    <link rel="stylesheet" href="/css/news-page.css" />
    <%- include('../../../partials/Responsive') %>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">р╕лр╕Щр╣Йр╕▓р╣Бр╕гр╕Б</a>/ <a href="/news">р╕Вр╣Ир╕▓р╕зр╕кр╕▓р╕г</a>/
      <span> р╕Вр╕нр╣Бр╕кр╕Фр╕Зр╕Др╕зр╕▓р╕бр╕вр╕┤р╕Щр╕Фр╕╡р╣Гр╕Щр╕Бр╕▓р╕гр╣Бр╕Вр╣Ир╕Зр╕Вр╕▒р╕Щр╕Бр╕╡р╕мр╕▓...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          р╕Вр╕нр╣Бр╕кр╕Фр╕Зр╕Др╕зр╕▓р╕бр╕вр╕┤р╕Щр╕Фр╕╡р╣Гр╕Щр╕Бр╕▓р╕гр╣Бр╕Вр╣Ир╕Зр╕Вр╕▒р╕Щр╕Бр╕╡р╕мр╕▓р╕лр╕бр╕▓р╕Бр╕Бр╕гр╕░р╕Фр╕▓р╕Щ р╕Ыр╕гр╕░р╣Ар╕ар╕Чр╕лр╕бр╕▓р╕Бр╕ор╕нр╕к р╕Чр╕╡р╕бр╕Кр╕▓р╕в
          р╕Бр╕▓р╕гр╣Бр╕Вр╣Ир╕Зр╕Вр╕▒р╕Щр╕Бр╕╡р╕мр╕▓р╕бр╕лр╕▓р╕зр╕┤р╕Чр╕вр╕▓р╕ер╕▒р╕вр╣Бр╕лр╣Ир╕Зр╕Ыр╕гр╕░р╣Ар╕Чр╕ир╣Др╕Чр╕в р╕Др╕гр╕▒р╣Йр╕Зр╕Чр╕╡р╣И 51
        </h2>
        <p class="tag">#р╕гр╕▓р╕Зр╕зр╕▒р╕е</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 14 р╕б.р╕Д. 2569</div>
      </div>
      <div class="banner">
        <img src="/images/news/2569/Jan/14_01.jpg" alt="20260114-1" />
      </div>
      <div class="content-text">
        <p>р╕ар╕▓р╕Др╕зр╕┤р╕Кр╕▓р╕зр╕┤р╕ир╕зр╕Бр╕гр╕гр╕бр╕нр╕╕р╕Хр╕кр╕▓р╕лр╕Бр╕▓р╕г р╕Др╕Ур╕░р╕зр╕┤р╕ир╕зр╕Бр╕гр╕гр╕бр╕ир╕▓р╕кр╕Хр╕гр╣М р╕бр╕Ир╕Ш.</p>
        <h5>ЁЯОЙр╕Вр╕нр╣Бр╕кр╕Фр╕Зр╕Др╕зр╕▓р╕бр╕вр╕┤р╕Щр╕Фр╕╡р╕Бр╕▒р╕ЪЁЯОЙ</h5>
        <p>р╕Щр╕▓р╕вр╕Бр╕▒р╕Щр╕Хр╕┤р╕Щр╕▒р╕Щр╕Чр╣М р╣Ар╕ир╕гр╕йр╕Рр╕Шр╕гр╕▓р╕зр╕Зр╕ир╣М</p>
        <p>р╕Щр╕▓р╕вр╕ир╕╕р╕ар╕др╕Бр╕йр╣М р╕нр╕бр╕гр╕Бр╕┤р╕Ир╣Др╕Юр╕Ър╕╣р╕ер╕вр╣М</p>
        <p>р╕Щр╕▒р╕Бр╕ир╕╢р╕Бр╕йр╕▓р╕Кр╕▒р╣Йр╕Щр╕Ыр╕╡р╕Чр╕╡р╣И 1 р╕кр╕▓р╕Вр╕▓р╕зр╕┤р╕Кр╕▓р╣Ар╕бр╕Др╕Др╕▓р╕Чр╕гр╕нр╕Щр╕┤р╕Бр╕кр╣М</p>
        <p>
          р╣Др╕Фр╣Йр╕гр╕▒р╕Ър╣Ар╕лр╕гр╕╡р╕вр╕Нр╕Чр╕нр╕Зр╣Бр╕Фр╕З ЁЯеЙ р╣Гр╕Щр╕Бр╕▓р╕гр╣Бр╕Вр╣Ир╕Зр╕Вр╕▒р╕Щр╕Бр╕╡р╕мр╕▓р╕лр╕бр╕▓р╕Бр╕Бр╕гр╕░р╕Фр╕▓р╕Щ р╕Ыр╕гр╕░р╣Ар╕ар╕Чр╕лр╕бр╕▓р╕Бр╕ор╕нр╕к р╕Чр╕╡р╕бр╕Кр╕▓р╕в
          р╕Бр╕▓р╕гр╣Бр╕Вр╣Ир╕Зр╕Вр╕▒р╕Щр╕Бр╕╡р╕мр╕▓р╕бр╕лр╕▓р╕зр╕┤р╕Чр╕вр╕▓р╕ер╕▒р╕вр╣Бр╕лр╣Ир╕Зр╕Ыр╕гр╕░р╣Ар╕Чр╕ир╣Др╕Чр╕в р╕Др╕гр╕▒р╣Йр╕Зр╕Чр╕╡р╣И 51 "р╕нр╕┤р╕Щр╕Чр╕Щр╕┤р╕ер╣Ар╕Бр╕бр╕кр╣М 2026"
          р╕гр╕░р╕лр╕зр╣Ир╕▓р╕Зр╕зр╕▒р╕Щр╕Чр╕╡р╣И 9 - 19 р╕бр╕Бр╕гр╕▓р╕Др╕б 2569 р╕У р╕бр╕лр╕▓р╕зр╕┤р╕Чр╕вр╕▓р╕ер╕▒р╕вр╣Бр╕бр╣Ир╣Вр╕Ир╣Й р╕Ир╕▒р╕Зр╕лр╕зр╕▒р╕Фр╣Ар╕Кр╕╡р╕вр╕Зр╣Гр╕лр╕бр╣И
        </p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
