<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260325-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>ในอีก 5 ปีข้างหน้า...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">ISEE มีเรียนวิชาอะไรบ้าง?</h2>
        <p class="tag">#ISEE</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 25 มี.ค. 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/Mar/25_03_02(1).jpg" alt="20260325-2" />
        <img src="/images/news/2569/Mar/25_03_02(2).jpg" alt="20260325-2" />
        <img src="/images/news/2569/Mar/25_03_02(3).jpg" alt="20260325-2" />
        <img src="/images/news/2569/Mar/25_03_02(4).jpg" alt="20260325-2" />
        <img src="/images/news/2569/Mar/25_03_02(5).jpg" alt="20260325-2" />
        <img src="/images/news/2569/Mar/25_03_02(6).jpg" alt="20260325-2" />
        <img src="/images/news/2569/Mar/25_03_02(7).jpg" alt="20260325-2" />
        <img src="/images/news/2569/Mar/25_03_02(8).jpg" alt="20260325-2" />
        <img src="/images/news/2569/Mar/25_03_02(9).jpg" alt="20260325-2" />
        <img src="/images/news/2569/Mar/25_03_02(10).jpg" alt="20260325-2" />
        <img src="/images/news/2569/Mar/25_03_02(11).jpg" alt="20260325-2" />
        <img src="/images/news/2569/Mar/25_03_02(12).jpg" alt="20260325-2" />
      </span>
      <div class="content-text"></div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
