<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260326-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>PART 2...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          ISEE มีเรียนวิชาอะไรบ้าง? PART 2 เข้มข้นมาก
        </h2>
        <p class="tag">#ISEE</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 26 มี.ค. 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/Mar/26_03(1).jpg" alt="20260326-1" />
        <img src="/images/news/2569/Mar/26_03(2).jpg" alt="20260326-1" />
        <img src="/images/news/2569/Mar/26_03(3).jpg" alt="20260326-1" />
        <img src="/images/news/2569/Mar/26_03(4).jpg" alt="20260326-1" />
        <img src="/images/news/2569/Mar/26_03(5).jpg" alt="20260326-1" />
        <img src="/images/news/2569/Mar/26_03(6).jpg" alt="20260326-1" />
        <img src="/images/news/2569/Mar/26_03(7).jpg" alt="20260326-1" />
        <img src="/images/news/2569/Mar/26_03(8).jpg" alt="20260326-1" />
        <img src="/images/news/2569/Mar/26_03(9).jpg" alt="20260326-1" />
        <img src="/images/news/2569/Mar/26_03(10).jpg" alt="20260326-1" />
        <img src="/images/news/2569/Mar/26_03(11).jpg" alt="20260326-1" />
        <img src="/images/news/2569/Mar/26_03(12).jpg" alt="20260326-1" />
        <img src="/images/news/2569/Mar/26_03(13).jpg" alt="20260326-1" />
        <img src="/images/news/2569/Mar/26_03(14).jpg" alt="20260326-1" />
      </span>
      <div class="content-text"></div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
