<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260304-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>เปิดรับสมัครแล้ว! รอบที่ 2...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          เปิดรับสมัครแล้ว! รอบที่ 2 โครงการทายาททางวิชาชีพและธุรกิจ ปีการศึกษา
          2569
        </h2>
        <p class="tag">#รับสมัคร #ISEE</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 04 มี.ค. 2569</div>
      </div>
      <div class="banner">
        <img src="/images/news/2569/Mar/04_03.jpg" alt="20260304" />
      </div>
      <div class="content-text">
        <p>
          หลักสูตร วิศวกรรมระบบอุตสาหกรรมและการประกอบการธุรกิจ (หลักสูตรใหม่)
          ภาควิชาวิศวกรรมอุตสาหการ คณะวิศวกรรมศาสตร์
          มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี
        </p>
        <h5>🗓 รับสมัครตั้งแต่วันที่ 9 – 30 มีนาคม 2569</h5>
        <p>🌐 ดูรายละเอียดเพิ่มเติมและสมัครได้ที่</p>
        <a
          href="https://join.kmutt.ac.th/projects/254b1e8a-7d60-4c16-90e3-7bf3171d7ad3?fbclid=IwY2xjawQXOKdleHRuA2FlbQIxMABicmlkETE3Mm95ajQyUFZQeVRxWklIc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHsIWJsGVQBZDc3xL2G0vewNiGrDUYs_YLegz6XuXaoP52erUG3S3sMo8x7kH_aem_2Ox2XgP0JTDQr_ac7LyBsQ"
          >👉join.kmutt.ac.th</a
        >
        <br />
        <h5>🔹 สำหรับผู้สมัครประเภท “ทายาทอุตสาหกรรม”</h5>
        <p>คุณสมบัติและเอกสารประกอบการสมัคร มีดังนี้</p>
        <ul>
          <li>
            เอกสารรับรองการประกอบธุรกิจด้านอุตสาหกรรม ออกโดยหน่วยงานภาครัฐ
            หรือสมาคมวิชาชีพที่เกี่ยวข้องกับสาขาวิชาที่สมัคร
          </li>
          <li>
            เอกสารรับรองและหลักฐานแสดงการเป็นทายาทกิจการ (บุตรของเจ้าของกิจการ
            หรือหลานสายตรงของปู่ ย่า ตา หรือยาย ที่เป็นเจ้าของกิจการ)
          </li>
        </ul>
        <h5>โดยกิจการต้อง</h5>
        <p>✔️ จดทะเบียนการค้าเป็นนิติบุคคล</p>
        <p>✔️ ดำเนินธุรกิจอย่างต่อเนื่องมาแล้วไม่น้อยกว่า 3 ปี</p>
        <p>
          พร้อมแนบหลักฐาน เช่น หนังสือรับรองการจดทะเบียนการค้า
          เอกสารแสดงความเป็นเจ้าของกิจการ และ/หรือ หลักฐานการเสียภาษีย้อนหลัง 2
          ปี
        </p>
        <p>
          ✨ โอกาสสำหรับทายาทธุรกิจอุตสาหกรรม
          ที่ต้องการต่อยอดองค์ความรู้ด้านวิศวกรรม
          พร้อมพัฒนาธุรกิจครอบครัวอย่างเป็นระบบ
        </p>
        <p>สอบถามเพิ่มเติมได้ที่ ภาควิชาวิศวกรรมอุตสาหการ แล้วพบกันนะคะ 💛</p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
