<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260319-2'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span> สร้างวิศวกรนักธุรกิจ...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          สร้างวิศวกรนักธุรกิจ... จากรากฐานวิศวกรรมที่แข็งแกร่ง
        </h2>
        <p class="tag">#รับสมัคร #PRE #MCE #ISEE</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 19 มี.ค. 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/Mar/19_03_02.jpg" alt="20260319" />
      </span>
      <div class="content-text">
        <p>
          เราไม่ได้เริ่มจากศูนย์ เพราะ ISEE ถูกสร้างบนฐานรากที่ทรงพลังของ
          ภาควิชาวิศวกรรมอุตสาหการ (Production Engineering)
          ที่มีประวัติศาสตร์ยาวนานและทรัพยากรพร้อมที่สุด!
        </p>
        <h5>Production Engineering (PE)</h5>
        <h5>พลังแห่งการผลิตและจัดการระบบ</h5>
        <p>
          ต้นตำรับการบริหารโรงงานและระบบการผลิตที่แม่นยำ นักศึกษา ISEE
          จะได้เรียนรู้ทักษะการ "Run the System" ให้มีประสิทธิภาพสูงสุด
          ลดความสูญเสีย เพิ่มผลกำไร ด้วยความเชี่ยวชาญจากภาควิชาอุตสาหการโดยตรง
        </p>
        <h5>Mechatronics Engineering (MCE)</h5>
        <h5>พลังแห่งการออกแบบอนาคต</h5>
        <p>
          หัวใจสำคัญของอุตสาหกรรม 4.0 คือการ "Build the Machine" ที่ชาญฉลาด
          เรามีทรัพยากรและผู้เชี่ยวชาญด้านหุ่นยนต์ ระบบ Automation
          และการออกแบบเครื่องจักรสมัยใหม่
        </p>
        <h5>ISEE: The Entrepreneurial Edge</h5>
        <h5>เราจะหล่อหลอมให้เป็น "วิศวกรนักธุรกิจ"</h5>
        <p>
          ISEE ให้คุณได้ใช้ทรัพยากรจริง ห้อง Lab จริง
          และความเชี่ยวชาญจริงจากภาควิชาวิศวกรรมอุตสาหการ
          เพื่อก้าวสู่การเป็นผู้ประกอบการเทคโนโลยีตัวจริง!
        </p>
        <br />
        <h5>[เปิดรับสมัครแล้ววันนี้!]</h5>
        <a href="https://join.kmutt.ac.th/degree" target="_blank"
          >https://join.kmutt.ac.th/degree</a
        >
        <p>"Engineer the System, Build the Business"</p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
