<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260407-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>ประกาศสำหรับผู้มีสิทธิ์...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">📢 ประกาศสำหรับผู้มีสิทธิ์สอบสัมภาษณ์</h2>
        <p class="tag">#รับสมัคร</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 14 เมษายน 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/Apr/14_04.jpg" alt="20260414-1" />
      </span>
      <div class="content-text">
        <h5>สำหรับผู้สมัครในโครงการ</h5>
        <ul>
          <li>1️⃣ Active Recruitment #2</li>
          <li>2️⃣ TGAT/TPAT</li>
          <li>3️⃣ ทายาททางวิชาชีพและธุรกิจ (ทายาทอุตสาหกรรม)</li>
        </ul>
        <br />
        <h5>🗓 กำหนดการสอบสัมภาษณ์ วันจันทร์ที่ 20 เมษายน 2569</h5>
        <br />
        <p>🎓 สาขาที่เปิดรับ</p>
        <ul>
          <li>• วิศวกรรมอุตสาหการ</li>
          <li>• วิศวกรรมเมคคาทรอนิกส์</li>
          <li>• วิศวกรรมระบบอุตสาหกรรมและการประกอบการธุรกิจ</li>
        </ul>
        <br />
        <h5>📌 สำคัญ</h5>
        <p>
          ขอให้ผู้มีสิทธิ์สอบสัมภาษณ์ เข้าร่วมกลุ่ม Line
          (แจ้งผ่านอีเมลที่ให้ไว้) เพื่อรับทราบรายละเอียด
          และกำหนดการสัมภาษณ์ต่อไป
        </p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
