<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20250206-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <link rel="stylesheet" href="/css/assets/Responsive.css" />
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">р╕лр╕Щр╣Йр╕▓р╣Бр╕гр╕Б</a>/ <a href="/news">р╕Вр╣Ир╕▓р╕зр╕кр╕▓р╕г</a>/
      <span>р╕Бр╕│р╕лр╕Щр╕Фр╕Бр╕▓р╕гр╕кр╕нр╕Ър╕кр╕▒р╕бр╕ар╕▓р╕йр╕Ур╣М...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          р╕Бр╕│р╕лр╕Щр╕Фр╕Бр╕▓р╕гр╕кр╕нр╕Ър╕кр╕▒р╕бр╕ар╕▓р╕йр╕Ур╣М р╣Вр╕Др╕гр╕Зр╕Бр╕▓р╕г Active recruitment р╕гр╕нр╕Ъ TCAS1тЬЕ
        </h2>
        <p class="tag">#р╕гр╕▒р╕Ър╕кр╕бр╕▒р╕Др╕г #PRE #MCE</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 06 р╕Б.р╕Ю. 2569</div>
      </div>
      <div class="banner">
        <img src="/images/news/2569/Feb/06_02.jpg" alt="20250206" />
      </div>
      <p class="content-text">
        ЁЯУгр╕кр╕▓р╕бр╕▓р╕гр╕Цр╕Хр╕┤р╕Фр╕Хр╕▓р╕бр╕Ыр╕гр╕░р╕Бр╕▓р╕ир╣Ар╕Юр╕┤р╣Ир╕бр╣Ар╕Хр╕┤р╕бр╣Др╕Фр╣Йр╕Чр╕╡р╣И ЁЯМР<a
          href="https://join.kmutt.ac.th/?fbclid=IwY2xjawQKLbpleHRuA2FlbQIxMABicmlkETI5VVMzd3N5TWZZbFVOdHlEc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHkMrqXwpiijEAB3sebNLM9PQn8JF34ewlhEg_QLk7VyE-2C2h8nHlYaNTSck_aem_4FyWqrBtEVfu23IZ1MhTgg"
          target="_blank"
          >join.kmutt.ac.th</a
        >
        р╕лр╕гр╕╖р╕н ЁЯУйр╕Чр╕▓р╕Зр╕нр╕╡р╣Ар╕бр╕е р╕лр╕бр╕▓р╕вр╣Ар╕лр╕Хр╕╕: р╕зр╕┤р╕ир╕зр╕Бр╕гр╕гр╕бр╕кр╕┤р╣Ир╕Зр╣Бр╕зр╕Фр╕ер╣Йр╕нр╕бр╕Ир╕▒р╕Фр╕кр╕нр╕Ър╣Бр╕ер╣Йр╕з
      </p>
      <div class="container-pic" style="position: absolute">
        <img src="" alt="" />
      </div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
