<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../partials/navbar', { title : 'pos20260102-1'} ) %>
    <link rel="stylesheet" href="/css/news-page.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">р╕лр╕Щр╣Йр╕▓р╣Бр╕гр╕Б</a>/ <a href="/news">р╕Вр╣Ир╕▓р╕зр╕кр╕▓р╕г</a>/
      <span> р╕Ыр╕гр╕░р╕Кр╕▓р╕кр╕▒р╕бр╕Юр╕▒р╕Щр╕Шр╣Мр╕Вр╣Йр╕нр╕бр╕╣р╕е р╕кр╕│р╕лр╕гр╕▒р╕Ъ р╕Щр╕и....</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          р╕Ыр╕гр╕░р╕Кр╕▓р╕кр╕▒р╕бр╕Юр╕▒р╕Щр╕Шр╣Мр╕Вр╣Йр╕нр╕бр╕╣р╕е р╕кр╕│р╕лр╕гр╕▒р╕Ъ р╕Щр╕и. р╕Ы.р╕Хр╕гр╕╡ р╕гр╕лр╕▒р╕к 68
          р╕Чр╕╡р╣Ир╣Др╕бр╣Ир╕Ьр╣Ир╕▓р╕Щр╣Ар╕Бр╕Ур╕Ср╣Мр╕гр╕▓р╕вр╕зр╕┤р╕Кр╕▓р╣Вр╕бр╕Фр╕╣р╕ер╕Юр╕╖р╣Йр╕Щр╕Рр╕▓р╕Щр╕Др╕Ур╕┤р╕Хр╕ир╕▓р╕кр╕Хр╕гр╣М
        </h2>
        <p class="tag">#р╕Вр╣Ир╕▓р╕зр╕кр╕▓р╕г</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 02 р╕б.р╕Д. 2569</div>
      </div>
      <div class="banner">
        <img src="/images/news/2569/Jan/02_01_(1).jpg" alt="20260102" />
      </div>
      <div class="content-text">
        <h5>
          ЁЯЧТя╕Пр╕Ыр╕гр╕░р╕Кр╕▓р╕кр╕▒р╕бр╕Юр╕▒р╕Щр╕Шр╣Мр╕Вр╣Йр╕нр╕бр╕╣р╕е р╕кр╕│р╕лр╕гр╕▒р╕Ъ р╕Щр╕и. р╕Ы.р╕Хр╕гр╕╡ р╕гр╕лр╕▒р╕к 68
          р╕Чр╕╡р╣Ир╣Др╕бр╣Ир╕Ьр╣Ир╕▓р╕Щр╣Ар╕Бр╕Ур╕Ср╣Мр╕гр╕▓р╕вр╕зр╕┤р╕Кр╕▓р╣Вр╕бр╕Фр╕╣р╕ер╕Юр╕╖р╣Йр╕Щр╕Рр╕▓р╕Щр╕Др╕Ур╕┤р╕Хр╕ир╕▓р╕кр╕Хр╕гр╣М
        </h5>
        <h5>
          тЪая╕Пр╣Вр╕Ыр╕гр╕Фр╕ир╕╢р╕Бр╕йр╕▓р╕Вр╣Йр╕нр╕бр╕╣р╕ер╣Ар╕Зр╕╖р╣Ир╕нр╕Щр╣Др╕Вр╕Вр╕нр╕Зр╕Бр╕▓р╕гр╕ер╕Зр╕Чр╕░р╣Ар╕Ър╕╡р╕вр╕Щр╣Ар╕гр╕╡р╕вр╕Щр╕гр╕▓р╕вр╕зр╕┤р╕Кр╕▓
          р╣Ар╕Юр╕╖р╣Ир╕нр╕Ыр╕гр╕░р╕Бр╕нр╕Ър╕Бр╕▓р╕гр╕зр╕▓р╕Зр╣Бр╕Ьр╕Щр╕Бр╕▓р╕гр╣Ар╕гр╕╡р╕вр╕Щр╣Бр╕ер╕░р╕ер╕Зр╕Чр╕░р╣Ар╕Ър╕╡р╕вр╕Щ
        </h5>
        <h5>ЁЯНКр╕кр╕▓р╕бр╕▓р╕гр╕Цр╕кр╕нр╕Ър╕Цр╕▓р╕бр╕Вр╣Йр╕нр╕бр╕╣р╕ер╣Ар╕Юр╕┤р╣Ир╕бр╣Ар╕Хр╕┤р╕бр╕Ьр╣Ир╕▓р╕Щ Line Open Chat</h5>
      </div>
      <div class="container-pic">
        <img src="/images/news/2569/Jan/02_01_(1).jpg" alt="20260102(1)" />
        <img src="/images/news/2569/Jan/02_01_(2).jpg" alt="20260102(2)" />
        <img src="/images/news/2569/Jan/02_01_(3).jpg" alt="20260102(3)" />
      </div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
