<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260527-2'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>สภาวิศวกร เช็กลิสต์ 7 สาขา...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          สภาวิศวกร เช็กลิสต์ 7 สาขา "วิศวกรรมควบคุม"ที่ต้องมีใบอนุญาตฯ
        </h2>
        <p class="tag">#ข่าวสาร</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 27 พฤษภาคม 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/May/27_05_02.jpg" alt="20260527-2" />
      </span>
      <div class="content-text">
        <h5>เช็กให้ชัวร์ก่อนเริ่มงาน! 📝🧑🏻‍🔧</h5>
        <br />
        <p>7 สาขาวิชาชีพวิศวกรรมควบคุมที่ต้องมี “ใบอนุญาตประกอบวิชาชีพ” ตามกฎหมาย </p>
        <ul>
            <li>1️⃣ วิศวกรรมโยธา</li>
            <li>2️⃣ วิศกรรมเครื่องกล</li>
            <li>3️⃣ วิศวกรรมไฟฟ้า</li>
            <li>4️⃣ วิศวกรรมอุตสาหการ</li>
            <li>5️⃣ วิศวกรรมเคมี</li>
            <li>6️⃣ วิศวกรรมเหมืองแร่</li>
            <li>7️⃣ วิศวกรรมสิ่งแวดล้อม</li>
        </ul>
        <br />
        <p>🔗สำหรับสมาชิกที่ต้องการยื่นขอใบอนุญาตประกอบวิชาชีพ สามารถศึกษารายละเอียดได้ที่ : <a href="https://service.coe.or.th/?fbclid=IwY2xjawSEu-hleHRuA2FlbQIxMABicmlkETFUTmlrbXl6VlhDdFhtR1dDc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHqR-kB-euOgGXERjm3SbiQeZc_2PM5D6fbZ1RJBQ8fmBVU4GO01SgHNqwyTd_aem_ckTVTCb-ATGvXK3N6ebxbA" target="_blank">https://service.coe.or.th/</a></p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
      </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
