<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../partials/navbar', { title : 'pos20250124-1'} ) %>
    <link rel="stylesheet" href="/css/news-page.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span> KMUTT MEGA JOB &...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          แผนผังและรายชื่อบริษัทที่เข้าร่วมงาน KMUTT MEGA JOB & EDUCATION FAIR
          2026
        </h2>
        <p class="tag">#กิจกรรม</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 24 ม.ค. 2569</div>
      </div>
      <div class="banner">
        <img src="/images/news/2569/Jan/24_01_(1).jpg" alt="20250124" />
      </div>
      <div class="content-text">
        <p>📅 วันที่: 27 – 29 มกราคม 2569</p>
        <p>⏰ เวลา: 9:00 – 16:00 น.</p>
        <p>
          📍 สถานที่: ชั้น 3 โรงฝึกพลศึกษา​ อาคารพระจอมเกล้าราชานุสรณ์ 190 ปี
          (S14) มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี (KMUTT)
        </p>
        <p>พบกับกิจกรรมแนะนำรูปแบบการฝึกงาน</p>
        <p>✨ พบกับบริษัทชั้นนำและสถาบันการศึกษาจำนวนมาก</p>
        <p>✨ โอกาสสมัครงาน ฝึกงาน และศึกษาต่อในที่เดียว</p>
        <p>✨ รับคำแนะนำด้านอาชีพจากผู้เชี่ยวชาญโดยตรง</p>
        <p>
          📄 อย่าลืมเตรียม Resume มาด้วย!
          เพื่อเพิ่มโอกาสในการสมัครงานและพูดคุยกับบริษัทที่สนใจ
        </p>
        <hr />
        <p>
          📌 Layout and List of Participating Companies KMUTT MEGA JOB &
          EDUCATION FAIR 2026
        </p>
        <p>📅 Date: January 27 – 29, 2026</p>
        <p>⏰ Time: 9:00 AM – 4:00 PM</p>
        <p>
          📍 Venue: 3rd Floor, Physical Education Training Hall King Mongkut’s
          Memorial Building, 190th Anniversary (S14) King Mongkut’s University
          of Technology Thonburi (KMUTT)
        </p>
        <p>✨ Meet leading companies and educational institutions</p>
        <p>
          ✨ Opportunities for full-time jobs, internships, and further study
        </p>
        <p>✨ Get career advice directly from professionals</p>
        <p>
          📄 Please bring your resume with you! To increase your chances of
          applying for jobs and speaking with companies of interest.
        </p>
      </div>
      <div class="container-pic">
        <img src="/images/news/2569/Jan/24_01_(1).jpg" alt="20250124" />
        <img src="/images/news/2569/Jan/24_01_(2).jpg" alt="20250124-2" />
        <img src="/images/news/2569/Jan/24_01_(3).jpg" alt="20250124-3" />
        <img src="/images/news/2569/Jan/24_01_(4).jpg" alt="20250124-4" />
      </div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
