<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../partials/navbar', { title : 'pos20250130-1'} ) %>
    <link rel="stylesheet" href="/css/news-page.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>66 ปี อุตเมคคา</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">66 ปี ของการกลับมารวมตัวกัน “อุตเมคคา“</h2>
        <p class="tag">#กิจกรรม #ชมรมมด #MCE</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 30 ม.ค. 2569</div>
      </div>
      <div class="banner">
        <img src="/images/news/2569/Jan/30_01.jpg" alt="20250130" />
      </div>
      <div class="content-text">
        <p>
          ✨… วันเวลาผ่านไป แต่เรื่องราวยังรอให้เล่าต่อ ….
          ขอเชิญชวนพวกผองพี่น้องมาทวนความทรงจำเก่า ๆ กับผู้คนเดิมที่คิดถึง
        </p>
        <p>
          🎞️ยินดีต้อนรับการกลับมาเจอกันอีกครั้ง ของการพบปะรุ่นพี่ รุ่นน้อง
          เพื่อน ๆ รวมถึงอาจารย์ที่พวกเรานั้นรัก เคารพ และคิดถึง
          มาร่วมกันคิดถึงวันเก่า ๆ ที่เลยผ่านไปด้วยกาลเวลา
          แต่ใจยังคุ้นเคยไปพร้อม ๆ กัน กับงาน “Reunion ครั้งที่ 13”⌛️✨
        </p>
        <p>➖ในวันเสาร์ที่ 25 เมษายน 2569➖</p>
        <p>
          📍ณ อาคารอเนกประสงค์ สปท. (สถาบันวิชาการป้องกันประเทศ) 64
          ถนนวิภาวดีรังสิต แขวงดินแดง เขตดินแดง กรุงเทพมหานคร 10400 🕰️ เวลา
          18.00 - 22.00 น.
        </p>
        <p>แล้วมาพบกันอีกครั้ง ในวันที่ความทรงจำยังเหมือนเดิม</p>
      </div>
      <div class="container-pic" style="position: absolute">
        <img src="" alt="" />
      </div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
