<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../partials/navbar', { title : 'pos20250129-1'} ) %>
    <link rel="stylesheet" href="/css/news-page.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span> Co-op Day 2025</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          Co-op Day 2025 ภาควิชาวิศวกรรมอุตสาหการ คณะวิศวกรรมศาสตร์ มจธ.
        </h2>
        <p class="tag">#กิจกรรม #PRE</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 29 ม.ค. 2569</div>
      </div>
      <div class="banner">
        <img src="/images/news/2569/Jan/29_01.jpg" alt="20250129" />
      </div>
      <div class="content-text">
        <p>📅 2 กุมภาพันธ์ 2569</p>
        <p>⏰ เวลา 09.30 – 15.00 น.</p>
        <p>📍 บริเวณ ชั้น 1 อาคารวิศววัฒนะ</p>
        <p>พบกับกิจกรรมแนะนำรูปแบบการฝึกงาน</p>
        <p>✨ สหกิจศึกษา (Co-op)</p>
        <p>✨ การฝึกงานภาคอุตสาหกรรม</p>
        <p>✨ Work-integrated Learning (WiL)</p>
        <p>พร้อมข้อมูลแนะแนวการเตรียมตัวฝึกงาน การเลือกสถานประกอบการ</p>
        <p>และพูดคุยแลกเปลี่ยนประสบการณ์จากอาจารย์และรุ่นพี่ ✨</p>
        <p>แล้วมาพบกันนะคะ 💙</p>
      </div>
      <div class="container-pic" style="position: absolute">
        <img src="" alt="" />
      </div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
