<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260612-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>น้อมสํานึกในพระกรุณาธิคุณอันหาที่สุดมิได้...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">น้อมสํานึกในพระกรุณาธิคุณอันหาที่สุดมิได้</h2>
        <p class="tag">#ข่าวสาร</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 12 มิถุนายน 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/Jun/06_12.jpg" alt="20260612-1" />
      </span>
      <div class="content-text">
        <h5>
          น้อมสํานึกในพระกรุณาธิคุณอันหาที่สุดมิได้ ข้าพระพุทธเจ้า คณาจารย์
          บุคลากร และนักศึกษา ภาควิชาวิศวกรรมอุตสาหการ คณะวิศวกรรมศาสตร์ มจธ.
        </h5>
        <div class="container-pic" style="position: absolute"></div>
      </div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
