<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260410-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>ขอแสดงความยินดี...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          ขอแสดงความยินดี และร่วมเป็นกำลังใจกับทีม "SanThai Consulting"
          ตัวแทนนักศึกษา วิศวกรรมอุตสาหการ KMUTT สู่รอบ 10
          ทีมสุดท้ายระดับประเทศ!
        </h2>
        <p class="tag">#รางวัล</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 10 เม.ย. 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/Apr/10_04_01.jpg" alt="20260410-1" />
      </span>
      <div class="content-text">
        <p>
          สร้างชื่อเสียงกระหึ่มวงการนวัตกรรม! นักศึกษาชั้นปีที่ 1
          สาขาวิชาวิศวกรรมอุตสาหการ และสาขาวิชาวิศวกรรมเมคคาทรอนิกส์
          โชว์ศักยภาพผ่านเข้ารอบ 10 ทีมสุดท้าย จากผู้สมัครกว่า
        </p>
        <p>
          126 ทีมทั่วประเทศ ในโครงการ "Youth Hackathon Inspired by the Royal
          Initiatives of the Queen Mother 2026"
        </p>
        <br />
        <h5>👥 สมาชิกทีม SanThai Consulting:</h5>
        <ul>
          <li>นายธนาวินด์ ดอกตาลยงค์</li>
          <li>นายศุภกร แก้วมีสี</li>
          <li>น.ส.สุพรรณสรณ์ สุดตา</li>
          <li>น.ส.ณัฐณิชา บุญศิริเศรษฐ</li>
        </ul>
        <br />
        <p>💰 สรุปทุนสนับสนุนที่ได้รับในปัจจุบัน:</p>
        <p>
          ✅ รับเงินทุนพัฒนาผลงาน 100,000 บาท เพื่อต่อยอดไอเดียสู่ Prototype
          จริง
        </p>
        <p>
          ✅ รับทุนสนับสนุนเพิ่มเติม 30,000 บาท จาก ทพ. พงษ์ศักดิ์
          เกิดวงศ์บัณฑิต สมาชิกวุฒิสภา เพื่อผลักดันโครงการให้สำเร็จ
        </p>
        <p>
          ✅ ได้สิทธิ์เข้าร่วม Bootcamp สุด Exclusive
          และเตรียมชิงชัยในรอบสุดท้ายเดือนกรกฎาคมนี้!
        </p>
        <br />
        <p>
          มาร่วมส่งแรงใจเชียร์น้องๆ ให้คว้าโอกาสไปดูงาน ณ Huawei เมืองเซินเจิ้น
          ประเทศจีน กันต่อไปครับ! 🚀🇨🇳
        </p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
