<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260410-2'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>ภาควิชาวิศวกรรมอุตสาหการ...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          ภาควิชาวิศวกรรมอุตสาหการ ขอแสดงความยินดีแก่นักศึกษาทุกท่าน
          ที่ได้รับรางวัลเชิดชูเกียรตินักกิจกรรม ประจำปีการศึกษา 2568
        </h2>
        <p class="tag">#รางวัล</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 10 เม.ย. 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/Apr/10_04_02.jpg" alt="20260410-2" />
      </span>
      <div class="content-text">
        <p>
          การทำกิจกรรมในระหว่างการศึกษา นับเป็นการฝึกฝนตนเอง ให้มีความรับผิดชอบ
          มีความกล้า มีความมั่นใจในการสร้างความเปลี่ยนแปลง
        </p>
        <p>
          ขอชื่นชมนักศึกษาของภาควิชาวิศวกรรมอุตสาหการ จำนวน 6 คน
          ที่ได้ทุ่มเทกำลังความสามารถเพื่อพัฒนางานกิจกรรมทั้งของภาควิชา
          และของมหาวิทยาลัย ดังรายนามต่อไปนี้
        </p>
        <br />
        <ul>
          <li>นางสาวกองทอง เชื่อมทอง ชั้นปีที่ 4</li>
          <li>นางสาวศุภิสรา พูลศิริ ชั้นปีที่ 4</li>
          <li>นายกันต์พจน์ วัฒนชลสิทธิ์ ชั้นปีที่ 3</li>
          <li>นางสาวณัฐนันท์ ปินจันทา ชั้นปีที่ 3</li>
          <li>นายวัฒนพล ดังก้อง ชั้นปีที่ 3</li>
          <li>นางสาวณัฐนันท์ เร็วเรียบ ชั้นปีที่ 3</li>
        </ul>
      </div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
