<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260407-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>ตอกย้ำความเป็นที่ 1...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          ตอกย้ำความเป็นที่ 1 ด้านวิศวกรรม! เด็ก PE มจธ. คว้ารางวัลระดับโลกที่
          WCAE 2025
        </h2>
        <p class="tag">#รางวัล</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 07 เม.ย. 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/Apr/07_04.jpg" alt="20260407-1" />
      </span>
      <div class="content-text">
        <p>
          อีกหนึ่งหน้าประวัติศาสตร์!
          เมื่อผลงานความสำเร็จของนักศึกษาภาควิชาวิศวกรรมอุตสาหการ
          คณะวิศวกรรมศาสตร์ มจธ
        </p>
        <p>
          เข้าตากรรมการในระดับสากลจนคว้ารางวัล “Allen Green Award” (Best Paper)
          จากงานประชุมวิชาการระดับโลก WCAE 2025 มาครองได้สำเร็จ!
        </p>
        <p>
          นี่คือเครื่องพิสูจน์ว่ามาตรฐานการเรียนการสอนและงานวิจัยของวิศวะ บางมด
          ไม่เคยเป็นรองใครในเวทีสากล เราปั้น "วิศวกร" ที่ไม่ได้มีดีแค่ในตำรา
          แต่สร้างนวัตกรรมที่โลกยอมรับ
        </p>
        <br />
        <h5>
          "มจธ. มากกว่าความรู้ แต่ เตรียมผู้เรียนให้พร้อมปรับตัว
          และพร้อมนำหน้าในทุกจังหวะที่โลกเปลี่ยน"
        </h5>
        <br />
        <p>Email: admission@kmutt.ac.th</p>
        <p>Contact Information: 0 2470 8333</p>
        <p>
          📍อาคาร Discovery Center (S1) 126 ถนนประชาอุทิศ แขวงบางมด เขตทุ่งครุ
          กรุงเทพมหานคร
        </p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
