<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260408-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>เปิดรับสมัครนักศึกษาเพื่อเข้ารับการ...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          เปิดรับสมัครนักศึกษาเพื่อเข้ารับการพิจารณาทุนการศึกษา ประจำปีการศึกษา 2569 จำนวนทั้งสิ้น 15 ทุน
        </h2>
        <p class="tag">#ทุนการศึกษา</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 8 มิถุนายน 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/Jun/06_08.jpg" alt="20260608-1" />
      </span>
      <div class="content-text">
        <p>ภาควิชาวิศวกรรมอุตสาหการ คณะวิศวกรรมศาสตร์ เปิดรับสมัครนักศึกษาเพื่อเข้ารับการพิจารณาทุนการศึกษา ประจำปีการศึกษา 2569 จำนวนทั้งสิ้น 15 ทุน เพื่อส่งเสริมโอกาสทางการศึกษาและสนับสนุนนักศึกษาที่ขาดแคลนทุนทรัพย์ มีความประพฤติดี สำหรับนักศึกษาชั้นปีที่ 2-4</p>
        <br />
        <h5>ทุนการศึกษาที่เปิดรับสมัคร ประกอบด้วย</h5>
        <ul>
            <li>• ทุนชมรมมดอุตสาหการและเมคคาทรอนิกส์ จำนวน 10 ทุน</li>
            <li>• ทุน ผศ. พยูร เกตุกราย จำนวน 2 ทุน</li>
            <li>• ทุนดอกผลกองทุนการศึกษา รศ. กิติศักดิ์ พลอยพานิชเจริญ จำนวน 1 ทุน</li>
            <li>• ทุนการศึกษาภาควิชาวิศวกรรมอุตสาหการ จำนวน 2 ทุน</li>
        </ul>
        <br />
        <p>นักศึกษาที่ประสงค์สมัครขอรับทุนการศึกษาสามารถศึกษารายละเอียดคุณสมบัติ หลักเกณฑ์ และเงื่อนไขการสมัครได้ตามประกาศที่กำหนด</p>
        <br />
        <p>หมายเหตุ: มูลค่าทุนการศึกษาเป็นไปตามหลักเกณฑ์และอัตราค่าลงทะเบียนที่มหาวิทยาลัยกำหนด ซึ่งอาจแตกต่างกันตามรหัสนักศึกษาและปีการเข้าศึกษา</p>
        <br />
        <p>ภาควิชาวิศวกรรมอุตสาหการ</p>
        <p>คณะวิศวกรรมศาสตร์</p>
        <br />
        <h5>📅 กำหนดการ</h5>
        <p>เปิดรับสมัคร: ตั้งแต่วันนี้ – 14 มิถุนายน 2569</p>
        <p>ยื่นเอกสารการสมัครผ่านช่องทางออนไลน์: ภายในวันที่ 14 มิถุนายน 2569</p>
        <br />
        <p>📍ดาวโหลดใบสมัครดังลิงก์: <a href="https://drive.google.com/file/d/1kzphdO48MBudwYQrIHWVHYnITV-NsOxk/view?usp=drive_link" target="_blank">https://kmutt.me/แบบฟอร์มใบสมัคร</a></p>
        <p>📍ช่องทางการส่งเอกสาร:<a href="https://forms.cloud.microsoft/pages/responsepage.aspx?id=3DJEb9IgHUSx26wzgLpjPWrZFOgYJ19Mg6mZqcAQ6ltUMEE4M09FU1I2MjRJWkY4QkJXRjIxTDZURC4u&route=shorturl" target="_blank">https://kmutt.me/ระบบส่งเอกสารสมัครทุน</a></p>
        <br />
        <h5>📞 ติดต่อสอบถาม</h5>
        <p>ภาควิชาวิศวกรรมอุตสาหการ</p>
        <p>โทรศัพท์: 0-2470-9176</p>
      <div class="container-pic" style="position: absolute"></div>
      </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
