<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260316-3'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>อัพเดทค่าเทอม...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">อัพเดทค่าเทอมวิศกรรมศาสตร์ มจธ.</h2>
        <p class="tag">#ข่าวสาร</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 16 มี.ค. 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/Mar/16_03_03(01).jpg" alt="20260316" />
        <img src="/images/news/2569/Mar/16_03_03(02).jpg" alt="20260316" />
      </span>
      <div class="content-text">
        <h5>📌 อัพเดทค่าเทอมวิศกรรมศาสตร์ มจธ. 💰</h5>
        <p>ค่าเทอมแต่ละหลักสูตร/ภาควิชาต่างกันอย่างไร ⁉️</p>
        <p>ค่ายืนยันสิทธิประมาณเท่าไหร่ ⁉️</p>
        <p>วันนี้แอดมินรวบรวมค่าเทอมของทุกภาควิชามาไว้ให้แล้ว ✨</p>
        <br />
        <p>
          📌 หมายเหตุ : ค่ายืนยันสิทธิ คือ ค่าลงทะเบียนในภาคเรียนที่ 1
          ของนักศึกษาชั้นปีที่ 1 ซึ่งประกอบด้วย
          ค่าบำรุงการศึกษาและค่าหน่วยกิตของแต่ละภาควิชา
        </p>
        <br />
        <p>⏰ : ข้อมูลอัพเดทวันที่ 2 กุมภาพันธ์ 2569</p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
