<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../partials/navbar', { title : 'pos20260121-1'} ) %>
    <link rel="stylesheet" href="/css/news-page.css" />
    <%- include('../../../partials/Responsive') %>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>ความประทับใจครั้ง...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          ความประทับใจครั้งอยู่ใน มจธ. "การที่เราคอยพัฒนาตัวเองไปเรื่อย ๆ
          เราจะเก่งขึ้นเอง"
        </h2>
        <p class="tag">#ข่าวสาร</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 21 ม.ค. 2569</div>
      </div>
      <div class="banner">
        <img src="/images/news/2569/Jan/21_01.jpg" alt="20260121" />
      </div>
      <div class="content-text">
        <h5>ความประทับใจครั้งอยู่ใน มจธ.</h5>
        <p>"การที่เราคอยพัฒนาตัวเองไปเรื่อย ๆ เราจะเก่งขึ้นเอง"</p>
        <h5>🧡 คุณกฤษณา นามวงศ์</h5>
        <p>วิศวกรกระบวนการผลิต บริษัท เอ็นเอ็มบี-มินิ แบ ไทย จำกัด</p>
        <p>
          💛นักศึกษาเก่าระดับปริญญาตรี ภาควิชาวิศวกรรมอุตสาหการ
          คณะวิศวกรรมศาสตร์ ปีที่เข้าศึกษา 2554
        </p>
      </div>
      <div class="container-pic" style="position: absolute">
        <img src="" alt="" />
      </div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
