<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../../partials/navbar', { title : 'pos20260114-2'} ) %>
    <link rel="stylesheet" href="/css/news-page.css" />
    <%- include('../../../partials/Responsive') %>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">р╕лр╕Щр╣Йр╕▓р╣Бр╕гр╕Б</a>/ <a href="/news">р╕Вр╣Ир╕▓р╕зр╕кр╕▓р╕г</a>/
      <span> р╕Вр╕нр╣Бр╕кр╕Фр╕Зр╕Др╕зр╕▓р╕бр╕Кр╕╖р╣Ир╕Щр╕Кр╕бр╣Гр╕Щр╕Др╕зр╕▓р╕бр╕кр╕▓р╕бр╕▓р╕гр╕Цр╕Вр╕нр╕З...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          р╕Вр╕нр╣Бр╕кр╕Фр╕Зр╕Др╕зр╕▓р╕бр╕Кр╕╖р╣Ир╕Щр╕Кр╕бр╣Гр╕Щр╕Др╕зр╕▓р╕бр╕кр╕▓р╕бр╕▓р╕гр╕Цр╕Вр╕нр╕Зр╕Щр╕▒р╕Бр╕ир╕╢р╕Бр╕йр╕▓р╕ар╕▓р╕Др╕зр╕┤р╕Кр╕▓р╕зр╕┤р╕ир╕зр╕Бр╕гр╕гр╕бр╕нр╕╕р╕Хр╕кр╕▓р╕лр╕Бр╕▓р╕г
          р╕Чр╕╡р╣Ир╣Др╕Фр╣Йр╕гр╕▒р╕Ър╕гр╕▓р╕Зр╕зр╕▒р╕ер╕нр╕▒р╕Щр╕Чр╕гр╕Зр╣Ар╕Бр╕╡р╕вр╕гр╕Хр╕┤ Allen Green Award
        </h2>
        <p class="tag">#р╕гр╕▓р╕Зр╕зр╕▒р╕е</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 14 р╕б.р╕Д. 2569</div>
      </div>
      <div class="banner">
        <img src="/images/news/2569/Jan/14_01(1).jpg" alt="20260114-2" />
      </div>
      <div class="content-text">
        <p>
          р╕Вр╕нр╣Бр╕кр╕Фр╕Зр╕Др╕зр╕▓р╕бр╕Кр╕╖р╣Ир╕Щр╕Кр╕бр╣Гр╕Щр╕Др╕зр╕▓р╕бр╕кр╕▓р╕бр╕▓р╕гр╕Цр╕Вр╕нр╕Зр╕Щр╕▒р╕Бр╕ир╕╢р╕Бр╕йр╕▓р╕ар╕▓р╕Др╕зр╕┤р╕Кр╕▓р╕зр╕┤р╕ир╕зр╕Бр╕гр╕гр╕бр╕нр╕╕р╕Хр╕кр╕▓р╕лр╕Бр╕▓р╕г
          р╕Чр╕╡р╣Ир╣Др╕Фр╣Йр╕гр╕▒р╕Ър╕гр╕▓р╕Зр╕зр╕▒р╕ер╕нр╕▒р╕Щр╕Чр╕гр╕Зр╣Ар╕Бр╕╡р╕вр╕гр╕Хр╕┤ Allen Green Award ЁЯеЗ
          р╕Ир╕▓р╕Бр╕Зр╕▓р╕Щр╕Ыр╕гр╕░р╕Кр╕╕р╕бр╕зр╕┤р╕Кр╕▓р╕Бр╕▓р╕гр╕гр╕░р╕Фр╕▒р╕Ър╣Вр╕ер╕Б 7th World Conference on Acoustic Emission
          р╕У р╕Щр╕Др╕гр╕Др╕╕р╕Щр╕лр╕бр╕┤р╕З ЁЯЗиЁЯЗ│
        </p>
        <p>
          ЁЯУЭ р╕Фр╣Йр╕зр╕вр╕Ьр╕ер╕Зр╕▓р╕Щр╕зр╕┤р╕Ир╕▒р╕вр╕Щр╕зр╕▒р╕Хр╕Бр╕гр╕гр╕б:
          тАЬр╕Бр╕▓р╕гр╕нр╕нр╕Бр╣Бр╕Ър╕Ър╣Бр╕ер╕░р╕Юр╕▒р╕Тр╕Щр╕▓р╕гр╕░р╕Ър╕Ър╕Бр╕▓р╕гр╣Ар╕Эр╣Йр╕▓р╕Хр╕┤р╕Фр╕Хр╕▓р╕бр╕кр╕ар╕▓р╕Юр╣Ар╕Кр╕┤р╕Зр╣Вр╕Др╕гр╕Зр╕кр╕гр╣Йр╕▓р╕Зр╕гр╕░р╕вр╕░р╕вр╕▓р╕зр╕Фр╣Йр╕зр╕вр╕лр╕ер╕▒р╕Бр╕Бр╕▓р╕гр╕нр╕░р╕Др╕╣р╕кр╕Хр╕┤р╕Бр╕нр╕┤р╕бр╕┤р╕Кр╕Кр╕▒р╣Ир╕ЩтАЭ
        </p>
        <p>
          р╣Вр╕Фр╕вр╕Др╕Ур╕░р╕Ьр╕╣р╣Йр╕Ир╕▒р╕Фр╕Чр╕│: тЬЕ р╕Щр╕▓р╕Зр╕кр╕▓р╕зр╕Ыр╕ар╕▓р╕зр╕гр╕┤р╕Щр╕Чр╣М р╕нр╕гр╕┤р╕вр╕░р╣Ар╕бр╕Шр╕▓р╕кр╕зр╕▒р╕кр╕Фр╕┤р╣М тЬЕ р╕Щр╕▓р╕вр╕Бр╕▓р╕Щр╕Хр╣М
          р╕Чр╕нр╕Зр╕Ыр╕гр╕░р╣Ар╕кр╕гр╕┤р╕Р тЬЕ р╕Щр╕▓р╕Зр╕кр╕▓р╕зр╕гр╕▒р╕Бр╕йр╕┤р╕Хр╕▓ р╣Бр╕Лр╣Ир╕Йр╕▒р╣Ир╕з
        </p>
      </div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
