<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260509-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>Q&A ISEE</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">Q&A ISEE</h2>
        <p class="tag">#ข่าวสาร #ISEE</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 9 พฤษภาคม 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/May/09_05(1).jpg" alt="20260509-1" />
        <img src="/images/news/2569/May/09_05(2).jpg" alt="20260509-1" />
        <img src="/images/news/2569/May/09_05(3).jpg" alt="20260509-1" />
        <img src="/images/news/2569/May/09_05(4).jpg" alt="20260509-1" />
        <img src="/images/news/2569/May/09_05(5).jpg" alt="20260509-1" />
        <img src="/images/news/2569/May/09_05(6).jpg" alt="20260509-1" />
        <img src="/images/news/2569/May/09_05(7).jpg" alt="20260509-1" />
        <img src="/images/news/2569/May/09_05(8).jpg" alt="20260509-1" />
        <img src="/images/news/2569/May/09_05(9).jpg" alt="20260509-1" />
      </span>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
