<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260318-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>รับสมัครอาจารย์...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          รับสมัครอาจารย์ หลักสูตรวิศวกรรมเมคคาทรอนิกส์ KMUTT
        </h2>
        <p class="tag">#รับสมัคร #MCE</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 18 มี.ค. 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/Mar/18_03.jpg" alt="20260318" />
      </span>
      <div class="content-text">
        <h5>
          <a href="https://hrm.kmutt.ac.th/career-kmutt.php"
            >https://hrm.kmutt.ac.th/career-kmutt.php</a
          >
        </h5>
      </div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
