<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <%- include('../../../partials/navbar', { title : 'pos20260322-1'} ) %>
      <link rel="stylesheet" href="/css/news-page.css" />
      <%- include('../../../partials/Responsive') %>
    </head>
  </head>
  <body>
    <%- include('../../../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a href="/news">ข่าวสาร</a>/
      <span>ป.โท สาขาวิศวกรรม...</span>
    </div>
    <div class="layout">
      <div class="bg-head">
        <h2 class="content-head">
          ป.โท สาขาวิศวกรรมอุตสาหการและระบบการผลิต เรียน เสาร์-อาทิตย์
        </h2>
        <p class="tag">#รับสมัคร #ปริญญาโท</p>
        <div class="line-dark"></div>
        <div><i class="fa-regular fa-calendar"></i> 22 มี.ค. 2569</div>
      </div>
      <span class="banner">
        <img src="/images/news/2569/Mar/22_03.jpg" alt="20260322" />
      </span>
      <div class="content-text">
        <h5>
          <a
            href="https://join.kmutt.ac.th/projects/9c5eb8e3-db0e-4f40-b1b8-540c9de97114?fbclid=IwY2xjawQtnudleHRuA2FlbQIxMABicmlkETFuelhhQjVidzNnYk9OTjZMc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHupKQGVg5jvvosGck8x9BoGxxUt9HSj7fGpTsfb4bEE6-zvqEiOrWpp9CiqE_aem_9M3KoYx9hBwy-JLgvMpdjA"
            >https://join.kmutt.ac.th/.../9c5eb8e3-db0e-4f40-b1b8...</a
          >
        </h5>
      </div>
      <div class="container-pic" style="position: absolute"></div>
    </div>
    <%-include('../../../partials/footer')-%>
  </body>
</html>
