<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head', { title : 'footer' }) %>

    <script
      src="https://kit.fontawesome.com/f7cbfce543.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../css/assets/footer.css" />
    <link rel="stylesheet" href="../css/assets/Responsive.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="footer-content">
        <!-- LEFT SECTION -->
        <div class="footer-link">
          <span class="footer-brand">
            <span
              href="https://www.kmutt.ac.th/"
              target="_blank"
              class="brand1"
            >
              <img src="../images/KMUTT_Logo.png" alt="kmuttlogo" />
            </span>

            <span href="#" class="brand2">
              <img src="../images/PEMCE-LOGO.png" alt="prelogo" />
            </span>
          </span>
        </div>
        <div>
          <!-- ลิงก์ด่วน -->
          <h3>QuickLinks</h3>
          <ul class="footer-ul">
            <li><a href="https://www.leb2.org/" target="_blank">LEB2</a></li>
            <li>
              <a href="https://sinfo.kmutt.ac.th/" target="_blank">NewAcis</a>
            </li>
          </ul>
        </div>
        <!-- socialmedia -->
        <div class="social">
          <h3>Social Media</h3>
          <div class="social-row">
            <i class="fa-brands fa-facebook"></i>
            <div class="social-text">
              <a
                href="https://www.facebook.com/profile.php?id=100063531941398&locale=bg_BG#"
                target="_blank"
                class="social"
                >ภาควิชาวิศวกรรมอุตสาหการ</a
              >
              <a
                href="https://www.facebook.com/prekmutt"
                target="_blank"
                class="social"
                >บัณฑิตศึกษาอุตสาหการ</a
              >
              <a
                href="https://www.facebook.com/modpemce"
                target="_blank"
                class="social"
                >ชมรมมดอุตสาหการและเมคคาทรอนิกส์</a
              >
            </div>
          </div>
          <div class="social-row">
            <i class="fa-brands fa-youtube"></i>
            <div class="social-text">
              <a
                href="https://www.youtube.com/results?search_query=%E0%B8%A7%E0%B8%B4%E0%B8%A8%E0%B8%A7%E0%B8%81%E0%B8%A3%E0%B8%A3%E0%B8%A1%E0%B8%AD%E0%B8%B8%E0%B8%95%E0%B8%AA%E0%B8%B2%E0%B8%AB%E0%B8%81%E0%B8%B2%E0%B8%A3+%E0%B8%A1%E0%B8%88%E0%B8%98"
                target="_blank"
                class="social"
                >วิศวกรรมอุตสาหการ มจธ</a
              >
            </div>
          </div>
        </div>

        <!-- CENTER SECTION -->
        <div class="footer-contact">
          <h3>Contact Us</h3>
          <div class="footer-body">
            <p>
              King Mongkut's University of Technology Thonburi<br />
              อาคารวิศววัฒนะ ชั้น8 126 ถนนประชาอุทิศ <br />
              แขวงบางมด เขตทุ่งครุ กรุงเทพฯ 10140
            </p>

            <div class="contact">
              <div class="contact-row">
                <i class="fa-solid fa-phone"></i>
                <div class="phone-group">
                  <p class="contact-number">+66 2-470-9175-7</p>
                  <p>2-470-9179</p>
                </div>
              </div>
              <div class="contact-row">
                <i class="fa-regular fa-envelope"></i>
                <p class="contact-email">production_engineering@kmutt.ac.th</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <hr class="line" />
        <div class="text-center">Copyright © 2026 PE&MCE&ISEE KMUTT.</div>
      </div>
    </footer>
  </body>
</html>
