<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head', { title : 'navbar' }) %>

    <link rel="stylesheet" href="/css/assets/navbar.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
  </head>
  <body>
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"
          ><img src="/images/PEMCE-LOGO.png" alt="prelogo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-body">
            <div class="offcanvas-header">
              <div class="offcanvas-title" id="offcanvasNavbarLabel">
                <img src="../images/PEMCE-LOGO.png" alt="prelogo" />
              </div>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"
              ></button>
            </div>

            <ul class="navbar-nav justify-content flex-grow-1 pe-3">
              <li class="nav-item dropdown">
                <a
                  class="nav-link mx-lg-2 dropdown-toggle"
                  href="#"
                  role="button"
                  aria-expanded="false"
                >
                  โปรไฟล์
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a
                      class="dropdown-item"
                      data-path="/history_dep"
                      href="/history_dep"
                      >ประวัติภาควิชา</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" data-path="/myteam" href="/myteam"
                      >บุคลากร</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      data-path="/instrument"
                      href="/instrument"
                      >ห้องLab อุปกรณ์</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" data-path="/research" href="/research"
                      >งานวิจัยและบริการวิชาการ</a
                    >
                  </li>
                  <li>
                    <!-- href="https://www.kmutt.ac.th/alumni-network/" -->
                    <a
                      class="dropdown-item"
                      href="https://www.pemce.com/?fbclid=IwY2xjawPVcPhleHRuA2FlbQIxMABicmlkETF6YTMweVhkZjlaRTNTbHJtc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHjdF9hv2vQ6zjFVB0Z9PTyoozCotIluX3rjilI8lLqtmbNH-FmvwVbS0ZaDR_aem_BdRUhh3FJjbWQaIW8J7K0A"
                      target="_blank"
                      >ชมรมมด</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link mx-lg-2 dropdown-toggle"
                  href="#"
                  role="button"
                  aria-expanded="false"
                >
                  หลักสูตร
                </a>
                <ul class="dropdown-menu">
                  <li><div class="dropdown-item">ปริญญาตรี</div></li>
                  <li>
                    <a class="dropdown-item" data-path="/pre" href="/pre"
                      >PRE</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" data-path="/mce" href="/mce"
                      >MCE</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" data-path="/isee" href="/isee"
                      >ISEE</a
                    >
                  </li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" data-path="/m_eng" href="/m_eng"
                      >ปริญญาโท</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" data-path="/ph_d" href="/ph_d"
                      >ปริญญาเอก</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-lg-2" data-path="/TABEE" href="/TABEE"
                  >TABEE</a
                >
              </li>
              <!-- <li class="nav-item dropdown">
                <a
                  class="nav-link mx-lg-2 dropdown-toggle"
                  href="#"
                  role="button"
                  aria-expanded="false"
                >
                  ผลงาน
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">ผลงาน</a></li>
                  <li><a class="dropdown-item" href="#">งานวืจัย</a></li>
                </ul>
              </li> -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link mx-lg-2 dropdown-toggle"
                  href="#"
                  role="button"
                  aria-expanded="false"
                >
                  นักศึกษา
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" data-path="/B_Eng" href="/B_Eng"
                      >ปริญญาตรี</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-item"
                      data-path="/M_eng&PH_D"
                      href="/M_eng&PH_D"
                      >ปริญญาโท</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" data-path="" href="#">เอกสาร</a>
                  </li>
                  <li>
                    <a class="dropdown-item" data-path="" href="#"
                      >ทุนการศึกษา</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link mx-lg-2"
                  href="https://join.kmutt.ac.th/degree"
                  target="_blank"
                  >สมัครเรียน</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link mx-lg-2" data-path="/news" href="/news"
                  >ข่าวสาร</a
                >
              </li>
            </ul>
            <!-- <form class="d-flex mt-3" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn-search" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form> -->
          </div>
        </div>
      </div>
    </nav>
    <%- include('bootstrapend') %>
    <script src="/js/assets/navbar.js"></script>
    <script src="/js/assets/navbar-active.js"></script>
  </body>
</html>
