<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('head', { title : 'navbar' }) %>

    <link rel="stylesheet" href="/css/assets/navbar.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
  </head>
  <body>
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"
          ><img src="/images/PEMCE-LOGO.png" alt="prelogo"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbar"
          aria-controls="offcanvasNavbar"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="offcanvas offcanvas-end"
          tabindex="-1"
          id="offcanvasNavbar"
          aria-labelledby="offcanvasNavbarLabel"
        >
          <div class="offcanvas-header">
            <div class="offcanvas-title" id="offcanvasNavbarLabel">
              <img src="../images/PEMCE-LOGO.png" alt="prelogo" />
            </div>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content flex-grow-1 pe-3">
              <li class="nav-item dropdown">
                <a
                  class="nav-link mx-lg-2 dropdown-toggle"
                  href="#"
                  role="button"
                  aria-expanded="false"
                >
                  โปรไฟล์
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="\history_dep"
                      >ประวัติภาควิชา</a
                    >
                    <a class="dropdown-item" href="\history_dep"
                      >ประวัติภาควิชา</a
                    >
                  </li>
                  <li><a class="dropdown-item" href="\myteam">บุคลากร</a></li>
                  <li>
                    <a class="dropdown-item" href="\instrument"
                      >ห้องLab อุปกรณ์</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="#"
                      >งานวิจัยและบริการวิชาการ</a
                    >
                  </li>
                  <li></li>
                  <li>
                    <a
                      class="dropdown-item"
                      href="https://www.kmutt.ac.th/alumni-network/"
                      target="_blank"
                      >ชมรมมด</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link mx-lg-2 dropdown-toggle"
                  href="#"
                  role="button"
                  aria-expanded="false"
                >
                  หลักสูตร
                </a>
                <ul class="dropdown-menu">
                  <li><div class="dropdown-item">ปริญญาตรี</div></li>
                  <li>
                    <a class="dropdown-item" href="/pre">PRE</a>
                  </li>
                  <li><a class="dropdown-item" href="/mce">MCE</a></li>
                  <li><a class="dropdown-item" href="/isee">ISEE</a></li>
                  <li>
                    <hr class="dropdown-divider" />
                  </li>
                  <li>
                    <a class="dropdown-item" href="/m_eng">ปริญญาโท</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/ph_d">ปริญญาเอก</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link mx-lg-2"
                  href="https://coe.or.th/degreecetificate-tabee/?_college=b8a5fd89a80395f5ccbad56a0f020f36&_college_search=%E0%B8%AD%E0%B8%B8%E0%B8%95%E0%B8%AA%E0%B8%B2%E0%B8%AB%E0%B8%81%E0%B8%B2%E0%B8%A3"
                  target="_blank"
                  >TABEE</a
                >
              </li>
              <!-- <li class="nav-item dropdown">
                <a
                  class="nav-link mx-lg-2 dropdown-toggle"
                  href="#"
                  role="button"
                  aria-expanded="false"
                >
                  ผลงาน
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">ผลงาน</a></li>
                  <li><a class="dropdown-item" href="#">งานวืจัย</a></li>
                </ul>
              </li> -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link mx-lg-2 dropdown-toggle"
                  href="#"
                  role="button"
                  aria-expanded="false"
                >
                  นักศึกษา
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">ปริญญาตรี</a></li>
                  <li><a class="dropdown-item" href="#">ปริญญาโท</a></li>
                  <li><a class="dropdown-item" href="#">เอกสาร</a></li>
                  <li><a class="dropdown-item" href="#">ทุนการศึกษา</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link mx-lg-2"
                  href="https://join.kmutt.ac.th/degree"
                  target="_blank"
                  >สมัครเรียน</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link mx-lg-2" href="#">ข่าวสาร</a>
              </li>
            </ul>
            <!-- <form class="d-flex mt-3" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn-search" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form> -->
          </div>
        </div>
      </div>
    </nav>
    <%- include('bootstrapend') %>
    <script src="/js/assets/navbar.js"></script>
  </body>
</html>
