{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.ejs",
      "options": {
        "parser": "html",
        "plugins": ["prettier-plugin-ejs"]
      }
    },
    {
      "files": "*.css",
      "options": {
        "parser": "css"
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel"
      }
    }
  ]
}
