* {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
}
à¹‰.html,
body {
  overflow-x: hidden;
}
/* navigation bar */
.topnav {
  list-style-type: none;
  background: #ff5900;
  opacity: 95%;
  padding: 0;
  z-index: 10;
  height: 100px;
  width: 100%;
  position: fixed;
  border-radius: 0 0 25px 25px;
}
#mytopnav {
  display: flex;
  height: 90px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  column-gap: 20px;
}
.navlogo img {
  position: absolute;
  left: 10vh;
  top: 0;
  filter: drop-shadow(1px 1px 1px white);
}
.dropbtn {
  padding: 7px;
  background: #ff6600;
  color: white;
  font-weight: 650;
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  list-style: none;
  padding-left: 0;
  margin: 0;
  background-color: #969696;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color: white;
  text-decoration: underline #ff6600;
  text-underline-offset: 5px;
  transition-duration: 0.4s;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  color: white;
  background-color: #ff6600;
  border-radius: 5px;
}
.search {
  width: 50px;
  height: 50px;
  background: #969696;
  color: white;
  font-size: 24px;
  font-style: bold;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}
.search:hover {
  background: #969696;
  color: #ff6600;
  border: none;
}
.login {
  width: 100px;
  height: 40px;
  background: #969696;
  color: white;
  font-style: bold;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition-duration: 0.4s;
}
.login:hover {
  background: #ff6600;
  color: #ffffff;
  border: none;
}
/* HomepagePic */
.carousel-inner {
  width: 100%;
  height: 80vh;
  z-index: -1;
}
.mainpic-gradient {
  width: 100%;
  height: 30vh;
  margin-top: 65vh;
  position: absolute;
  background: linear-gradient(to bottom, transparent, white 50%, white 100%);
}
/* homepage botton1 */
.hp-button1 {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.hp-button1-box {
  width: 150px;
  height: 150px;
  margin-top: -5vh;
  padding: 7px;
  z-index: 1;
  border-radius: 5%;
  border: none;
  background: linear-gradient(to bottom, #ff3300 0%, #ffec48 100%);
  color: #ffffff;
  box-shadow: 5px -5px #ce4726;
  transition-duration: 0.3s;
}
.hp-button1-box:hover {
  background: #fff179;
  cursor: pointer;
  color: #ff3300;
  border: none;
  box-shadow: none;
  transition-duration: 0.3s;
}
.hp-button1-main {
  font-size: 36px;
  font-weight: 700;
}
.hp-button1-name {
  font-size: 13px;
}
/* homepage-aboutus */
.hp-aboutus {
  margin: 100px;
  display: flex;
  column-gap: 100px;
  justify-content: center;
  flex-direction: row;
}
.hp-aboutus img {
  width: 400px;
  height: 400px;
}
.hp-aboutus-box {
  width: 40%;
  padding-top: 50px;
  z-index: 1;
  border: none;
}
.hp-aboutus-body {
  padding-top: 50px;
  font-size: 22px;
}
.aboutus-read-more {
  display: flex;
  flex-direction: row;
  padding: 20px 0 0 70%;
  column-gap: 0vh;
  transition-duration: 0.4s;
  color: black;
  text-decoration-line: none;
}
.aboutus-read-more:hover {
  column-gap: 2vh;
  padding: 20px 0 0 70%;
  cursor: pointer;
  transition-duration: 0.4s;
}
.aboutus-read-more-underline {
  background-color: black;
  right: 50vh;
  width: 125px;
  margin: 0 0 0 49vh;
  padding: 1px 0 0 0;
}
/* contact us */
.hp-contact-box {
  display: flex;
  flex-direction: row;
}
.hp-contact-card {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  width: 620px;
  height: 480px;
  padding: 5vh 5vh 5vh 5vh;
  background: #efefef;
}
.contact-head-eng {
  font-size: 46px;
  font-weight: 700;
}
.fa-location-dot {
  padding-bottom: -10px;
}
.ctac #googleMap {
  object-position: right;
}
/* footer menu */
#footermenu {
  background: #525252;
  display: flex;
  height: 280px;
  row-gap: 10px;
}
.colortab {
  background: linear-gradient(
    to left,
    #f89a1c 0%,
    #ffc271 30%,
    #f89a1c 70%,
    #ffc271 100%
  );
  width: 100%;
  height: 25px;
}
.column {
  display: flex;
  height: 70px;
  flex-direction: row;
  align-items: top center;
  justify-content: center;
  padding: 30px 10px 10px 0px;
  column-gap: 60px;
}
.Logo {
  display: flex;
  flex-direction: row;
}
.column1 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.column2 {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.HeadQM {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #f89a1c;
}
.BodyQM {
  font-size: 18px;
  margin-bottom: 5px;
  text-decoration: none;
  color: white;
}
.BodyQM:hover {
  color: #ff6600;
  text-decoration: underline;
  text-underline-offset: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}
