* {
  margin: 0;
  padding: 0;
}

à¹‰.html,
body {
  font-family: "Prompt", sans-serif;
  overflow-x: hidden;
}

/* navigation bar */
.navbar {
  position: absolute;
  background-color: #ff6600;
  color: white;
  width: 100%;
  height: 100px;
  position: fixed;
}

.navbar-brand img {
  width: 100px;
  height: 100px;
}

.container-fluid {
  display: flex;
  column-gap: 50px;
  height: 100px;
}

.offcanvas-title img {
  width: 100px;
  height: 100px;
}

#offcanvasNavbar {
  background-color: #525252;
  color: white;
}

.offcanvas-header {
  background-color: #ff6600;
}

.navbar-toggler :focus {
  border: none;
  background-color: #525252;
}

.nav-item {
  font-weight: 650;
  font-size: 20px;
}

.btn-search {
  padding: 10px 12px;
  border: none;
  border-radius: 50px;
  background-color: #b6b6b6;
  color: white;
  z-index: 2;
}

.d-flex .form-control {
  border-radius: 50px;
  width: 220px;
}
/* HomepagePic */
.carousel-inner {
  object-fit: cover;
  object-position: center;
  width: 1130px;
  height: 900px;
  z-index: -1;
}

.mainpic-gradient {
  width: 1130px;
  height: 900px;
  margin-top: 65vh;
  position: absolute;
  background: white 100%;
}

/* PRE mainbox */
.PRE-picboxmain {
  width: 500px;
  height: 900px;
  position: relative;
}

/* footer menu */
#footermenu {
  background: #525252;
  display: flex;
  height: 280px;
  row-gap: 10px;
}

.colortab {
  background: linear-gradient(
    to left,
    #f89a1c 0%,
    #ffc271 30%,
    #f89a1c 70%,
    #ffc271 100%
  );
  width: 100%;
  height: 25px;
}

.column {
  display: flex;
  height: 70px;
  flex-direction: row;
  align-items: top center;
  justify-content: center;
  padding: 30px 10px 10px 0px;
  column-gap: 60px;
}

.Logo {
  display: flex;
  flex-direction: row;
}

.column1 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.column2,
.column3,
.column4,
.column5,
.column6,
.column7,
.column8 {
  display: flex;
  flex-direction: column;
}

.HeadQM {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #f89a1c;
}

.BodyQM {
  font-size: 18px;
  margin-bottom: 5px;
  text-decoration: none;
  color: white;
}

.BodyQM:hover {
  color: #ff6600;
  text-decoration: underline;
  text-underline-offset: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}
