<!DOCTYPE html>
<html lang="en">
    <head>
<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Personel</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>


    </head>
    <body>

        <div class="container" style = "margin-top:10px; margin-left:20px;">
            <div class="row">

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 mt-1">
                        <img class="card-img-top img-fluid h-80" src="../images/pers_pic/Z09_Sujin.jpg" alt="" />
                        <div class="card-body">
                            <p style="color:blue"><b>อาจารย์สุจินต์ ธงถาวรสุวรรณ</b></p>
                            <p class="mb-0" style="color:blue"><b>ตำแหน่ง</b></p>
                            <p>
                            <ul>
                                <li style="font-size:small">ที่ปรึกษาประกันคุณภาพการศึกษา ภาควิชาวิศวกรรมอุตสาหการ  คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี</li>
                                <li style="font-size:small">กรรมการพิจารณาผลงาน QCC รางวัล Thailand Quality Prize สมาคมส่งเสริมเทคโนโลยี (ไทย-ญี่ปุ่น)</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="card h-100 mt-1" style="width: 18rem;">
                        <div class="card-body text-justify">

                            <p class="mb-0" style="color:blue"><b>ความเชี่ยวชาญ</b></p>
                            <p>
                            <ul>
                                <li style="font-size:small">ISO 9001 Quality Management System</li>
                                <li style="font-size:small">Total Quality Management: TQM</li>
                                <li style="font-size:small">Total Productive Maintenance: TPM</li>
                                <li style="font-size:small">QCC, Productivity</li>
                                <li style="font-size:small">Problem Solving, RCFA, PM Analysis</li>
                                <li style="font-size:small">Maintenance Engineering</li>
                                <li style="font-size:small">Tool Engineering</li>
                            </ul>
                            </p>
                            <p class="mb-0" style="color:blue"><b>รายวิชาที่สอน</b></p>
                            <p>
                                <ul>
                                    <li style="font-size:small">ISE 693 สัมมนาการวิจัย</li>
                                </ul>
                            </p>
                                                        <p class="mt-0" style="color:blue"><b>เกียรติประวัติ</b></p>
                            <p style="margin: 0.2cm;font-size:small">ผลงานตีพิมพ์ทางวิชาการ</p>
                                <ul>
                                    <li style="margin: 0.2cm; font-size:small">ณธิกา ยิ้มวิไล, สุจินต์ ธงถาวรสุวรรณ และพจมาน เตียวัฒนรัฐติกาล. (2563), 
                                    “การศึกษาผลสัมฤทธิ์ของนักศึกษาและช่องทางการรับเข้าศึกษา หลักสูตรระดับปริญญาตรี สาขาวิชาวิศวกรรมอุตสาหการ ภาควิชาวิศวกรรมอุตสาหการ มจธ.”, โครงการประชุมวิชาการวิจัยระดับชาติสาหรับบุคลากรสายสนับสนุนในสถาบันอุดมศึกษา. ครั้งที่ 12, 6-7 สิงหาคม 2563, คณะวิศวกรรมศาสตร์และคณะวิทยาศาสตร์ มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี, หน้า 1-9.2.</li>
                                    <li style="margin: 0.2cm; font-size:small">Ruentip, B., Tongthavornsuwan, S. and Tangwarodomnukun, T., 2016, 
                                    “Reduction of Mixing Time in Lotion Manufacturing”, The Journal of King Mongkut’s University of Technology North Bangkok, Vol. 26, No. 1, pp. 85-93.</li>
                                    <li style="margin: 0.2cm; font-size:small">จักรพงษ์ คำอ้าย,  วิบุญ ตั้งวโรดมนุกูล และ สุจินต์ ธงถาวรสุวรรณ,  2559,
                                          "การลดตำหนิในกระบวนการเคลือบวาร์นิชยูวีบนบรรจุภัณฑ์กระดาษ",  การประชุมวิชาการข่ายงานวิศวกรรมอุตสาหการ ประจำปี 2559 (IE Network Conference 2016), 6-8 กรกฎาคม 2559, ขอนแก่น ประเทศไทย, หน้า 1282-1288.</li>
                                    <li style="margin: 0.2cm; font-size:small">กมลชนก ลิ้มประยูร, ช่อแก้ว จตุรานนท์, เจริญ สุนทราวาณิชย์, สุจินต์ ธงถาวรสุวรรณ, 2558,
                                         “วิธีฮิวริสติกสำหรับการจัดตารางงานซ่อมบำรุงรักษา”, การประชุมวิชาการด้านการพัฒนาการดำเนินงานทางอุตสาหกรรมแห่งชาติ, ครั้งที่ 6 CIOD 2015, 13 พฤษภาคม 2558, โรงแรม รามาการ์เด้นส์ กรุงเทพฯ ประเทศไทย, หน้า 19-26.</li>
                                    <li style="margin: 0.2cm; font-size:small">ภานุวัต สิบศิริ, สุจินต์ ธงถาวรสุวรรณ และ วิบุญ ตั้งวโรดมนุกูล, 2557,
                                         “การจัดตารางการทำงานทเหมาะสมในการตรวจวิเคราะห์คุณภาพของวัตถุดิบและยาสำเร็จรูป”, Proceeding of Operations Research Network Conference_2014.</li>
                                    <li style="margin: 0.2cm; font-size:small">กล้าหาญ ปรางค์น้อย, สุจินต์ ธงถาวรสุวรรณ และ วิบุญ ตั้งวโรดมนุกูล, “การปรับปรุงความพร้อมใช้ของเครื่องจักรจากการบำรุงรักษาเชิงป้องกัน กรณีศึกษากระบวนการบรรจุยาเม็ด องค์การเภสัชกรรม”, Proceeding of Operations Research Network Conference 2014, หน้า 80-87.</li>
                                </ul>
                            </p>
                            <p style="margin: 0.2cm;font-size:small">บทความในหนังสือ</p> 
                                <ul>
                                    <li style="margin: 0.2cm; font-size:small">กิตติ วันดี, สุจินต์ ธงถาวรสุวรรณ และ วิบุญ ตั้งวโรดมนุกูล, 2559, "การลดปัญหาการโก่งตัวของชิ้นงานในกระบวนการเชื่อมอาร์กโลหะก๊าซคลุม", วารสารวิชาการเทคโนโลยีอุตสาหกรรม, Vol.1 2, No. 1, pp. 1-12.</li>
                                    <li style="margin: 0.2cm; font-size:small">บรรชา บัวทวน, สุจินต์ ธงถาวรสุวรรณ และ วิบุญ ตั้งวโรดมนุกูล, 2559, "การลดสัดส่วนผลิตภัณฑ์บกพร่องในกระบวนการทาสีผนังภายนอกบนแผ่นไฟเบอร์ซีเมนต์", วารสารวิชาการเทคโนโลยีอุตสาหกรรม, Vol. 12, No. 1, pp. 65-77.</li>
                                    <li style="margin: 0.2cm; font-size:small">สุทธิรักษ์ ชาววัง, สุจินต์ ธงถาวรสุวรรณ และ วิบุญ ตั้งวโรดมนุกูล, 2559, "การลดข้อบกพร่องในกระบวนการอัดรีดเป่าขึ้นรูปผลิตภัณฑ์แกลลอนพลาสติก", วารสารวิชาการเทคโนโลยีอุตสาหกรรม, Vol. 12, No. 3, pp. 63-72.</li>
                                    <li style="margin: 0.2cm; font-size:small">บดินทร์ เรือนทิพย์, สุจินต์ธงถาวรสุวรรณ, วิบุญ ตั้งวโรดมนุกูล, 2559, “การลดเวลาผสมในการผลิตโลชั่น”, วารสารวิชาการพระจอมเกล้าพระนครเหนือ ปีที่ 26 ฉบับที่ 1 ม.ค. – เม.ย. 2559 หน้า 85 – 93.</li>
                                    <li style="margin: 0.2cm; font-size:small">Karawatthanaworrakul, S. Tongthavornsuwan, S. and Tangwarodomnukun, V., 2015, “Efficiency Improvement of Aluminum Recycling Process”, วารสารวิชาการเทคโนโลยีอุตสาหกรรม, Vol. 11, No. 2, pp. 56-68.</li>
                                </ul>
                            </p>

                        </div>
                    </div>
                </div>

        </div>
    </body>
</html>
