<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>MCE-PLO1</title>
  </head>
  <body>
    <li class="card-plo swiper-slide" style="height: 20em">
      <div>
        <p class="plo-title">PLO-1</p>
        <h2 class="plo-desc">สามารถแก้ปัญหาทางวิศวกรรมได้</h2>
        <button class="plo-open">
          <i class="fa-solid fa-circle-plus"></i> SubPLO
        </button>
      </div>

      <div class="subplo-hidden">
        <div class="subplo-item">
          <h3>SubPLO-1A</h3>
          <p style="font-size: 14px">
            สามารถประยุกต์ความรู้ทางด้านคณิตศาสตร์วิทยาศาสตร์วิทยาการ คำนวณ
            พื้นฐานวิศวกรรม และความรู้เฉพาะทาง เพื่อกำหนดกรอบ ความความคิดในการ
            แก้ปัญหาทางวิศวกรรมเมคคาทรอนิกส์ได้
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-1B</h3>
          <p style="font-size: 14px">
            สามารถระบุปัญหา และสืบค้นเอกสาร สร้างแบบจำลอง ตั้งสมการต่าง ๆ
            เพื่อหาคำตอบและแก้ไขปัญหาทางวิศวกรรมที่ซับซ่อน จนได้ข้อสรุปเบื้องต้น
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-1C</h3>
          <p style="font-size: 14px">
            คำนึงถึงขอกำหนดด้านสังคม วัฒนธรรม ความปลอดภัย อนามัยและ สิ่งแวดล้อม
            มาตรฐานการปฏิบัติวิชาชีพ และการพัฒนาที่ยั่งยืน ในการหา
            คำตอบของปัญหาทาง วิศวกรรมที่ซับซ้อน และในการออกแบบระบบงาน
            หรือกระบวนการทางวิศวกรรมเมคคาทรอนิกส์
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-1D</h3>
          <p style="font-size: 14px">
            สามารถตรวจสอบ วินิจฉัย ประเมินผล งานและปัญหาทางวิศวกรรม
            โดยสามารถตั้งสมมติฐาน หาข้อมูล ทดลอง วิเคราะห์ แปลความหมายข้อมูล
            สังเคราะห์ข้อมูล และออกแบบ เพื่อให้ได้ผลสรุป
          </p>
        </div>
      </div>
    </li>
  </body>
</html>
