<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>MCE-PLO2</title>
  </head>
  <body>
    <li class="card-plo swiper-slide">
      <div>
        <p class="plo-title">PLO-2</p>
        <h2 class="plo-desc">
          สามารถใช้เครื่องมือทางวิศวกรรม เมคคาทรอนิกส์ได้
        </h2>
        <button class="plo-open">
          <i class="fa-solid fa-circle-plus"></i> SubPLO
        </button>
      </div>

      <div class="subplo-hidden">
        <div class="subplo-item">
          <h3>SubPLO-2A</h3>
          <p>
            สามารถสร้าง ประยุกต์ใช้เทคนิควิธี และใช้เครื่องมือที่เกี่ยวของกับการ
            พัฒนาระบบอัตโนมัติได้คือ ใช้เครื่องมือวัดทางไฟฟ้าและอิเล็กทรอนิกส์
            พื้นฐานเป็นและสร้างวงจรอิเล็กทรอนิกส์ได้เขียนโปรแกรมในการควบคุมระบบอัตโนมัติ
            ให้ทำงานรวมกับอุปกรณ์ในระบบอัตโนมัติได้
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-2B</h3>
          <p>
            สามารถเลือก และประยุกต์ใช้เทคนิควิธี และเครื่องมือในการผลิตชิ้นส่วน
            ต่างๆ เพื่อนำไปสร้างผลิตภัณฑ์เมคคาทรอนิกส์ได้โดยคำนึงถึงข้อ
            กำหนดและข้อจำกัดของ เครื่องมือเหล่านั้น
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-2C</h3>
          <p>สามารถใชงานเครื่องจักรอัตโนมัติได้เช่น เครื่องซีเอ็นซี (CNC)</p>
        </div>
      </div>
    </li>
  </body>
</html>
