<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>MCE-PLO4</title>
  </head>
  <body>
    <li class="card-plo swiper-slide">
      <div>
        <p class="plo-title">PLO-4</p>
        <h2 class="plo-desc">ปฏิบัติหน้าที่วิศวกรได้อย่างมืออาชีพ</h2>
        <button class="plo-open">
          <i class="fa-solid fa-circle-plus"></i> SubPLO
        </button>
      </div>

      <div class="subplo-hidden">
        <div class="subplo-item">
          <h3>SubPLO-4A</h3>
          <p>
            อธิบายแนวทางการปฏิบัติวิชาชีพวิศวกรรมในบริบทของสังคม เศรษฐกิจ
            สิ่งแวดล้อม การพัฒนาที่ยั่งยืน และกรอบของกฎหมายได้และสามารถ
            ประเมินผลกระทบของ การแก้ไขปัญหาทางวิศวกรรมที่มีต่อสังคม สิ่งแวดล้อม
            และการพัฒนาที่ยั่งยืนด้วย
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-4B</h3>
          <p>
            สามารถระบุจรรยาบรรณวิชาชีพ และอธิบายการใช้กรอบมาตรฐานการ
            ปฏิบัติวิชาชีพ และกฎหมายในการทำงานได้
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-4C</h3>
          <p>
            สามารถประยุกต์ความรู้ด้านเศรษฐศาสตร์ และการบริหารงานวิศวกรรม
            โดยคำนึงถึงความเสี่ยงด้วย
          </p>
        </div>
      </div>
    </li>
  </body>
</html>
