* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
}

/* mainpic */
.carousel-wrapper {
  position: relative;
  z-index: 1;
}

.carousel-inner img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: center;
}

.mainpic-gradient {
  width: 100%;
  height: 30vh;
  margin-top: 65vh;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(
    to bottom,
    transparent,
    white 90%,
    white 100%
  );
  pointer-events: none;
}

/* BUTTON */
.hp-button1 {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  position: relative;
  z-index: 2;
}

.hp-button1-box {
  width: 25vh;
  height: 15vh;
  align-content: top;
  margin-top: -5vh;
  padding: 0.5em;
  border-radius: 5%;
  border: 3px solid #a72c32;
  color: #a72c32;
  background-color: #ffffff;
  transition-duration: 0.3s;
}

.hp-button1-box:hover {
  background: #a72c32;
  color: #fff;
  cursor: pointer;
  box-shadow: none;
}

.hp-button1-main {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.hp-button1-name {
  min-height: 32px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 1.4;
}

/* ABOUT US */
.hp-aboutus {
  margin: 5em auto;
  display: flex;
  gap: 5em;
  justify-content: center;
}

.hp-aboutus img {
  width: 25em;
  height: 25em;
  object-fit: cover;
}

.hp-aboutus-box {
  width: 40%;
  padding-top: 3em;
}

.hp-aboutus-body {
  padding-top: 1em;
  font-size: 22px;
}

.aboutus-read-more {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 2em 27em 0 0;
  padding: 1em;
  border-radius: 10px;
  color: white;
  background-color: #a72c32;
  border: solid 2px #a72c32;
  text-decoration: none;
  transition-duration: 0.4s;
}

.aboutus-read-more:hover {
  gap: 2em;
  color: black;
  background-color: #fff;
}

/* ผลงาน */
.reward-carousel {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.reward-track {
  display: flex;
  width: max-content;
  animation: marquee 90s linear infinite;
}

.reward-track:hover {
  animation-play-state: paused;
}

.reward-carousel::-webkit-scrollbar {
  display: none;
}

.reward-group {
  display: flex;
  gap: 1em;
  padding-right: 1em;
  background: #a72c32;
}

.reward-group:hover {
  animation-play-state: paused;
}

.reward-card img {
  width: 50vh;
  height: 40vh;
}

.reward-card1 img {
  width: 40vh;
  height: 40vh;
}

.reward-card,
.reward-card1 {
  flex: 0 0 5em;
  height: 20em;
  padding: 1em;
  text-align: center;
}

.reward-card :hover,
.reward-card1 :hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 40vw;
  max-height: 90vh;
  width: auto;
  height: auto;
  object-fit: contain;
  background: transparent;
  box-shadow: none;
}

.modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  position: fixed;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* ข่าวสาร) */
.container,
.swiper,
.swiper-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.container-bg {
  background: #e5e5e5;
}

.container.swiper {
  display: flex;
  justify-content: center;
}

.card-wrapper {
  margin: 2em auto;
  width: 90%;
}

.card-image {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: auto;
}

.card-wrapper {
  max-width: 1100px;
  margin: 0 auto 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.card-list .card-item {
  list-style: none;
  justify-content: center;
}

.card-list .card-item .card-link {
  position: relative;
  user-select: none;
  display: block;
  height: 68vh;
  background-color: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  box-shadow: 1px 1px 3px 3px #c3c3c3;
  transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
  cursor: grabbing;
}

.card-list .card-item .card-link:hover {
  box-shadow: 1px 1px 3px 3px #a72c32;
}

.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card-link .badge {
  color: #fff;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #a72c32;
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .card-title {
  font-size: 1.19rem;
  color: #000;
  font-weight: 600;
}

.card-list .card-link .card-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 35px;
  width: 35px;
  color: #a72c32;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border: 2px solid #a72c32;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #a72c32;
}

.card-wrapper .swiper-pagination-bullet {
  height: 10px;
  width: 10px;
  opacity: 0.5;
  background: #000;
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.card-wrapper .swiper-slide-button {
  color: #000000;
  margin-top: -35px;
  transition: 0.4s ease;
}

.card-wrapper .swiper-slide-button:hover {
  color: #a72c32;
}

.swiper-slide-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px;
  color: #ffffff;
}
