* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
}

/* mainpic */
.carousel-wrapper {
  position: relative;
  z-index: 1;
}

.carousel-inner img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: center;
}

.mainpic-gradient {
  width: 100%;
  height: 30vh;
  margin-top: 65vh;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(
    to bottom,
    transparent,
    white 90%,
    white 100%
  );
  pointer-events: none;
}

/* BUTTON */
.hp-button1 {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  position: relative;
  z-index: 2;
}

.hp-button1-box {
  width: 25vh;
  height: 25vh;
  margin-top: -5vh;
  border-radius: 5%;
  border: none;
  background: linear-gradient(to bottom, #ff3300 0%, #ffec48 100%);
  color: #ffffff;
  box-shadow: 5px -5px #ce4726;
  transition-duration: 0.3s;
}

.hp-button1-box:hover {
  background: #fff179;
  cursor: pointer;
  color: #ff3300;
  box-shadow: none;
}

.hp-button1-main {
  font-size: 36px;
  font-weight: 700;
}

.hp-button1-name {
  font-size: 13px;
}

/* ABOUT US */
.hp-aboutus {
  margin: 5em auto;
  display: flex;
  gap: 5em;
  justify-content: center;
}

.hp-aboutus img {
  width: 25em;
  height: 25em;
  object-fit: cover;
}

.hp-aboutus-box {
  width: 40%;
  padding-top: 3em;
}

.hp-aboutus-body {
  padding-top: 1em;
  font-size: 22px;
}

.aboutus-read-more {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 2em 27em 0 0;
  padding: 1em;
  border-radius: 10px;
  color: white;
  background-color: #ff3300;
  text-decoration: none;
  transition-duration: 0.4s;
}

.aboutus-read-more:hover {
  gap: 2em;
  color: black;
  background-color: #ffec48;
}

/* ผลงาน */
.reward-carousel {
  margin: auto;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.reward-carousel::-webkit-scrollbar {
  display: none;
}

.reward-group {
  display: flex;
  gap: 1em;
  padding-right: 1em;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    #ffec48 5%,
    #ff3300 100%
  );
  animation: spin 90s infinite linear;
}

.reward-group:hover {
  animation-play-state: paused;
}

.reward-card img {
  width: 50vh;
  height: 40vh;
}

.reward-card1 img {
  width: 40vh;
  height: 40vh;
}

.reward-card,
.reward-card1 {
  flex: 0 0 5em;
  height: 20em;
  padding: 1em;
  text-align: center;
}

.reward-card :hover,
.reward-card1 :hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

/* ข่าวสาร) */
.container-bg {
  background: #ff3300;
}

.container.swiper {
  display: flex;
  justify-content: center;
}

.card-wrapper {
  margin: 2em auto;
  width: 90%;
}

.card-image {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: auto;
}

.card-wrapper {
  max-width: 1100px;
  margin: 0 auto 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.card-list .card-item {
  list-style: none;
  justify-content: center;
}

.card-list .card-item .card-link {
  user-select: none;
  display: block;
  background-color: #fff;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  box-shadow: 1px 1px 3px 3px #c3c3c3;
  transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
  cursor: grabbing;
}

.card-list .card-item .card-link:hover {
  box-shadow: 2px 2px 5px 5px #ffec48;
}

.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card-link .badge {
  color: #ff3300;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #ffec48;
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .card-title {
  font-size: 1.19rem;
  color: #000;
  font-weight: 600;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #ff3300;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border: 2px solid #ff3300;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}

.card-list .card-link:hover .card-button {
  color: #fff;
  background: #ff3300;
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #ffffff;
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.card-wrapper .swiper-slide-button {
  color: #ff3300;
  margin-top: -35px;
}

.swiper-slide-button {
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px;
  color: #ff3300;
}
