* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
  scroll-behavior: smooth;
}

/* mainpic */
.carousel-wrapper {
  position: relative;
}

.carousel-inner img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: center;
}

.mainpic-gradient {
  width: 100%;
  height: 30vh;
  margin-top: 65vh;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(
    to bottom,
    transparent,
    white 90%,
    white 100%
  );
  pointer-events: none;
}

/* BUTTON */
.hp-button1 {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  position: relative;
}

.hp-button1-box {
  width: 25vh;
  height: 15vh;
  align-content: top;
  margin-top: -5vh;
  padding: 0.5em;
  border-radius: 15px;
  border: 3px solid #a72c32;
  color: #a72c32;
  background-color: #ffffff;
  transition-duration: 0.3s;
}

.hp-button1-box:hover {
  background: #a72c32;
  color: #fff;
  cursor: pointer;
  box-shadow: none;
}

.hp-button1-main {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.hp-button1-name {
  min-height: 32px;
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 1.4;
}

/* ABOUT US */
.hp-aboutus {
  margin: 5em auto;
  display: flex;
  gap: 5em;
  justify-content: center;
}

.hp-aboutus img {
  width: 25em;
  height: 25em;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.hp-aboutus-box {
  width: 40%;
  padding-top: 3em;
  z-index: 1;
}

.hp-aboutus-body {
  padding-top: 1em;
  font-size: 22px;
}

.aboutus-read-more {
  display: flex;
  flex-direction: row;
  width: 10.2em;
  gap: 1em;
  margin: 2em 0 0 0;
  padding: 1em;
  border-radius: 10px;
  color: white;
  background-color: #a72c32;
  border: solid 2px #a72c32;
  text-decoration: none;
  transition-duration: 0.4s;
}

.aboutus-read-more:hover {
  gap: 2em;
  color: black;
  background-color: #fff;
}

/* ผลงาน */
.reward-carousel {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.reward-track {
  display: flex;
  width: max-content;
  animation: marquee 90s linear infinite;
}

.reward-track:hover {
  animation-play-state: paused;
}

.reward-carousel::-webkit-scrollbar {
  display: none;
}

.reward-group {
  display: flex;
  gap: 0.1em;
  padding-right: 1em;
  background: #a72c32;
}

.reward-group:hover {
  animation-play-state: paused;
}

.reward-card img {
  width: 50vh;
  height: 40vh;
}

.reward-card1 img {
  width: 40vh;
  height: 40vh;
}

.reward-card,
.reward-card1 {
  flex: 0 0 5em;
  height: 20em;
  padding: 1em 0.1em;
  text-align: center;
}

.reward-card :hover,
.reward-card1 :hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.3s;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 40vw;
  max-height: 90vh;
  width: auto;
  height: auto;
  object-fit: contain;
  background: transparent;
  box-shadow: none;
}

.modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  position: fixed;
  top: 20px;
  right: 30px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* ข่าวสาร) */
.news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 14em 0 14em;
}

.news-header h2 {
  font-size: 32px;
  font-weight: 600;
  color: #000000;
  z-index: 2;
}

.news-header span {
  font-size: 20px;
  font-weight: 600;
  transition: 0.2s;
  z-index: 2;
}

.news-header a {
  color: #a72c32;
  text-decoration: none;
}

.news-header a:hover {
  color: #7d696a;
  text-decoration: underline;
}

.container-bg {
  position: relative;
  display: flex;
  height: auto;
  width: 65%;
  margin: 0 auto;
  padding: 20px 0;
  justify-content: center;
}

.swiper {
  width: 100%;
  padding: 0 60px;
  position: relative;
  overflow: visible;
}

.swiper-wrapper {
  display: flex;
  align-items: stretch;
  min-height: 360px;
}

.swiper-slide {
  height: auto;
  display: flex;
  width: auto;
}

.card {
  height: 400px !important;
}

.news-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.tags {
  font-size: 12px;
  width: fit-content;
}

.swiper-button-prev,
.swiper-button-next {
  padding: 0 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #5d5d5d !important;
  width: 45px;
  height: 45px;
  z-index: 10;
}

.swiper-slide-button:hover {
  color: #000 !important;
}

.swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #000 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}
