* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
}

.news-container {
  margin: 8em auto;
  text-align: center;
}

.badge {
  padding: 3em;
}

.B-รับสมัคร {
  width: 5em;
  margin: 0;
  font-size: 24px;
  color: #a72c32;
  background-color: #fff;
  border: 1px solid #a72c32;
  border-radius: 50px;
}
