* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
  scroll-behavior: smooth;
}

.news-layout {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

.btn-box {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 18em;
  height: 26em;
  top: 8em;
  margin: 0 1em 2em 3em;
  border: 3px solid #a72c32;
  border-radius: 10px;
  background: #fff;
  z-index: 2;
}

.btn-box h2 {
  margin: 0.3em 0.7em;
  color: #000;
}

.btn-box h4 {
  margin: 0.5em 0.7em;
  color: #6e6e6e;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0 1em;
}

.btn-group .btn {
  border-radius: 30px !important;
  font-weight: 600;
  color: #a72c32;
  background-color: #fff;
  border: 1px solid #a72c32;
}

.btn-outline-primary {
  background-color: transparent;
  color: #a72c32;
  border: 1px solid #a72c32;
}

.btn-check:checked + .btn-outline-primary {
  background-color: #a72c32 !important;
  border-color: #a72c32 !important;
  color: #fff !important;
}

.btn-group .btn:hover {
  background-color: #a72c32 !important;
  color: #fff !important;
  border: 1px solid #a72c32 !important;
}

.news-container {
  margin-top: 8em;
}

.carousel {
  display: flex;
  margin: auto;
  width: 70em;
  height: 40vh;
  overflow: hidden;
}

.carousel-inner {
  margin-right: 5em;
}

.carousel-item {
  height: 40vh;
}

.carousel-flex {
  display: flex;
  height: 100%;
}

.carousel-poster {
  flex: 1.2;
}

.carousel-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.carousel-text {
  flex: 1;
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  background: #9c9c9c;
}

.carousel-text h4 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.carousel-text p {
  font-size: 14px;
  line-height: 1.8;
  color: #e9e9e9;
}

.news-tags {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
}

.tags {
  flex-direction: column;
  padding: 1vh 2vh;
  border-radius: 50px;
  background: #a72c32;
  color: white;
  font-weight: 600;
  flex: 0 0 auto;
}

.carousel-indicators [data-bs-target] {
  margin: 0 0 0.1vh 0;
  background-color: #000 !important;
  opacity: 0.4;
}

.carousel-indicators .active {
  background-color: #000;
  opacity: 1;
}

.card-container {
  margin-top: 1em;
}

.card-list {
  list-style: none;
  padding: 0;
}
