<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/f7cbfce543.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../Template/footer.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-link">
          <span class="footer-brand">
            <a href=""
              ><img src="../public/KMUTT_Logo.png" alt="kmuttlogo"
            /></a>
            <a href=""><img src="../public/PEMCE-LOGO.png" alt="prelogo" /></a>
          </span>
          <div>
            <h3>Quick Links</h3>
            <ul>
              <div><a href="https://www.leb2.org/">LEB2</a></div>
              <div><a href="https://sinfo.kmutt.ac.th/">NewAcis</a></div>
            </ul>
          </div>
        </div>
        <div class="footer-contact">
          <h3>Contact Us</h3>
          <div class="footer-body">
            <p>
              King Mongkut's University of Technology Thonburi<br />
              อาคารวิศววัฒนะ ชั้น8 126 ถนนประชาอุทิศ <br />
              แขวงบางมด เขตทุ่งครุ กรุงเทพฯ 10140
            </p>
            <span class="contact-phone">
              <i class="fa-solid fa-phone"></i>
              <div class="numbers">
                <p class="main-number">+66 2-470-9175-7</p>
                <p>2-470-9179</p>
              </div>
            </span>
            <div>
              <span class="contact-media"
                ><i class="fa-brands fa-facebook"></i>
                <a
                  href="https://www.facebook.com/people/%E0%B8%A0%E0%B8%B2%E0%B8%84%E0%B8%A7%E0%B8%B4%E0%B8%8A%E0%B8%B2%E0%B8%A7%E0%B8%B4%E0%B8%A8%E0%B8%A7%E0%B8%81%E0%B8%A3%E0%B8%A3%E0%B8%A1%E0%B8%AD%E0%B8%B8%E0%B8%95%E0%B8%AA%E0%B8%B2%E0%B8%AB%E0%B8%81%E0%B8%B2%E0%B8%A3-%E0%B8%A1%E0%B8%88%E0%B8%98/100063531941398/#"
                  class="media"
                  >facebook</a
                ></span
              >
            </div>
            <div>
              <span class="contact-media">
                <i class="fa-brands fa-youtube"></i>
                <a
                  href="https://www.youtube.com/@pemcekmutt/videos"
                  class="media"
                  >youtube</a
                ></span
              >
            </div>
          </div>
        </div>
        <div class="footer-map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d838.9469158404552!2d100.49425396887113!3d13.650573532147984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTPCsDM5JzAyLjIiTiAxMDDCsDI5JzQwLjQiRQ!5e0!3m2!1sth!2sth!4v1763039323192!5m2!1sth!2sth"
            width="400vh"
            height="300vh"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <footer>
        <hr class="line" />
        <div class="text-center">
          <p>
            &copy; 2026 PRE King Mongkut's University of Technology Thonburi
          </p>
        </div>
      </footer>
    </footer>
  </body>
</html>
