* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-expand-lg {
  position: sticky;
  background-color: #ff5900;
  padding: 0.1rem;
  border-radius: 0 0 25px 25px;
}

.navbar-brand img,
.offcanvas-header img {
  margin: 0 1rem;
  height: 6rem;
  width: 6rem;
}

.offcanvas {
  background-color: #ff5900;
}

.offcanvas-header {
  background-color: #d9d9d9;
}

.offcanvas-body {
  margin: 1rem;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-brand :focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.navbar-nav,
.nav-link {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Prompt", sans-serif;
  color: white;
  column-gap: 0.5vh;
  margin-top: 1vh;
}

.nav-link:hover,
.navbar-nav:hover {
  color: #ffffff;
}

.dropdown-menu {
  background-color: #ffffff;
}

.dropdown-item {
  display: block;
  background-color: #ffffff;
}

.btn-search {
  color: white;
  background-color: #d9d9d9;
  font-weight: 1.5rem;
  border: none;
  border-radius: 50px;
  padding: 1.5vh 1.75vh;
  transition: 0.3s background-color;
}

.btn-search:hover {
  background-color: #bfbfbf;
}

.d-flex {
  margin: 1rem;
}

.d-flex .form-control {
  border: none;
  box-shadow: none;
  border-radius: 50px;
}
