<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/news-card.css" />
    <%- include('../../partials/Responsive') %>
    <title>pos20260102-1</title>
  </head>
  <body>
    <li class="card" data-tag="news">
      <a
        class="card-link"
        data-path="/news/pos20260102-1"
        href="/news/pos20260102-1"
      >
        <img
          src="/images/news/2569/Jan/02_01_(1).jpg"
          alt="02-01"
          class="card-image"
        />
        <div class="news-tags">
          <div class="tags">ข่าวสาร</div>
        </div>
        <p class="Dates">2 มกราคม 2569</p>
        <h2 class="card-title">
          ประชาสัมพันธ์ข้อมูล สำหรับ นศ. ป.ตรี รหัส 68
          ที่ไม่ผ่านเกณฑ์รายวิชาโมดูลพื้นฐานคณิตศาสตร์
        </h2>
        <button class="card-button material-symbols-rounded">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </li>
  </body>
</html>
