<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/navbar', { title : 'pos20250112-1'} ) %>

    <link rel="stylesheet" href="/css/assets/news-card.css" />
  </head>
  <body>
    <li class="card">
      <a class="card-link">
        <img
          src="/images/news/2569/Jan/12_01_(1).jpg"
          alt="12-01"
          class="card-image"
        />
        <div class="news-tags">
          <div class="tags">กิจกรรม</div>
        </div>
        <p class="Dates">12 มกราคม 2569</p>
        <h2 class="card-title">
          ภาควิชาวิศวกรรมอุตสาหการ ได้จัดกิจกรรมเสวนาพิเศษในหัวข้อ
          “เส้นทางวิศวกรสู่ผู้บริหารระดับสูง”
          เพื่อสร้างแรงบันดาลใจและเปิดมุมมองการพัฒนาวิชาชีพให้แก่นักศึกษา
          ศิษย์เก่า และบุคลากรของภาควิชา
        </h2>
        <button class="card-button material-symbols-rounded">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </li>
  </body>
</html>
