<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/navbar', { title : 'pos20250114-2'} ) %>

    <link rel="stylesheet" href="/css/assets/news-card.css" />
  </head>
  <body>
    <li class="card">
      <a class="card-link">
        <img
          src="/images/news/2569/Jan/14_01(1).jpg"
          alt="14-01(1)"
          class="card-image"
        />
        <div class="news-tags">
          <div class="tags">รางวัล</div>
        </div>
        <p class="Dates">14 มกราคม 2569</p>
        <h2 class="card-title">
          ขอแสดงความชื่นชมในความสามารถของนักศึกษาภาควิชาวิศวกรรมอุตสาหการ
          ที่ได้รับรางวัลอันทรงเกียรติ Allen Green Award 🥇
          จากงานประชุมวิชาการระดับโลก 7th World Conference on Acoustic Emission
        </h2>
        <button class="card-button material-symbols-rounded">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </li>
  </body>
</html>
