<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/navbar', { title : 'pos20250115-1'} ) %>

    <link rel="stylesheet" href="/css/assets/news-card.css" />
  </head>
  <body>
    <li class="card">
      <a class="card-link">
        <img
          src="/images/news/2569/Jan/15_01_(1).jpg"
          alt="15-01"
          class="card-image"
        />
        <div class="news-tags">
          <div class="tags">รางวัล</div>
        </div>
        <p class="Dates">15 มกราคม 2569</p>
        <h2 class="card-title">
          ขอแสดงความยินดีกับอาจารย์ และนักวิจัยที่ได้รับ รางวัลการวิจัยแห่งชาติ
          : รางวัลผลงานคุณภาพ NRCT Quality Achievement Award ประจำปีงบประมาณ
          2569
        </h2>
        <button class="card-button material-symbols-rounded">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </li>
  </body>
</html>
