<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/navbar', { title : 'pos20250129-1'} ) %>

    <link rel="stylesheet" href="/css/assets/news-card.css" />
  </head>
  <body>
    <li class="card all pre" data-category="all pre">
      <a class="card-link">
        <img
          src="/images/news/2569/Jan/29_01.jpg"
          alt="06_02"
          class="card-image"
        />
        <div class="news-tags">
          <div id="btnradio6" class="tags">PRE</div>
        </div>
        <p class="Dates">29 มกราคม 2569</p>
        <h2 class="card-title">
          Co-op Day 2025 ภาควิชาวิศวกรรมอุตสาหการ คณะวิศวกรรมศาสตร์ มจธ.
        </h2>
        <button class="card-button material-symbols-rounded">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </li>
  </body>
</html>
