<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/navbar', { title : 'pos20250130-1'} ) %>

    <link rel="stylesheet" href="/css/assets/news-card.css" />
  </head>
  <body>
    <li class="card all club mce" data-category="all club mce">
      <a class="card-link">
        <img
          src="/images/news/2569/Jan/30_01.jpg"
          alt="06_02"
          class="card-image"
        />
        <div class="news-tags">
          <div id="btnradio5" class="tags">ชมรมมด</div>
          <div id="btnradio7" class="tags">MCE</div>
        </div>
        <p class="Dates">30 มกราคม 2569</p>
        <h2 class="card-title">66 ปี ของการกลับมารวมตัวกัน “อุตเมคคา“</h2>
        <button class="card-button material-symbols-rounded">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </li>
  </body>
</html>
