<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=sdevice-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/news-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>pos20260130</title>
  </head>
  <body>
    <li class="card" data-tag="event club mce">
      <a
        class="card-link"
        data-path="/news/pos20260130-1"
        href="/news/pos20260130-1"
      >
        <img
          src="/images/news/2569/Jan/30_01.jpg"
          alt="30_01"
          class="card-image"
        />
        <div class="news-tags">
          <div class="tags">ชมรมมด</div>
          <div class="tags">กิจกรรม</div>
          <div class="tags">MCE</div>
        </div>
        <p class="Dates">30 มกราคม 2569</p>
        <h2 class="card-title">66 ปี ของการกลับมารวมตัวกัน “อุตเมคคา“</h2>
        <button class="card-button material-symbols-rounded">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </li>
  </body>
</html>
