<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/news-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>pos20250206-1</title>
  </head>
  <body>
    <li class="card" data-tag="hiring pre mce">
      <a class="card-link">
        <img
          src="/images/news/2569/Feb/06_02.jpg"
          alt="06_02"
          class="card-image"
        />
        <div class="news-tags">
          <div class="tags">รับสมัคร</div>
          <div class="tags">PRE</div>
          <div class="tags">MCE</div>
        </div>
        <p class="Dates">3 กุมภาพันธ์ 2569</p>
        <h2 class="card-title">
          กำหนดการสอบสัมภาษณ์ โครงการ Active recruitment รอบ TCAS1
        </h2>
        <button class="card-button material-symbols-rounded">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </li>
  </body>
</html>
