<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/news-card.css" />
    <%- include('../../partials/Responsive') %>
    <title>pos20260203-1</title>
  </head>
  <body>
    <li class="card" data-tag="event pre">
      <a
        class="card-link"
        data-path="/news/pos20260203-1"
        href="/news/pos20260203-1"
      >
        <img
          src="/images/news/2569/Feb/03_02_(1).jpg"
          alt="03_02"
          class="card-image"
          style="object-position: bottom"
        />
        <div class="news-tags">
          <div class="tags">กิจกรรม</div>
          <div class="tags">PRE</div>
        </div>
        <p class="Dates">3 กุมภาพันธ์ 2569</p>
        <h2 class="card-title">
          ภาพบรรยากาศจัดกิจกรรม "Production Engineering Co-op Day 2025"
        </h2>
        <button class="card-button material-symbols-rounded">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </li>
  </body>
</html>
