<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/news-card.css" />
    <%- include('../../partials/Responsive') %>
    <title>pos20260316-2</title>
  </head>
  <body>
    <li class="card" data-tag="news isee">
      <a
        class="card-link"
        href="https://www.dek-d.com/tcas/68200/?fbclid=IwY2xjawQrPlZleHRuA2FlbQIxMQBzcnRjBmFwcF9pZBAyMjIwMzkxNzg4MjAwODkyAAEexp_rBHe0J9aVALY6Wsw9zsWONSTeTfy9gez1ohYKxPbr9F3NdXgrtKqyXUU_aem_ddmTIXCJ6rx9RVL-bY5BMg"
        target="_blank"
      >
        <img
          src="/images/news/2569/Mar/16_03_02.jpg"
          alt="03_16"
          class="card-image"
        />
        <div class="news-tags">
          <div class="tags">ข่าวสาร</div>
          <div class="tags">ISEE</div>
        </div>
        <p class="Dates">16 มีนาคม 2569</p>
        <h2 class="card-title">
          มจธ. เปิดตัวหลักสูตรวิศวกรรม ป.ตรี 2 สาขาใหม่ ปีนี้ปีแรก
        </h2>
        <button class="card-button material-symbols-rounded">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </li>
  </body>
</html>
