<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/news-card.css" />
    <%- include('../../partials/Responsive') %>
    <title>pos20260319-3</title>
  </head>
  <body>
    <li class="card" data-tag="hiring pre mce isee">
      <a
        class="card-link"
        href="https://www.dek-d.com/tcas/68150/?fbclid=IwY2xjawQrPPRleHRuA2FlbQIxMQBicmlkETFoZ0FBNkhsczNZZnBRck1Kc3J0YwZhcHBfaWQQMjIyMDM5MTc4ODIwMDg5MgABHtitrleUBGXRATvAPOwEO6dpMDSgI2a30w3y4I18Z7QhMo6JuWJT7iNSTwAs_aem_ttcb-xRhGoXFV2xFcrXVRw"
        target="_blank"
      >
        <img
          src="/images/news/2569/Mar/19_03_03.jpg"
          alt="03_19"
          class="card-image"
        />
        <div class="news-tags">
          <div class="tags">รับสมัคร</div>
        </div>
        <p class="Dates">19 มีนาคม 2569</p>
        <h2 class="card-title">Quata ทายาททางวิชาชีพและธุรกิจ</h2>
        <button class="card-button material-symbols-rounded">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </li>
  </body>
</html>
