<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/news-card.css" />
    <%- include('../../partials/Responsive') %>
    <title>pos20260316-3</title>
  </head>
  <body>
    <li class="card" data-tag="news">
      <a
        class="card-link"
        data-path="/news/pos20260316-3"
        href="/news/pos20260316-3"
      >
        <img
          src="/images/news/2569/Mar/16_03_03(01).jpg"
          alt="03_16"
          class="card-image"
        />
        <div class="news-tags">
          <div class="tags">ข่าวสาร</div>
        </div>
        <p class="Dates">16 มีนาคม 2569</p>
        <h2 class="card-title">อัพเดทค่าเทอมวิศกรรมศาสตร์ มจธ.</h2>
        <button class="card-button material-symbols-rounded">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </li>
  </body>
</html>
