<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/news-card.css" />
    <%- include('../../partials/Responsive') %>
    <title>pos20260326-2</title>
  </head>
  <body>
    <li class="card" data-tag="hiring isee">
      <a
        class="card-link"
        data-path="/news/pos20260326-2"
        href="/news/pos20260326-2"
      >
        <img
          src="/images/news/2569/Mar/26_03_02(1).jpg"
          alt="03_26_02"
          class="card-image"
        />
        <div class="news-tags">
          <div class="tags">รับสมัคร</div>
          <div class="tags">ISEE</div>
        </div>
        <p class="Dates">26 มีนาคม 2569</p>
        <h2 class="card-title">
          ถามกันเข้ามาเยอะ! วันนี้แอดมินมัดรวม Q&A
          ที่หลายคนอยากรู้เกี่ยวกับหลักสูตรมาฝากกัน 📌
        </h2>
        <button class="card-button material-symbols-rounded">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </li>
  </body>
</html>
