<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/news-card.css" />
    <%- include('../../partials/Responsive') %>
    <title>pos20260330-1</title>
  </head>
  <body>
    <li class="card" data-tag="reward">
      <a
        class="card-link"
        data-path="/news/pos20260330-1"
        href="/news/pos20260330-1"
      >
        <img
          src="/images/news/2569/Mar/30_03.jpg"
          alt="03_30"
          class="card-image"
        />
        <div class="news-tags">
          <div class="tags">รางวัล</div>
        </div>
        <p class="Dates">30 มีนาคม 2569</p>
        <h2 class="card-title">ขอแสดงความยินดีกับทีม SmartSafe Guardian 🎉</h2>
        <button class="card-button material-symbols-rounded">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </li>
  </body>
</html>
