<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/news-card.css" />
    <%- include('../../partials/Responsive') %>
    <title>pos20260509-1</title>
  </head>
  <body>
    <li class="card" data-tag="news isee">
      <a
        class="card-link"
        data-path="/news/pos20260509-1"
        href="/news/pos20260509-1"
      >
        <img
          src="/images/news/2569/May/09_05(1).jpg"
          alt="09_05"
          class="card-image"
        />
        <div class="news-tags">
          <div class="tags">ข่าวสาร</div>
          <div class="tags">ISEE</div>
        </div>
        <p class="Dates">9 พฤษภาคม 2569</p>
        <h2 class="card-title">Q&A ISEE</h2>
        <button class="card-button material-symbols-rounded">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </li>
  </body>
</html>
