<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/news-card.css" />
    <%- include('../../partials/Responsive') %>
    <title>pos20260518-2</title>
  </head>
  <body>
    <li class="card" data-tag="event">
      <a
        class="card-link"
        data-path="/news/pos20260518-2"
        href="/news/pos20260518-2"
      >
        <img
          src="/images/news/2569/May/18_05_02(1).jpg"
          alt="18_05"
          class="card-image"
        />
        <div class="news-tags">
          <div class="tags">กิจกรรม</div>
        </div>
        <p class="Dates">18 พฤษภาคม 2569</p>
        <h2 class="card-title">
          นศ.วิศวกรรมเมคคาทรอนิกส์ มจธ. โชว์ศักยภาพ เข้าร่วมแข่งขันประกวด Karakuri ในงาน INTERMACH 2026
        </h2>
        <button class="card-button material-symbols-rounded">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </li>
  </body>
</html>
