<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/news-card.css" />
    <%- include('../../partials/Responsive') %>
    <title>pos20260520-1</title>
  </head>
  <body>
    <li class="card" data-tag="reward pre">
      <a
        class="card-link"
        data-path="/news/pos20260520-1"
        href="/news/pos20260520-1"
      >
        <img
          src="/images/news/2569/May/20_05.jpg"
          alt="20_05"
          class="card-image"
        />
        <div class="news-tags">
          <div class="tags">รางวัล</div>
          <div class="tags">PRE</div>
        </div>
        <p class="Dates">20 พฤษภาคม 2569</p>
        <h2 class="card-title">
          ภาควิชาวิศวกรรมอุตสาหการ มจธ.ขอแสดงความยินดีในโอกาสคว้า “รางวัลชมเชย” จากการแข่งขัน NTU Hackathon 
        </h2>
        <button class="card-button material-symbols-rounded">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </li>
  </body>
</html>
