<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/news-card.css" />
    <%- include('../../partials/Responsive') %>
    <title>pos20260525-1</title>
  </head>
  <body>
    <li class="card" data-tag="event">
      <a
        class="card-link"
        data-path="/news/pos20260525-1"
        href="/news/pos20260525-1"
      >
        <img
          src="/images/news/2569/May/25_05(1).jpg"
          alt="25_05"
          class="card-image"
        />
        <div class="news-tags">
          <div class="tags">กิจกรรม</div>
        </div>
        <p class="Dates">25 พฤษภาคม 2569</p>
        <h2 class="card-title">
          มจธ. เป็นเจ้าภาพ CIOD 2026 ยกระดับอุตสาหกรรมด้วยแนวคิด Industrial 5.0 พร้อมทัพบทความวิจัยเกือบ 100 หัวข้อ
        </h2>
        <button class="card-button material-symbols-rounded">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </a>
    </li>
  </body>
</html>
