<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/PLO_degree.css" />
    <title>MEng-1PLO-1</title>
  </head>
  <body>
    <li class="card-plo swiper-slide">
      <div>
        <p class="plo-title">PLO-1</p>
        <h2 class="plo-desc">
          สามารถแก้ไขปัญหาทางวิศวกรรมอุตสาหการและระบบการผลิตที่มีความยากและ
          ซับซ้อน อย่างมีประสิทธิผลรวมทั้งสร้าง
          สิ่งใหม่ที่เป็นที่ยอมรับในทางวิศวกรรม อุตสาหการ และระบบการผลิต
          โดยบูรณา การ ความรู้ เครื่องมือ และเทคโนโลยี
          ทางวิศวกรรมอุตสาหการและระบบการ ผลิต ร่วมกับ ทักษะทางดิจิทัล
        </h2>
        <button class="plo-open">
          <i class="fa-solid fa-circle-plus"></i> SubPLO
        </button>
      </div>

      <div class="subplo-hidden">
        <div class="subplo-item">
          <h3>SubPLO-1A</h3>
          <p>
            สามารถระบุและวิเคราะห์ปัญหาทางวิศวกรรมอุตสาหการและระบบการผลิต
            รวมทั้งระบุ ประเด็นที่สำคัญและน่าสนใจเพื่อออกแบบแนว ทางการแก้ไขปัญหา
            หรือสร้างสิ่งใหม่ที่เป็นที่ยอมรับ ทางวิศวกรรมอุตสาหการและระบบการผลิต
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-1B</h3>
          <p>
            สามารถเลือกใช้เครื่องมือและเทคโนโลยีทางวิศวกรรมอุตสาหการและระบบการ
            ผลิตได้อย่างเหมาะสมและเป็นไปตามมาตรฐานสากล
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-1C</h3>
          <p>
            สามารถนำเสนอวิธีการที่มีประสิทธิภาพเพื่อแก้ไขปัญหาทางวิศวกรรมอุตสาหการ
            และระบบการผลิต รวมทั้งนำเสนอสิ่งใหม่ที่เป็นที่ยอมรับในทาง
            วิศวกรรมอุตสาหการและระบบ การผลิต และสามารถนำเสนอผลงานวิจัยใน
            ระดับชาติหรือนานาชาติ
          </p>
        </div>
      </div>
    </li>
  </body>
</html>
