<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>MEng-2PLO-3</title>
  </head>
  <body>
    <li class="card-plo swiper-slide">
      <div>
        <p class="plo-title">PLO-3</p>
        <h2 class="plo-desc">
          แสดงออกถึงความเป็นผู้นำเพื่อ สร้างการ เปลี่ยนแปลงและพัฒนา
          หน่วยงานอย่างยั่งยืน
        </h2>
        <button class="plo-open">
          <i class="fa-solid fa-circle-plus"></i> SubPLO
        </button>
      </div>

      <div class="subplo-hidden">
        <div class="subplo-item">
          <h3>SubPLO-3A</h3>
          <p>
            สามารถบริหารจัดการหน้าที่ที่ได้รับ มอบหมายอย่างมีคุณธรรม จริยธรรม
            และ จรรยาบรรณในวิชาชีพ และมีความตระหนักถึง ผลกระทบของอุตสาหกรรมที
            ่มีต่อสังคมและ สิ่งแวดล้อม
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-3B</h3>
          <p>สามารถสื่อสารและทำงานร่วมกับ ผู้อื่นได้อย่างมีประสิทธิภาพ</p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-3C</h3>
          <p>
            สามารถนำเสนอแนวทางในการ ปรับเปลี่ยนและพัฒนาหน่วยงาน เพื่อรองรับการ
            เปลี่ยนแปลงทางอุตสาหกรรม
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-3D</h3>
          <p>มุ่งมั่นในการเรียนรู้และพัฒนาตนเอง อย่างต่อเนื่อง</p>
        </div>
      </div>
    </li>
  </body>
</html>
