<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/PLO_degree.css" />
    <title>MEng-2PLO-2</title>
  </head>
  <body>
    <li class="card-plo swiper-slide">
      <div>
        <p class="plo-title">PLO-2</p>
        <h2 class="plo-desc">
          สามารถดำเนินงานวิจัยทางวิศวกรรม อุตสา หการและระบบการผลิตอย่างเป็น ระบบ
          ถูกต้องตาม หลักวิชาการ จรรยาบรรณวิชาชีพ และจริยธรรมการ วิจัย
        </h2>
        <button class="plo-open">
          <i class="fa-solid fa-circle-plus"></i> SubPLO
        </button>
      </div>

      <div class="subplo-hidden">
        <div class="subplo-item">
          <h3>SubPLO-2A</h3>
          <p>สามารถทบทวนและวิเคราะห์ วรรณกรรมทางวิชาการที่เกี่ยวข้อง</p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-2B</h3>
          <p>สามารถออกแบบและดำเนินการวิจัย โดยใช้ระเบียบวิธีวิจัยที่เหมาะสม</p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-2C</h3>
          <p>
            สามารถวิเคราะห์และตีความ ผลการวิจัยได้อย่างถูกต้อง พร้อมทั้ง
            สรุปผลของ งานวิจัยได้อย่างเหมาะสม
          </p>
        </div>
      </div>
    </li>
  </body>
</html>
