<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>MEng-2PLO-1</title>
  </head>
  <body>
    <li class="card-plo swiper-slide">
      <div>
        <p class="plo-title">PLO-1</p>
        <h2 class="plo-desc">
          สามารถแก้ไขปัญหาในภาคอุตสาห กรรมที่มี ความยากและซับซ้อน
          อย่างมีประสิทธิผล โดยบูรณาการ ความรู้ เครื่องมือ และเทคโนโลยี
          ทางวิศวกรรม อุตสาหการและระบบ การผลิต ร่วมกับทักษะทางดิจิทัล
        </h2>
        <button class="plo-open">
          <i class="fa-solid fa-circle-plus"></i> SubPLO
        </button>
      </div>

      <div class="subplo-hidden">
        <div class="subplo-item">
          <h3>SubPLO-1A</h3>
          <p>
            สามารถระบุและวิเคราะห์ปัญหาในภาคอุตสาหกรรมเพื่อออกแบบ
            แนวทางการแก้ไขปัญหา
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-1B</h3>
          <p>
            สามารถเลือกใช้เครื่องมือและ เทคโนโลยีทางวิศวกรรมอุตสาหการและระบบการ
            ผลิตได้อย่างเหมาะสมและเป็นไปตาม มาตรฐานสากล
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-1C</h3>
          <p>
            สามารถนำเสนอวิธีการที่มี ประสิทธิภาพเพื่อแก้ไขปัญหาในภาคอุตสาหกรรม
          </p>
        </div>
      </div>
    </li>
  </body>
</html>
