* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}
/* navigation bar */

/* HomepagePic */
.carousel-wrapper {
  position: relative;
  z-index: 1;
}

.carousel-inner {
  width: 100%;
  height: 80vh;
}

.mainpic-gradient {
  width: 100%;
  height: 30vh;
  margin-top: 65vh;
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(
    to bottom,
    transparent,
    white 90%,
    white 100%
  );
  pointer-events: none;
}
/* homepage botton1 */
.hp-button1 {
  display: flex;
  position: relative;
  justify-content: center;
  column-gap: 20px;
  z-index: 2;
}
.hp-button1-box {
  width: 150px;
  height: 150px;
  margin-top: -5vh;
  padding: 7px;

  border-radius: 5%;
  border: none;
  background: linear-gradient(to bottom, #ff3300 0%, #ffec48 100%);
  color: #ffffff;
  box-shadow: 5px -5px #ce4726;
  transition-duration: 0.3s;
}
.hp-button1-box:hover {
  background: #fff179;
  cursor: pointer;
  color: #ff3300;
  border: none;
  box-shadow: none;
  transition-duration: 0.3s;
}
.hp-button1-main {
  font-size: 36px;
  font-weight: 700;
}
.hp-button1-name {
  font-size: 13px;
}
/* homepage-aboutus */
.hp-aboutus {
  margin: 5em auto;
  display: flex;
  gap: 5em;
  justify-content: center;
}
.hp-aboutus img {
  width: 25em;
  height: 25em;
}
.hp-aboutus-box {
  width: 40%;
  padding-top: 3em;
  border: none;
}
.hp-aboutus-body {
  padding-top: 1em;
  font-size: 22px;
}
.aboutus-read-more {
  display: block;
  justify-self: right;
  margin: 2em 5em;
  padding: 1em 1em;
  border-radius: 10px;
  color: white;
  background-color: #ff3300;
  text-decoration-line: none;
  transition-duration: 0.4s;
  animation: smo;
}
.aboutus-read-more:hover {
  color: black;
  background-color: #ffec48;
  cursor: pointer;
  transition-duration: 0.4s;
}
/* ผลงาน */
.reward-carousel {
  margin: auto;
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.reward-carousel::-webkit-scrollbar {
  display: none;
}

.reward-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding-right: 1em;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    #ffec48 5%,
    #ff3300 100%
  );
  animation: spin 90s infinite linear;
}

.reward-card img {
  width: 50vh;
  height: 40vh;
}

.reward-card1 img {
  width: 40vh;
  height: 40vh;
}

.reward-card,
.reward-card1 {
  flex: 0 0 5em;
  height: 20em;
  padding: 1em;
  text-align: center;
  align-content: center;
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

/* ข่าวสาร */
.carousel-inner {
  background-color: #ff3300;
}

.new-card-wrpper {
  display: flex;
  justify-content: space-evenly;
  margin: 1em auto;
}

.new-card {
  display: flex;
  flex-direction: column;
  height: 29em;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}

.card-img-top {
  object-fit: cover;
  object-position: top;
  max-width: 100%;
  max-height: 30vh;
}

.new-card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5em 0.5em;
}

.new-card-body a {
  display: block;
  background-color: #ff3300;
  border: solid black 1px;
}

.arrow {
  border-radius: 50%;
  padding: 1.5em;
}

@media (max-width: 500px) {
  .card-wrpper {
    flex: 0 0 100%;
  }
}
