* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}
/* navbar */
.navbar-expand-lg {
  position: sticky;
  background-color: #ff5900;
  opacity: 50%;
  padding: 0.1rem;
  border-radius: 0 0 25px 25px;
  height: 6rem;
  width: 100%;
}
/* head */
.carousel-wrapper {
  display: block;
  position: absolute;
  width: 70%;
  height: 50vh;
  margin: 6em 0 0 30em;
}

.carousel-inner {
  width: 80%;
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: bottom;
}

.PRE-picboxmain {
  width: 100%;
  height: 43em;
  padding: 8em 2em;
  background-color: #525252;
  color: white;
}

.navlink-underline {
  width: 20em;
  height: 1.8em;
  border-bottom: 3px solid black;
}

.navlink p {
  padding: 5em auto;
}

@media (max-width: 620px) {
}
