<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>ISEE-PLO7</title>
  </head>
  <body>
    <li class="card-plo swiper-slide">
      <div>
        <p class="plo-title">PLO-7</p>
        <h2 class="plo-desc">
          นำเสนอแนวคิดทางวิศวกรรม อุตสาหการและแผนธุรกิจได้อย่าง มีประสิทธิภาพ
          ผ่านการสื่อสารทั้ง แบบลายลักษณ์อักษรและวาจา
          ให้เหมาะสมกับกลุ่มเป้าหมายที่ หลากหลาย
        </h2>
        <button class="plo-open"></button>
      </div>
    </li>
  </body>
</html>
