<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>ISEE-PLO11</title>
  </head>
  <body>
    <li class="card-plo swiper-slide">
      <div>
        <p class="plo-title">PLO-11</p>
        <h2 class="plo-desc">
          แสดงออกถึงความสามารถในการ เรียนรู้และพัฒนาตนเองอย่าง ต่อเนื่อง
          เพื่อติดตามเทคโนโลยีและ แนวโน้มอุตสาหกรรมที่เปลี่ยน แปลง
          รวมถึงการปรับตัวในยุค ดิจิทัลและความยั่งยืน
        </h2>
        <button class="plo-open"></button>
      </div>
    </li>
  </body>
</html>
