<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>ISEE-PLO5</title>
  </head>
  <body>
    <li class="card-plo swiper-slide">
      <div>
        <p class="plo-title">PLO-5</p>
        <h2 class="plo-desc">
          ใช้เครื่องมือที่ทันสมัยทางวิศวกรรม และเครื่องมือดิจิทัลสมัยใหม่
          เพื่อการดำเนินงานทางวิศวกรรม ระบบอุตสาหกรรมและการประกอบการธุรกิจ
          โดยรับทราบถึงข้อจำกัด ของวิธีการเหล่านั้น
        </h2>
        <button class="plo-open"></button>
      </div>
    </li>
  </body>
</html>
