<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>ISEE-PLO9</title>
  </head>
  <body>
    <li class="card-plo swiper-slide">
      <div>
        <p class="plo-title">PLO-9</p>
        <h2 class="plo-desc">
          แสดงออกถึงการยึดมั่นในจรรยา บรรณแห่งวิชาชีพ ตามกรอบ มาตรฐาน
          ที่สอดคล้อง กับกฎหมาย ทั้งในประเทศและต่างประเทศ
        </h2>
        <button class="plo-open"></button>
      </div>
    </li>
  </body>
</html>
