<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/navbar', { title : 'B_Eng'} ) %>

    <link rel="stylesheet" href="/css/class.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
  </head>
  <body>
    <%- include('../partials/topbtn') %> <%- include('../partials/footer')-%>
  </body>
</html>
