<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/navbar', { title : 'document'} ) %>

    <link rel="stylesheet" href="/css/document.css" />
    <%- include('../partials/Responsive') %>
  </head>
  <body>
    <%- include('../partials/topbtn') %>

    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/
      <span>โครงานวิศวกรรม</span>
    </div>
    <div class="request-forms">
      <h2 class="form-head">Capstone Design Project (CDP)</h2>
      <div class="form-container">
        <span>โครงงานวิศวกรรม</span>
        <a href="https://sujinton.pythonanywhere.com/myproject/"
          target="blank"
          class="form-link">
        <p class="form-link">Senior Project</p>
      </div>
      <hr />
    </div>
    <div class="Internship-form">
      <h2 class="form-head">แผนงาน / กำหนดการ</h2>
      <!-- <h4>ทั่วไป</h4> -->
      <div class="form-container">
        <span>กำหนดการวิชาโครงงาน ปีการศึกษา 2568</span>
        <a
          href="https://mailkmuttacth.sharepoint.com/:x:/s/iSE6932-64/IQDj6FXP_xtDTL527tqhNxpuAQ9_0bySDG-rRg-2uaIZGb8?e=om2Q1R"
          target="_blank"
          class="form-link"
          >Project schedule plan</a
        >
      </div>
      <hr />
      <div class="form-container">
        <span>กำหนดการสอบนำเสนอวิชาโครงงาน ครั้งที่ 3 (PJ03-3) ปีการศึกษา 2568</span>
        <a
          href="https://mailkmuttacth.sharepoint.com/:x:/s/iSE6932-64/IQCPJm_fuz67SpSl8wQvzUMwAb3LIDSh_nSZu0iaDhzXk2g?e=fQcDI3"
          target="_blank"
          class="form-link"
          >Presentation schedule</a
        >
      </div>
    </div>
      <hr />
    <div class="Internship-form">
      <h2 class="form-head">เอกสาร</h2>
      <!-- <h4>ทั่วไป</h4> -->
      <div class="form-container">
        <span>Template ของรูปเล่มโครงงาน</span>
        <a
          href="https://mailkmuttacth.sharepoint.com/:f:/s/iSE6932-64/IgDIpRpZ0BJkTIH5-7cr5l4SAevVkn1Mm-I1UR86RRMhhdw?e=beiY9T"
          target="_blank"
          class="form-link"
          >Link</a
        >
      </div>
      <hr />
      <div class="form-container">
        <span>เอกสารประกอบการปฐมนิเทศ</span>
        <a
          href="https://mailkmuttacth.sharepoint.com/:b:/s/iSE6932-64/IQB5yhIeohbhQqKFs39C6PHiAbpoTVfRMa_9iVvAsrz8cV4?e=JpgHWm"
          target="_blank"
          class="form-link"
          >Link</a
        >
      </div>
    </div>
          <hr />

    <%- include('../partials/footer')-%>
  </body>
</html>
