<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/navbar', { title : 'document'} ) %>

    <link rel="stylesheet" href="/css/document.css" />
    <%- include('../partials/Responsive') %>
  </head>
  <body>
    <%- include('../partials/topbtn') %>

    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/
      <span>เอกสาร</span>
    </div>
    <div class="request-forms">
      <h2 class="form-head">แบบฟอร์ม คำร้องต่างๆ / Request Forms</h2>
      <div class="form-container">
        <span> เว็บรวมไฟล์เอกสาร(สำนักงานทะเบียน)</span>
        <a
          href="https://regis.kmutt.ac.th/web/form/"
          target="_blank"
          class="form-link"
        >
          สำนักงานทะเบียน</a
        >
      </div>
      <hr />
      <div class="form-container">
        <span> ระบบส่งเอกสาร (ภาควิศวกรรมอุสาหการ)</span>
        <a
          href="https://forms.office.com/r/nq7P4TD3Ga"
          target="_blank"
          class="form-link"
          >Link</a
        >
      </div>
      <hr />
      <div class="form-container">
        <span> แบบฟอร์มการขอใช้ห้อง-ชั้น-8</span>
        <a
          href="/images/document/แบบฟอร์มการขอใช้ห้อง-ชั้น-8.pdf"
          target="_blank"
          class="form-link"
          >PDF</a
        >
      </div>
      <hr />
    </div>
    <div class="Internship-form">
      <h2 class="form-head">เอกสารฝึกงาน</h2>
      <h4>ทั่วไป</h4>
      <div class="form-container">
        <span>ยื่นคำร้องฝึกงาน</span>
        <a
          href="https://kmutt.me/kmutt-intern"
          target="_blank"
          class="form-link"
          >ยื่นคำร้อง</a
        >
      </div>
      <hr />
      <div class="form-container">
        <span>แบบฟอร์มให้ความยินยอมเข้ารับการฝึกงานของอาจารย์ที่ปรึกษา</span>
        <a
          href="https://kmutt.me/consent-intern"
          target="_blank"
          class="form-link"
          >แบบฟอร์ม</a
        >
      </div>
      <hr />
      <div class="form-container">
        <span>Info ขั้นตอนการฝึกงาน</span>
        <a href="https://kmutt.me/info-intern" target="_blank" class="form-link"
          >ขั้นตอน</a
        >
      </div>
      <hr />
      <div class="form-container">
        <span>คู่มือการฝึกงาน</span>
        <a
          href="https://kmutt.me/guide-intern"
          target="_blank"
          class="form-link"
          >guide-th</a
        >
      </div>
      <hr />
      <div class="form-container">
        <span>Student Internship</span>
        <a href="https://kmutt.me/intern-en" target="_blank" class="form-link"
          >guide-en</a
        >
      </div>
      <hr />
      <div class="form-container">
        <span>ส่งแบบประเมินผลการฝึกงาน</span>
        <a
          href="https://kmutt.me/evaluate-intern"
          target="_blank"
          class="form-link"
          >ส่งประเมินผล</a
        >
      </div>
      <hr />
      <div class="form-container">
        <span>ตรวจสอบการรับแบบประเมินผลการฝึกงาน</span>
        <a
          href="https://kmutt.me/check-evaluate"
          target="_blank"
          class="form-link"
          >รับประเมินผล</a
        >
      </div>
      <hr />
      <div class="form-container">
        <span>ยื่นคำร้องขอหนังสือรับรองการฝึกงาน</span>
        <a href="https://kmutt.me/cert-intern" target="_blank" class="form-link"
          >รับรองการฝึก</a
        >
      </div>
      <hr />
      <div class="form-container">
        <span>แบบฟอร์มตรวจเยี่ยมฝึกงาน</span>
        <a
          href="https://kmutt.me/InternVisit-th"
          target="_blank"
          class="form-link"
          >InternVisit-th</a
        >
      </div>
      <hr />
      <div class="form-container">
        <span>Internship Visit Form</span>
        <a
          href="https://kmutt.me/InternVisit-en"
          target="_blank"
          class="form-link"
          >InternVisit-en</a
        >
      </div>
      <hr />
      <div class="form-container">
        <span>ประเมินผลฝึกงานออนไลน์</span>
        <a href="https://kmutt.me/eval-intern" target="_blank" class="form-link"
          >ประเมิน</a
        >
      </div>
      <hr />
      <div class="form-container">
        <span>ดาวน์โหลดเอกสารเกี่ยวกับการฝึกงาน</span>
        <a
          href="https://kmutt.me/download-intern"
          target="_blank"
          class="form-link"
          >เอกสาร</a
        >
      </div>
      <hr />
      <h4>สหกิจศึกษา</h4>
      <div class="form-container">
        <span> ยื่นความประสงค์ฝึกงาน</span>
        <a
          href="https://forms.office.com/r/xcCNdrnnEG"
          target="_blank"
          class="form-link"
          >Link</a
        >
      </div>
      <div class="Internship-body">
        <p>ขั้นตอนการยื่นเอกสารฝึกงานสหกิจศึกษา</p>
        <ul>
          ต้องผ่านการเห็นชอบจากอาจารย์ผู้รับผิดชอบรายวิชา สหกิจศึกษามาก่อน
          <li>ชื่อบริษัทที่ไปฝึกงาน <span>(ภาษาไทยแบบเต็มเท่านั้น)</span></li>
          <li>ที่อยู่บริษัท</li>
          <li>วันที่เริ่มฝึกงาน</li>
          <li>วันที่สิ้นสุดฝึกงาน</li>
          <li>อีเมลติดต่อบริษัท</li>
        </ul>
        <p>ใช้เอกสาร <span>สทน.01</span> โดยผ่านอาจารย์ที่ปรึกษามาก่อน</p>
      </div>
      <hr />
      <div class="form-body">
        <p>**ต้องใช้เมล @kmutt.ac.th เท่านั้น</p>
        <p>
          >>คำร้องนักศึกษา ขอให้รวมไฟล์ คำร้อง+เอกสารแนบ PDF มาเป็น 1
          ไฟล์เท่านั้น
        </p>
        <p>
          >>ตั้งชื่อไฟล์ "ชื่อเอกสาร_รหัส นศ_ชื่อ-สกุล” เช่น
          สทน.01_สทน.26_610707001022 ณธิกา ยิ้มวิไล
        </p>
        <p>**ตรวจสอบความถูกต้อง ครบถ้วนก่อนส่ง</p>
        <img src="/images/document/ขั้นตอนการส่งเอกสาร.jpg" />
      </div>
    </div>

    <%- include('../partials/footer')-%>
  </body>
</html>
/scholarship
