<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/navbar', { title : 'Homepage'} ) %>
</head>
<body>
        <section id="top"></section>
    <div class="flex-container padding ms-5" style="justify-content: center; align-items: center;margin-top:130px">
        <div class="item" style="width:65%">
            <section id="top"></section>
            <h2 style="color:blue;">ประวัติภาควิชา</h2>
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ประวัติภาควิชา</p>
                <p class="item">ภาควิชาวิศวกรรมอุตสาหการ เริ่มก่อตั้งขึ้นมาพร้อมกับการก่อตั้งมหาวิทยาลัยฯ โดยเป็น 1 ใน 4 ภาควิชาที่จัดตั้งขึ้นพร้อมกัน เมื่อวันที่ 4 กุมภาพันธ์ พ.ศ. 2503
                ในสังกัดเดิมคือวิทยาลัยเทคนิคธนบุรี กระทรวงศึกษาธิการ วันที่ 17 พฤษภาคม พ.ศ. 2503 วิทยาลัยเทคนิคธนบุรีได้เปิดทำการสอน 4 แผนกวิชา ได้แก่ ช่างก่อสร้าง
                ช่างไฟฟ้า ช่างยนต์ และช่างโลหะ ต่อมาแผนกวิชาช่างโลหะได้เปลี่ยนมาเป็นช่างเทคนิคการผลิต แผนกเทคนิคการผลิต และภาควิชาวิศวกรรมอุตสาหการ ตามลำดับ
                </p>
                <br>
            <img src="/images/history_dep.jpg" alt="Department Hi" style="margin-left: 20%; width:60%; height:auto;">
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2503</p>
                <p class="item">เริ่มการเรียนการสอนเป็นปีแรกหลังจากก่อตั้ง โดยนักศึกษาปี 1 ของวิทยาลัยฯ จะเรียนทุกวิชาเหมือนกันหมด และแยกแผนกช่างตอนขึ้นปี 2
                </p>
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2504</p>
                <p class="item">กระทรวงศึกษาธิการอนุมัติให้ใช้หลักสูตรใหม่ แบ่งออกเป็น 4 สาขาวิชาคือ ช่างก่อสร้าง ช่างไฟฟ้า ช่างยนต์ และช่างโลหะ นักศึกษาตั้งแต่รุ่นนี้เป็นต้นไป
                     ต้องแยกเรียนตามสาขาวิชาที่ตนเลือก ตั้งแต่เข้าปี 1 สำหรับช่างโลหะ แบ่งการลงฝึกวิชาปฏิบัติออกเป็น 3 สาขาวิชาได้แก่ สาขาช่างกลโรงงาน (Machine Tool) 
                     ช่างหล่อโลหะ (Foundry) และช่างเชื่อมและโลหะแผ่น (Welding and Sheet Metal) ซึ่งเป็นการฝึกปฏิบัติงานที่เข้มข้น เหมือนทำงานจริงและได้รับการถ่ายทอดสืบต่อ
                     กันรุ่นต่อรุ่นจวบจนปัจจุบัน นอกจากนั้นทางด้านทฤษฎี ได้มีการปรับปรุงหลักสูตรอย่างต่อเนื่อง
                </p>
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2508</p>
                <p class="item">กระทรวงศึกษาธิการอนุมัติให้ใช้หลักสูตรใหม่ แบ่งออกเป็น 4 สาขาวิชาคือ ช่างก่อสร้าง ช่างไฟฟ้า ช่างยนต์ และช่างโลหะ นักศึกษาตั้งแต่รุ่นนี้
                    เป็นต้นไป ต้องแยกเรียนตามสาขาวิชาที่ตนเลือก ตั้งแต่เข้าปี 1 สำหรับช่างโลหะ แบ่งการลงฝึกวิชาปฏิบัติออกเป็น 3 สาขาวิชาได้แก่ สาขาช่างกลโรงงาน
                     (Machine Tool) ช่างหล่อโลหะ (Foundry) และช่างเชื่อมและโลหะแผ่น (Welding and Sheet Metal) ซึ่งเป็นการฝึกปฏิบัติงานที่เข้มข้น เหมือนทำงาน
                     จริงและได้รับการถ่ายทอดสืบต่อกันรุ่นต่อรุ่นจวบจนปัจจุบัน นอกจากนั้นทางด้านทฤษฎี ได้มีการปรับปรุงหลักสูตรอย่างต่อเนื่อง
                </p>
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2508</p>
                <p class="item">เปิดสอนหลักสูตรวิศวกรรมศาสตร์หลักสูตร 5 ปี 190 หน่วยกิต
                </p>
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2515</p>
                <p class="item">พิธีพระราชทานปริญญาบัตรครั้งแรกเมื่อวันที่ 18 ตุลาคม พ.ศ. 2515
                </p>
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2516 – 2527</p>
                <p class="item">พิธีพระราชทานปริญญาบัตรครั้งแรกเมื่อวันที่ 18 ตุลาคม พ.ศ. 2515
                </p>
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2535</p>
                <p class="item">ปรับเป็นหลักสูตรการเรียนการสอน 5 ปี 190 หน่วยกิต เป็น 4 ปี 148 หน่วยกิต ถึงกระนั้นก็ตามภาควิชาก็ยังคงไว้ซึ่งความเข้มข้นด้านการปฏิบัติ
                </p>
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2533 – 2539</p>
                <p class="item">รัฐบาลโดยกระทรวงวิทยาศาสตร์และเทคโนโลยีและโครงการพัฒนาอาจารย์ได้จัดสรรทุนการศึกษาให้อาจารย์รุ่นใหม่ได้ไปศึกษาต่อต่างประเทศจนถึง
                    ระดับปริญญาเอกโดยส่วน ใหญ่ไปศึกษาในประเทศสหรัฐอเมริกาและอังกฤษ รวมทั้งสิ้น 18 คน
                </p>
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2537</p>
                <p class="item">สาขาวิชาช่างกลโรงงาน (อุตสาหการ 1) ได้แยกตัวไปตั้งเป็นภาควิชาใหม่ คือ ภาควิชาวิศวกรรมเครื่องมือและวัสดุ (Tool Engineering and Materials) 
                    สังกัดคณะวิศวกรรมศาสตร์
                </p>
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2538</p>
                <p class="item">เปิดสอนระดับปริญญาโท หลักสูตรวิศวกรรมศาสตร์มหาบัณฑิต สาขาวิชา 3M
                </p>
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2540 – 2551</p>
                <p class="item">กระทรวงวิทยาศาสตร์ฯ และโครงการพัฒนาอาจารย์ของสถาบันฯ ได้ให้ทุนศึกษาต่อต่างประเทศ
                    ถึงระดับปริญญาเอกอีก 4 ทุน ในระหว่างนี้นักเรียนทุนรุ่นก่อนที่จบการศึกษา ได้กลับมาเป็นอาจารย์ผู้สอนประจำสาขาวิชาต่างๆ 
                    ทำให้ภาควิชาฯมีความเข้มแข็งด้านวิชาการและวิจัยเพิ่มขึ้นอย่างมาก ภาควิชาจึงได้ทำการเปิดหลักสูตรการเรียนการสอนระดับ
                </p>
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2542</p>
                <p class="item">เปิดสอนระดับปริญญาโท หลักสูตรวิศวกรรมศาสตร์มหาบัณฑิต สาขาวิชาระบบการผลิต (Leader for Manufacturing
                     Competitiveness)
                </p>
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2544</p>
                <p class="item">เปิดสอนระดับปริญญาโท หลักสูตรวิศวกรรมศาสตร์มหาบัณฑิต สาขาวิชาวิศวกรรมการเชื่อม (Welding Engineering)
                </p>
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2545</p>
                <p class="item">เปิดสอนระดับปริญญาโท หลักสูตรวิศวกรรมศาสตร์มหาบัณฑิต สาขาวิชาวิศวกรรมโลหการ (Metallurgical Engineering)
                     หลักสูตรวิศวกรรมศาสตร์บัณฑิต สาขาวิชาวิศวกรรมเมคคาทรอนิกส์ (Mechatronic Engineering)
                </p>
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2547</p>
                <p class="item">เปิดสอนระดับปริญญาโท หลักสูตรวิศวกรรมศาสตร์มหบัณฑิต สาขาวิชาวิศวกรรมคุณภาพ (Quality Engineering)
                </p>
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2548</p>
                <p class="item">เปิดสอนระดับปริญญาเอก หลักสูตรวิศวกรรมการผลิตและระบบ (Manufacturing and Systems Engineering)
                </p>
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2554</p>
                <p class="item">ปรับปรุงหลักสูตรทั้งระดับปริญญาตรีและบัณฑิตศึกษาของ ภาควิชา 7 หลักสูตร เพื่อให้สอดคล้องกับความต้องการของ
                    ผู้ใช้บัณฑิตทั้งภาครัฐและเอกชน รวมถึงความต้องการของประเทศ โดยยังคงความเป็นวิศวกรผู้ปฏิบัติ (Practical Engineer) และ
                    มหาบัณฑิตและดุษฎีบัณฑิตที่มีความเชี่ยวชาญเฉพาะด้านอย่างลึกซึ้ง
                </p>
                <br>
                <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2558 – 2559</p>
                <p class="item">ปรับปรุงหลักสูตรทั้งระดับปริญญาตรีและบัณฑิต ศึกษาของภาควิชาใน 6 หลักสูตรเพื่อให้สอดคล้องกับความต้องการของ
                    ผู้ใช้บัณฑิตและพลวัตทางด้านเศรษฐกิจ สังคม สิ่งแวดล้อมของประเทศ ภูมิภาค และโลก
                </p>
                <p>การจัดการเรียนการสอนของภาควิชาวิศวกรรมอุตสาหการในทุกหลักสูตร ถือว่ามีคุณภาพในลำดับต้นๆ ของประเทศ ผลิตบัณฑิตประมาณปีละ
                 120 คน มหาบัณฑิตประมาณปีละ 80 คน ดุษฎีบัณฑิตปีละประมาณ 3-5 คน มีผลงานวิจัยและวิชาการเป็นที่ยอมรับ โดยได้รับการตีพิมพ์ในวารสาร 
                 วิชาการและการประชุมวิชาการ ระดับชาติและนานาชาติ ในแต่ละปีไม่น้อยกว่า 40 ผลงานอย่างต่อเนื่องไม่น้อยกว่า 5 ปี คณาจารย์ได้รับทุนวิจัยจาก
                 แหล่งทุนทั้งภายในและภายนอกมหาวิทยาลัย รวมถึงทุนวิจัยจากต่างประเทศ ด้านงานบริการวิชาการภาควิชาฯ ได้ให้การบริการวิชาการแก่หน่วยงาน
                 ภาครัฐและเอกชนมากมาย อาทิเช่น การรถไฟแห่งประเทศไทย การปิโตเลียมแห่งประเทศไทย โรงพยาบาลรามาธิบดี สภากาชาดไทย เป็นต้น 
                 นอกจากนี้คณาจารย์ของภาควิชาฯ ได้รับเชิญให้เป็นกรรมการระดับชาติและระดับนานาชาติ เช่น คณะกรรมการวิศวกรรมสถานแห่งประเทศไทย 
                 ในพระบรมราชูปถัมภ์ กรรมาธิการวิสามัญพิจารณาร่างพระราชบัญญัติองค์กรอิสระเพื่อคุ้มครองผู้บริโภค คณะกรรมการเครือข่ายวิชาการ 
                 คณะบรรณาธิการวารสารทางวิชาการต่างๆ คณะอนุกรรมการแข่งขันฝีมือแรงงานสาขาช่างเชื่อม ระดับนานาชาติ คณะอนุกรรมการวิชาการรายสาขา 
                 สำนักงานมาตรฐานผลิตภัณฑ์ อุตสาหกรรม เป็นต้น
                </p>
            </div>
        </div>
    </div>
    <div>
    <a href="#top" class="navbar brand text-left" data-bs-theme="dark"><i class="text-dark ms-2 fs-5 fw-bolder" style = "width: 120%;font-weight: bolder;background-color: rgb(255, 128,0); margin-left: 10px;">Top</i></a>
    </div>
</body>
</html>