<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/navbar', { title : 'History'} ) %>

    <link rel="stylesheet" href="/css/history.css" />
    <%- include('../partials/Responsive') %>
  </head>
  <body>
    <%- include('../partials/topbtn') %>

    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/
      <span>ประวัติภาควิชา</span>
    </div>
    <div class="history-layout">
      <div class="history-head">
        <h2>ประวัติภาควิชา</h2>
        <video width="100%" controls poster="/images/history/P_aujchara01.jpg">
          <source src="/images/history/60 Y_KMUTT.mp4" type="video/mp4" />
        </video>
        <div>พี่อัจฉรา จันทร์เจริญ ศิษย์เก่าวิศวกรรมอุตสาหการ รุ่นที่ 4</div>
        <br />
        <br />
        <div class="history-head1">
          <h4>ประวัติภาควิชา</h4>
          <p>
            ภาควิชาวิศวกรรมอุตสาหการ เริ่มก่อตั้งขึ้นมาพร้อม
            กับการก่อตั้งมหาวิทยาลัยฯ โดยเป็น 1 ใน 4
            ภาควิชาที่จัดตั้งขึ้นพร้อมกัน เมื่อวันที่ 4 กุมภาพันธ์ พ.ศ. 2503
            ในสังกัดเดิมคือวิทยาลัยเทคนิคธนบุรี กระทรวงศึกษาธิการ วันที่ 17
            พฤษภาคม พ.ศ. 2503 วิทยาลัยเทคนิคธนบุรีได้เปิดทำการสอน 4 แผนกวิชา
            ได้แก่ ช่างก่อสร้าง ช่างไฟฟ้า ช่างยนต์ และช่างโลหะ
            ต่อมาแผนกวิชาช่างโลหะได้เปลี่ยนมาเป็นช่างเทคนิคการผลิต
            แผนกเทคนิคการผลิต และภาควิชาวิศวกรรมอุตสาหการ ตามลำดับ
          </p>
          <br />
          <img src="/images/history/History_Dep.jpg" alt="Department Hi" />
        </div>
        <br />
      </div>
      <div class="container-layout">
        <div class="history-container">
          <aside class="history-heads-sidebar">
            <div class="sidebar-sticky-wrapper">
              <div class="head-item">
                <p class="head-name">อาจารย์โสภณ สุวรรณาคินทร์</p>
                <p class="head-term">
                  พ.ศ. 2503 – 2504 ดำรงตำแหน่ง<br />หัวหน้าแผนกช่างโลหะ
                </p>
                <hr />
              </div>

              <div class="head-item">
                <img src="/images/history/A_Soonthon_.jpg" class="head-img" />
                <p class="head-name">อาจารย์สุนทร ศรีนิลทา</p>
                <p class="head-term">
                  พ.ศ. 2504 – 2506 ดำรงตำแหน่ง<br />หัวหน้าแผนกช่างโลหะ
                </p>
                <hr />
              </div>

              <div class="head-item">
                <p class="head-name">อาจารย์สุจินต์ มาประจง</p>
                <p class="head-term">
                  พ.ศ. 2506 – 2516 ดำรงตำแหน่ง<br />หัวหน้าแผนกช่างโลหะ<br />หัวหน้าแผนกช่างเทคนิคการผลิต<br />หัวหน้าภาควิชาวิศวกรรมอุตสาหการ
                </p>
                <hr />
              </div>

              <div class="head-item">
                <img src="/images/history/Dr_preda.jpg" class="head-img" />
                <p class="head-name">ศ.ดร.ปรีดา วิบูลย์สวัสดิ์</p>
                <p class="head-term">
                  12 ก.พ. 2516 – 17 ก.ค. 2517 ดำรงตำแหน่ง<br />หัวหน้าภาควิชาวิศวกรรมอุตสาหการ
                </p>

                <hr />
              </div>

              <div class="head-item">
                <img src="/images/history/Dr_Haris2.jpg" class="head-img" />
                <p class="head-name">รศ. ดร.หริส สูตะบุตร</p>
                <p class="head-term">
                  18 ก.ค. 2517 – 11 ก.ค. 2521 ดำรงตำแหน่ง<br />หัวหน้าภาควิชาวิศวกรรมอุตสาหการ
                </p>

                <hr />
              </div>

              <div class="head-item">
                <img src="/images/history/Dr_auttakorn.jpg" class="head-img" />
                <p class="head-name">ผศ. ดร.อัตถกร กลั่นความดี</p>
                <p class="head-term">
                  18 ก.ค. 2521 – 1 พ.ค. 2533 ดำรงตำแหน่ง<br />หัวหน้าภาควิชาวิศวกรรมอุตสาหการ
                </p>

                <hr />
              </div>

              <div class="head-item">
                <img src="/images/history/A_Payoon.jpg" class="head-img" />
                <p class="head-name">ผศ.พยูร เกตุกราย</p>
                <p class="head-term">
                  2 พ.ค. 2533 – 9 ก.ค. 2537 ดำรงตำแหน่ง<br />หัวหน้าภาควิชาวิศวกรรมอุตสาหการ
                </p>

                <hr />
              </div>

              <div class="head-item">
                <img src="/images/history/A_Chao.jpg" class="head-img" />
                <p class="head-name">อาจารย์เชาว์ เนียมสอน</p>
                <p class="head-term">
                  10 ก.ค. 2537 – พ.ศ. 2545 ดำรงตำแหน่ง<br />หัวหน้าภาควิชาวิศวกรรมอุตสาหการ
                </p>

                <hr />
              </div>

              <div class="head-item">
                <img src="/images/history/A_Chaiya.jpg" class="head-img" />
                <p class="head-name">ผศ. ดร.ไชยา ดำคำ</p>
                <p class="head-term">
                  พ.ศ. 2545 – พ.ศ. 2549 ดำรงตำแหน่ง<br />หัวหน้าภาควิชาวิศวกรรมอุตสาหการ
                </p>

                <hr />
              </div>

              <div class="head-item">
                <img src="/images/history/A_Bovornchok.jpg" class="head-img" />
                <p class="head-name">รศ. ดร.บวรโชค ผู้พัฒน์</p>
                <p class="head-term">
                  พ.ศ. 2549 – พ.ศ. 2553 ดำรงตำแหน่ง<br />หัวหน้าภาควิชาวิศวกรรมอุตสาหการ
                </p>

                <hr />
              </div>

              <div class="head-item">
                <img src="/images/history/A_Chaiya.jpg" class="head-img" />
                <p class="head-name">ผศ. ดร.ไชยา ดำคำ</p>
                <p class="head-term">
                  พ.ศ. 2553 – พ.ศ. 2559 ดำรงตำแหน่ง<br />หัวหน้าภาควิชาวิศวกรรมอุตสาหการ
                </p>

                <hr />
              </div>

              <div class="head-item">
                <img
                  src="/images/history/A__Charoenchai.jpg"
                  class="head-img"
                />
                <p class="head-name">ผศ. ดร.เจริญชัย โขมพัตราภรณ์</p>
                <p class="head-term">
                  พ.ศ. 2559 – พ.ศ. 2561 ดำรงตำแหน่ง<br />หัวหน้าภาควิชาวิศวกรรมอุตสาหการ
                </p>

                <hr />
              </div>

              <div class="head-item">
                <img src="/images/history/A_Nithi.jpg" class="head-img" />
                <p class="head-name">ผศ.นิธิ บุรณจันทร์</p>
                <p class="head-term">
                  พ.ศ. 2561 – พ.ศ. 2564 ดำรงตำแหน่ง<br />หัวหน้าภาควิชาวิศวกรรมอุตสาหการ
                </p>

                <hr />
              </div>

              <div class="head-item">
                <img src="/images/history/A_Bovornchok.jpg" class="head-img" />
                <p class="head-name">รศ. ดร.บวรโชค ผู้พัฒน์</p>
                <p class="head-term">
                  พ.ศ. 2564 – 13 มิถุนายน 2565 ดำรงตำแหน่ง<br />หัวหน้าภาควิชาวิศวกรรมอุตสาหการ
                </p>

                <hr />
              </div>

              <div class="head-item">
                <img src="/images/history/xomporn.jpg" class="head-img" />
                <p class="head-name">ดร.สมพร เพียรสุขมณี</p>
                <p class="head-term">
                  14 มิถุนายน 2565 – ปัจจุบัน ดำรงตำแหน่ง<br />หัวหน้าภาควิชาวิศวกรรมอุตสาหการ
                </p>
              </div>
            </div>
          </aside>
        </div>

        <div class="details-card">
          <section class="year-block">
            <h4 class="year-title">ปี พ.ศ. 2503</h4>
            <p class="leader-in-year">อาจารย์โสภณ สุวรรณาคินทร์</p>
            <ul class="event-list">
              <li>
                เริ่มการเรียนการสอนเป็นปีแรกหลังจากก่อตั้ง โดยนักศึกษาปี 1
                ของวิทยาลัยฯ จะเรียนทุกวิชาเหมือนกันหมด และแยกแผนกช่างตอนขึ้นปี
                2
              </li>
            </ul>
          </section>
          <section class="year-block">
            <h4 class="year-title">ปี พ.ศ. 2504</h4>
            <p class="leader-in-year">อาจารย์สุนทร ศรีนิลทา</p>

            <ul class="event-list">
              <li>
                กระทรวงศึกษาธิการอนุมัติให้ใช้หลักสูตรใหม่ แบ่งออกเป็น 4
                สาขาวิชาคือ ช่างก่อสร้าง ช่างไฟฟ้า ช่างยนต์ และช่างโลหะ
                นักศึกษาตั้งแต่รุ่นนี้เป็นต้นไป
                ต้องแยกเรียนตามสาขาวิชาที่ตนเลือก ตั้งแต่เข้าปี 1 สำหรับช่างโลหะ
                แบ่งการลงฝึกวิชาปฏิบัติออกเป็น 3 สาขาวิชาได้แก่ สาขาช่างกลโรงงาน
                (Machine Tool) ช่างหล่อโลหะ (Foundry) และช่างเชื่อมและโลหะแผ่น
                (Welding and Sheet Metal) ซึ่งเป็นการฝึกปฏิบัติงานที่เข้มข้น
                เหมือนทำงานจริงและได้รับการถ่ายทอดสืบต่อ
                กันรุ่นต่อรุ่นจวบจนปัจจุบัน นอกจากนั้นทางด้านทฤษฎี
                ได้มีการปรับปรุงหลักสูตรอย่างต่อเนื่อง
              </li>
            </ul>
          </section>
          <section class="year-block">
            <p class="leader-in-year">อาจารย์สุจินต์ มาประจง</p>
            <h4 class="year-title">ปี พ.ศ. 2508</h4>
            <ul class="event-list">
              <li>เปิดสอนหลักสูตรวิศวกรรมศาสตร์หลักสูตร 5 ปี 190 หน่วยกิต</li>
            </ul>

            <h4 class="year-title">ปี พ.ศ. 2515</h4>
            <ul class="event-list">
              <li>
                พิธีพระราชทานปริญญาบัตรครั้งแรกเมื่อวันที่ 18 ตุลาคม พ.ศ. 2515
              </li>
            </ul>
          </section>
          <section class="year-block">
            <h4 class="year-title">ปี พ.ศ. 2516 – 2527</h4>
            <p class="leader-in-year">
              ศ.ดร.ปรีดา วิบูลย์สวัสดิ์<br />รศ. ดร.หริส สูตะบุตร<br />ผศ.
              ดร.อัตถกร กลั่นความดี
            </p>

            <ul class="event-list">
              <li>
                ภาควิชาวิศวกรรมอุตสาหการเจริญก้าวหน้ามาโดยลำดับ
                ในช่วงนี้ภาควิชาฯ ได้เปิดสอน 2 สาขาวิชาใหม่เพิ่มเติม ได้แก่
                สาขาบริหารอุตสาหกรรม (Industrial Management)
                เพื่อเสริมความเข้มแข็งด้านการบริหาร และสาขาวิชาช่างทั่วไป (Basic
                Work Shop) เพื่อทำ การสอนนักศึกษานอกภาควิชา ภาควิชาฯ มีโรงฝึกงาน
                (Work Shop) รวมทั้งหมด 5 โรงได้แก่อุตสาหการ 1 (ช่างกลโรงงาน)
                อุตสาหการ 2 (ช่างหล่อโลหะ) อุตสาหการ 3 (ช่างเชื่อมและโลหะแผ่น)
                อุตสาหการ 4 (ช่างทั่วไป) และอุตสาหการ 5 (สาขาบริหารอุตสาหกรรม)
              </li>
            </ul>
          </section>
          <section class="year-block">
            <h4 class="year-title">ปี พ.ศ. 2535</h4>
            <p class="leader-in-year">ผศ.พยูร เกตุกราย</p>
            <ul class="event-list">
              <li>
                ปรับเป็นหลักสูตรการเรียนการสอน 5 ปี 190 หน่วยกิต เป็น 4 ปี 148
                หน่วยกิต
                ถึงกระนั้นก็ตามภาควิชาก็ยังคงไว้ซึ่งความเข้มข้นด้านการปฏิบัติ
              </li>
            </ul>
          </section>
          <section class="year-block">
            <h4 class="year-title">ปี พ.ศ. 2533 – 2539</h4>
            <ul class="event-list">
              <li>
                รัฐบาลโดยกระทรวงวิทยาศาสตร์และเทคโนโลยีและโครงการพัฒนาอาจารย์ได้จัดสรรทุนการศึกษาให้อาจารย์รุ่นใหม่ได้ไปศึกษาต่อต่างประเทศจนถึง
                ระดับปริญญาเอกโดยส่วน ใหญ่ไปศึกษาในประเทศสหรัฐอเมริกาและอังกฤษ
                รวมทั้งสิ้น 18 คน
              </li>
            </ul>
          </section>
          <section class="year-block">
            <h4 class="year-title">ปี พ.ศ. 2537</h4>
            <p class="leader-in-year">อาจารย์เชาว์ เนียมสอน</p>
            <ul class="event-list">
              <li>
                สาขาวิชาช่างกลโรงงาน (อุตสาหการ 1)
                ได้แยกตัวไปตั้งเป็นภาควิชาใหม่ คือ
                ภาควิชาวิศวกรรมเครื่องมือและวัสดุ (Tool Engineering and
                Materials) สังกัดคณะวิศวกรรมศาสตร์
              </li>
            </ul>
          </section>
          <section class="year-block">
            <h4 class="year-title">ปี พ.ศ. 2538</h4>
            <ul class="event-list">
              <li>
                เปิดสอนระดับปริญญาโท หลักสูตรวิศวกรรมศาสตร์มหาบัณฑิต สาขาวิชา 3M
              </li>
            </ul>
          </section>
          <section class="year-block">
            <h4 class="year-title">ปี พ.ศ. 2540 – 2551</h4>
            <ul class="event-list">
              <li>
                กระทรวงวิทยาศาสตร์ฯ และโครงการพัฒนาอาจารย์ของสถาบันฯ
                ได้ให้ทุนศึกษาต่อต่างประเทศ ถึงระดับปริญญาเอกอีก 4 ทุน
                ในระหว่างนี้นักเรียนทุนรุ่นก่อนที่จบการศึกษา
                ได้กลับมาเป็นอาจารย์ผู้สอนประจำสาขาวิชาต่างๆ
                ทำให้ภาควิชาฯมีความเข้มแข็งด้านวิชาการและวิจัยเพิ่มขึ้นอย่างมาก
                ภาควิชาจึงได้ทำการเปิดหลักสูตรการเรียนการสอนระดับ
              </li>
            </ul>
          </section>
          <section class="year-block">
            <h4 class="year-title">ปี พ.ศ. 2542</h4>

            <ul class="event-list">
              <li>
                เปิดสอนระดับปริญญาโท หลักสูตรวิศวกรรมศาสตร์มหาบัณฑิต
                สาขาวิชาระบบการผลิต (Leader for Manufacturing Competitiveness)
              </li>
            </ul>
          </section>
          <section class="year-block">
            <h4 class="year-title">ปี พ.ศ. 2544</h4>

            <ul class="event-list">
              <li>
                เปิดสอนระดับปริญญาโท หลักสูตรวิศวกรรมศาสตร์มหาบัณฑิต
                สาขาวิชาวิศวกรรมการเชื่อม (Welding Engineering)
              </li>
            </ul>
          </section>
          <section class="year-block">
            <h4 class="year-title">ปี พ.ศ. 2545</h4>
            <p class="leader-in-year">ผศ. ดร.ไชยา ดำคำ</p>

            <ul class="event-list">
              <li>
                เปิดสอนระดับปริญญาโท หลักสูตรวิศวกรรมศาสตร์มหาบัณฑิต
                สาขาวิชาวิศวกรรมโลหการ (Metallurgical Engineering)
                หลักสูตรวิศวกรรมศาสตร์บัณฑิต สาขาวิชาวิศวกรรมเมคคาทรอนิกส์
                (Mechatronic Engineering)
              </li>
            </ul>
          </section>
          <section class="year-block">
            <h4 class="year-title">ปี พ.ศ. 2547</h4>

            <ul class="event-list">
              <li>
                เปิดสอนระดับปริญญาโท หลักสูตรวิศวกรรมศาสตร์มหบัณฑิต
                สาขาวิชาวิศวกรรมคุณภาพ (Quality Engineering)
              </li>
            </ul>
          </section>
          <section class="year-block">
            <h4 class="year-title">ปี พ.ศ. 2548</h4>
            <p class="leader-in-year">รศ. ดร.บวรโชค ผู้พัฒน์</p>

            <ul class="event-list">
              <li>
                เปิดสอนระดับปริญญาเอก หลักสูตรวิศวกรรมการผลิตและระบบ
                (Manufacturing and Systems Engineering)
              </li>
            </ul>
          </section>
          <section class="year-block">
            <h4 class="year-title">ปี พ.ศ. 2554</h4>
            <p class="leader-in-year">ผศ. ดร.ไชยา ดำคำ</p>

            <ul class="event-list">
              <li>
                ปรับปรุงหลักสูตรทั้งระดับปริญญาตรีและบัณฑิตศึกษาของ ภาควิชา 7
                หลักสูตร เพื่อให้สอดคล้องกับความต้องการของ
                ผู้ใช้บัณฑิตทั้งภาครัฐและเอกชน รวมถึงความต้องการของประเทศ
                โดยยังคงความเป็นวิศวกรผู้ปฏิบัติ (Practical Engineer) และ
                มหาบัณฑิตและดุษฎีบัณฑิตที่มีความเชี่ยวชาญเฉพาะด้านอย่างลึกซึ้ง
              </li>
            </ul>
          </section>
          <section class="year-block">
            <h4 class="year-title">ปี พ.ศ. 2558 – 25ุ65</h4>
            <p class="leader-in-year">
              ผศ. ดร.เจริญชัย โขมพัตราภรณ์<br />ผศ.นิธิ บุรณจันทร์<br />รศ.
              ดร.บวรโชค ผู้พัฒน์
            </p>

            <ul class="event-list">
              <li>
                ปรับปรุงหลักสูตรทั้งระดับปริญญาตรีและบัณฑิต ศึกษาของภาควิชาใน 6
                หลักสูตรเพื่อให้สอดคล้องกับความต้องการของ
                ผู้ใช้บัณฑิตและพลวัตทางด้านเศรษฐกิจ สังคม สิ่งแวดล้อมของประเทศ
                ภูมิภาค และโลก
              </li>
              <li>
                การจัดการเรียนการสอนของภาควิชาวิศวกรรมอุตสาหการในทุกหลักสูตร
                ถือว่ามีคุณภาพในลำดับต้นๆ ของประเทศ ผลิตบัณฑิตประมาณปีละ 120 คน
                มหาบัณฑิตประมาณปีละ 80 คน ดุษฎีบัณฑิตปีละประมาณ 3-5 คน
                มีผลงานวิจัยและวิชาการเป็นที่ยอมรับ โดยได้รับการตีพิมพ์ในวารสาร
                วิชาการและการประชุมวิชาการ ระดับชาติและนานาชาติ
                ในแต่ละปีไม่น้อยกว่า 40 ผลงานอย่างต่อเนื่องไม่น้อยกว่า 5 ปี
                คณาจารย์ได้รับทุนวิจัยจาก แหล่งทุนทั้งภายในและภายนอกมหาวิทยาลัย
                รวมถึงทุนวิจัยจากต่างประเทศ ด้านงานบริการวิชาการภาควิชาฯ
                ได้ให้การบริการวิชาการแก่หน่วยงาน ภาครัฐและเอกชนมากมาย อาทิเช่น
                การรถไฟแห่งประเทศไทย การปิโตเลียมแห่งประเทศไทย
                โรงพยาบาลรามาธิบดี สภากาชาดไทย เป็นต้น
                นอกจากนี้คณาจารย์ของภาควิชาฯ
                ได้รับเชิญให้เป็นกรรมการระดับชาติและระดับนานาชาติ เช่น
                คณะกรรมการวิศวกรรมสถานแห่งประเทศไทย ในพระบรมราชูปถัมภ์
                กรรมาธิการวิสามัญพิจารณาร่างพระราชบัญญัติองค์กรอิสระเพื่อคุ้มครองผู้บริโภค
                คณะกรรมการเครือข่ายวิชาการ คณะบรรณาธิการวารสารทางวิชาการต่างๆ
                คณะอนุกรรมการแข่งขันฝีมือแรงงานสาขาช่างเชื่อม ระดับนานาชาติ
                คณะอนุกรรมการวิชาการรายสาขา สำนักงานมาตรฐานผลิตภัณฑ์ อุตสาหกรรม
                เป็นต้น
              </li>
            </ul>
          </section>
          <section class="year-block">
            <h4 class="year-title">ปี พ.ศ. 2565 – พ.ศ. 2568</h4>
            <p class="leader-in-year">ดร.สมพร เพียรสุขมณี</p>

            <ul class="event-list">
              <li>
                ภาควิชาวิศวกรรมอุตสาหการ ยังคงมุ่งมั่นพัฒนาคุณภาพการเรียนการสอน
                การวิจัย และงานบริการวิชาการอย่างต่อเนื่อง
                จนได้รับการรับรองมาตรฐานคุณภาพการศึกษา
                ตามผลลัพธ์การเรียนรู้ทางด้านวิศวกรรมศาสตร์จากคณะทำงานกำกับการรับรองมาตรฐานคุณภาพการศึกษาหลักสูตรวิศวกรรมศาสตร์
                (TABEE) สาขาวิศวกรรมอุตสาหการ คุณวุฒิ : วิศวกรรมศาสตรบัณฑิต
                ได้รับการรับรองแบบมีเงื่อนไข : 2567 – ปัจจุบัน (1 พฤศจิกายน 2567
                – 30 พฤศจิกายน 2569) การประเมินในรอบถัดไป (Date of Next
                Comprehensive Review) : 2570 – 2571 รับรองโดย :
                คณะทำงานกำกับการรับรองมาตรฐานคุณภาพการศึกษาหลักสูตรวิศวกรรมศาสตร์ตาม
                Washington Accord (Engineering Accreditation Commission : EAC)
              </li>
              <a
                href="javascript:void(0)"
                onclick="openModal('/images/TABEE/tabee-license.jpg')"
                alt="คลิกเพื่อขยาย"
                ><i> TABEE-license-Eng</i></a
              >
              <a
                href="javascript:void(0)"
                onclick="openModal('/images/TABEE/tabee-license-th.jpg')"
                alt="คลิกเพื่อขยาย"
                style="color: #000053"
                ><i> -ไทย</i></a
              >
              <div id="imageModal" class="modal">
                <div class="modal-controls">
                  <span class="close" onclick="closeModal()">&times;</span>
                </div>
                <div class="modal-content-wrapper">
                  <img
                    id="modalImage"
                    class="modal-main-image"
                    src=""
                    alt="ขยายรูปภาพ"
                  />
                </div>
              </div>
              <script src="/js/assets/overlay.js"></script>
            </ul>
          </section>
          <section class="year-block">
            <h4 class="year-title">ปี พ.ศ. 2569</h4>

            <ul class="event-list">
              <li>
                ปรับปรุงหลักสูตรทั้งระดับปริญญาตรีและบัณฑิตศึกษาของภาควิชาใน 6
                หลักสูตรเพื่อให้สอดคล้องกับความต้องการของ
                ผู้ใช้บัณฑิตและพลวัตทางด้านเศรษฐกิจ สังคม สิ่งแวดล้อมของประเทศ
                ภูมิภาค และโลก
              </li>
              <li>
                เปิดหลักสูตรหลักสูตรวิศวกรรมศาสตร์บัณฑิต
                วิศวกรรมระบบอุตสาหกรรมและการประกอบการธุรกิจ (Industrial Systems
                Engineering and Entrepreneurship)
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
    <%- include('../partials/footer')-%>
  </body>
</html>
