<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/navbar', { title : 'History'} ) %>
</head>
<body>
    <%- include('../partials/topbtn') %>
    <div class="flex-container padding ms-5" style="justify-content: center; align-items: center;margin-top:130px">
        <div class="item" style="width:70%">
            <section id="top"></section>
            <h2 style="color:blue;">ประวัติภาควิชา</h2>
                <br>
                <a href="#" onclick="window.open('/images/history/60 Y_KMUTT.mp4', '_blank', 'width=630,height=340,noopener',); return false;">
                    <img class="card-img-top pers-card-img" style="margin-left: 10%; width:80%;" src="/images/history/P_aujchara01.jpg" alt="" /></a>
                <br>
                <br>
                <a href="#" onclick="window.open('/images/history/60 Y_KMUTT.mp4', '_blank', 'width=630,height=340,noopener'); return false;" style="margin-left: 10%; width:80%">
                    พี่อัจฉรา จันทร์เจริญ ศิษย์เก่าวิศวกรรมอุตสาหการ รุ่นที่ 4</a>
                <br>
                <br>
                <p class="ms-5 style="font-weight: bolder; color:orange; font-size: large">ประวัติภาควิชา</p>
                <p class="item ms-5">ภาควิชาวิศวกรรมอุตสาหการ เริ่มก่อตั้งขึ้นมาพร้อม กับการก่อตั้งมหาวิทยาลัยฯ โดยเป็น 1 ใน 4 ภาควิชาที่จัดตั้งขึ้นพร้อมกัน เมื่อวันที่ 4 กุมภาพันธ์ พ.ศ. 2503
                ในสังกัดเดิมคือวิทยาลัยเทคนิคธนบุรี กระทรวงศึกษาธิการ วันที่ 17 พฤษภาคม พ.ศ. 2503 วิทยาลัยเทคนิคธนบุรีได้เปิดทำการสอน 4 แผนกวิชา ได้แก่ ช่างก่อสร้าง
                ช่างไฟฟ้า ช่างยนต์ และช่างโลหะ ต่อมาแผนกวิชาช่างโลหะได้เปลี่ยนมาเป็นช่างเทคนิคการผลิต แผนกเทคนิคการผลิต และภาควิชาวิศวกรรมอุตสาหการ ตามลำดับ
                </p>
                <br>
            <img src="/images/history/History_Dep.jpg" alt="Department Hi" style="margin-left: 10%; width:80%; height:auto;">
                <br>
        </div>

        <div class="container" style = "margin-top:10px; margin-left:20px;">
            <div class="row">

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 ms-5">
                    <div class="card h-100 mt-1 ms-1" style="width: 20rem; margin: left 5px;">

                        <div class="card-body">
                            <p style="color:blue; font-size: large;">อาจารย์โสภณ สุวรรณาคินทร์</p>
                            <p style="color: black; font-size: small;">พ.ศ. 2503 – 2504 ดำรงตำแหน่ง<br>หัวหน้าแผนกช่างโลหะ</p>
                            <hr>
                        </div>

                        <div class="card-body">
                        <img src="/images/history/A_Soonthon_.jpg" alt="" style="width:40%; height:auto;" />
                            <p style="color:blue; font-size: large">อาจารย์สุนทร ศรีนิลทา</p>
                            <p style="color: black; font-size: small;">พ.ศ. 2504 – 2506 ดำรงตำแหน่ง<br>หัวหน้าแผนกช่างโลหะ</p>
                            <hr>
                        </div>

                        <div class="card-body">
                            <p style="color:blue; font-size: large">อาจารย์สุจินต์ มาประจง</p>
                            <p style="color: black; font-size: small;">พ.ศ. 2506 – 2516 ดำรงตำแหน่ง<br>หัวหน้าแผนกช่างโลหะ<br>หัวหน้าแผนกช่างเทคนิคการผลิต<br>หัวหน้าภาควิชาวิศวกรรมอุตสาหการ
                            </p>
                            <hr>
                        </div>

                        <div class="card-body">
                        <img src="/images/history/Dr_preda.jpg" alt="" style="width:40%; height:auto;" />
                            <p style="color:blue; font-size: large">ศ.ดร.ปรีดา วิบูลย์สวัสดิ์</p>
                            <p style="color: black; font-size: small;">12 ก.พ. 2516 – 17 ก.ค. 2517 ดำรงตำแหน่ง<br>หัวหน้าภาควิชาวิศวกรรมอุตสาหการ</p>
                            </p>
                            <hr>
                        </div>

                        <div class="card-body">
                        <img src="/images/history/Dr_Haris2.jpg" alt="" style="width:40%; height:auto;" />
                            <p style="color:blue; font-size: large">รศ. ดร.หริส สูตะบุตร</p>
                            <p style="color: black; font-size: small;">18 ก.ค. 2517 – 11 ก.ค. 2521 ดำรงตำแหน่ง<br>หัวหน้าภาควิชาวิศวกรรมอุตสาหการ</p>
                            </p>
                            <hr>
                        </div>
                        
                        <div class="card-body">
                        <img src="/images/history/Dr_auttakorn.jpg" alt="" style="width:40%; height:auto;" />
                            <p style="color:blue; font-size: large">ผศ. ดร.อัตถกร กลั่นความดี</p>
                            <p style="color: black; font-size: small;">18 ก.ค. 2521 – 1 พ.ค. 2533 ดำรงตำแหน่ง<br>หัวหน้าภาควิชาวิศวกรรมอุตสาหการ</p>
                            </p>
                            <hr>
                        </div>
                        
                        <div class="card-body">
                        <img src="/images/history/A_Payoon.jpg" alt="" style="width:40%; height:auto;" />
                            <p style="color:blue; font-size: large">ผศ.พยูร เกตุกราย</p>
                            <p style="color: black; font-size: small;">2 พ.ค. 2533 – 9 ก.ค. 2537 ดำรงตำแหน่ง<br>หัวหน้าภาควิชาวิศวกรรมอุตสาหการ</p>
                            </p>
                            <hr>
                        </div>
                        
                        <div class="card-body">
                        <img src="/images/history/A_Chao.jpg" alt="" style="width:40%; height:auto;" />
                            <p style="color:blue; font-size: large">อาจารย์เชาว์ เนียมสอน</p>
                            <p style="color: black; font-size: small;">10 ก.ค. 2537 – พ.ศ. 2545 ดำรงตำแหน่ง<br>หัวหน้าภาควิชาวิศวกรรมอุตสาหการ</p>
                            </p>
                            <hr>
                        </div>

                        <div class="card-body">
                        <img src="/images/history/A_Chaiya.jpg" alt="" style="width:40%; height:auto;" />
                            <p style="color:blue; font-size: large">ผศ. ดร.ไชยา ดำคำ</p>
                            <p style="color: black; font-size: small;">พ.ศ. 2545 – พ.ศ. 2549 ดำรงตำแหน่ง<br>หัวหน้าภาควิชาวิศวกรรมอุตสาหการ</p>
                            </p>
                            <hr>
                        </div>
                        
                        <div class="card-body">
                        <img src="/images/history/A_Bovornchok.jpg" alt="" style="width:40%; height:auto;" />
                            <p style="color:blue; font-size: large">รศ. ดร.บวรโชค ผู้พัฒน์</p>
                            <p style="color: black; font-size: small;">พ.ศ. 2549 – พ.ศ. 2553 ดำรงตำแหน่ง<br>หัวหน้าภาควิชาวิศวกรรมอุตสาหการ</p>
                            </p>
                            <hr>
                        </div>

                        <div class="card-body">
                        <img src="/images/history/A_Chaiya.jpg" alt="" style="width:40%; height:auto;" />
                            <p style="color:blue; font-size: large">ผศ. ดร.ไชยา ดำคำ</p>
                            <p style="color: black; font-size: small;">พ.ศ. 2553 – พ.ศ. 2559 ดำรงตำแหน่ง<br>หัวหน้าภาควิชาวิศวกรรมอุตสาหการ</p>
                            </p>
                            <hr>
                        </div>
                        
                        <div class="card-body">
                        <img src="/images/history/A__Charoenchai.jpg" alt="" style="width:40%; height:auto;" />
                            <p style="color:blue; font-size: large">ผศ. ดร.เจริญชัย โขมพัตราภรณ์</p>
                            <p style="color: black; font-size: small;">พ.ศ. 2559 – พ.ศ. 2561 ดำรงตำแหน่ง<br>หัวหน้าภาควิชาวิศวกรรมอุตสาหการ</p>
                            </p>
                            <hr>
                        </div>
                        
                        <div class="card-body">
                        <img src="/images/history/A_Nithi.jpg" alt="" style="width:40%; height:auto;" />
                            <p style="color:blue; font-size: large">ผศ.นิธิ บุรณจันทร์</p>
                            <p style="color: black; font-size: small;">พ.ศ. 2561 – พ.ศ. 2564 ดำรงตำแหน่ง<br>หัวหน้าภาควิชาวิศวกรรมอุตสาหการ</p>
                            </p>
                            <hr>
                        </div>

                        <div class="card-body">
                        <img src="/images/history/A_Bovornchok.jpg" alt="" style="width:40%; height:auto;" />
                            <p style="color:blue; font-size: large">รศ. ดร.บวรโชค ผู้พัฒน์</p>
                            <p style="color: black; font-size: small;">พ.ศ. 2564 – 13 มิถุนายน 2565 ดำรงตำแหน่ง<br>หัวหน้าภาควิชาวิศวกรรมอุตสาหการ</p>
                            </p>
                            <hr>
                        </div>

                        <div class="card-body">
                        <img src="/images/history/xomporn.jpg" alt="" style="width:40%; height:auto;" />
                            <p style="color:blue; font-size: large">ดร.สมพร เพียรสุขมณี</p>
                            <p style="color: black; font-size: small;">14 มิถุนายน 2565 – ปัจจุบัน ดำรงตำแหน่ง<br>หัวหน้าภาควิชาวิศวกรรมอุตสาหการ</p>
                            </p>
                        </div>

                    </div>
                </div>
                    <!-- ------------------------------------------------------        -->

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 ">
                    <div class="card h-100 mt-1 ms-0" style="width: 35rem;">
                        <div class="card-body text-justify">
                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2503</p>
                            <p style="color:blue; font-size: large;">อาจารย์โสภณ สุวรรณาคินทร์</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li style="font-size:large">เริ่มการเรียนการสอนเป็นปีแรกหลังจากก่อตั้ง โดยนักศึกษาปี 1 ของวิทยาลัยฯ 
                                        จะเรียนทุกวิชาเหมือนกันหมด และแยกแผนกช่างตอนขึ้นปี 2
                                    </li>
                                </ul>
                            </p>

                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2504</p>
                            <p style="color:blue; font-size: large">อาจารย์สุนทร ศรีนิลทา</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li>กระทรวงศึกษาธิการอนุมัติให้ใช้หลักสูตรใหม่ แบ่งออกเป็น 4 สาขาวิชาคือ ช่างก่อสร้าง ช่างไฟฟ้า ช่างยนต์ และช่างโลหะ นักศึกษาตั้งแต่รุ่นนี้เป็นต้นไป
                                        ต้องแยกเรียนตามสาขาวิชาที่ตนเลือก ตั้งแต่เข้าปี 1 สำหรับช่างโลหะ แบ่งการลงฝึกวิชาปฏิบัติออกเป็น 3 สาขาวิชาได้แก่ สาขาช่างกลโรงงาน (Machine Tool) 
                                        ช่างหล่อโลหะ (Foundry) และช่างเชื่อมและโลหะแผ่น (Welding and Sheet Metal) ซึ่งเป็นการฝึกปฏิบัติงานที่เข้มข้น เหมือนทำงานจริงและได้รับการถ่ายทอดสืบต่อ
                                        กันรุ่นต่อรุ่นจวบจนปัจจุบัน นอกจากนั้นทางด้านทฤษฎี ได้มีการปรับปรุงหลักสูตรอย่างต่อเนื่อง
                                    </li>
                                </ul>
                            </p>

                            <p style="color:blue; font-size: large">อาจารย์สุจินต์ มาประจง</p>
                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2508</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li>เปิดสอนหลักสูตรวิศวกรรมศาสตร์หลักสูตร 5 ปี 190 หน่วยกิต
                                    </li>
                                </ul>
                            </p>

                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2515</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li>พิธีพระราชทานปริญญาบัตรครั้งแรกเมื่อวันที่ 18 ตุลาคม พ.ศ. 2515
                                    </li>
                                </ul>
                            </p>

                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2516 – 2527</p>
                            <p style="color:blue; font-size: large">ศ.ดร.ปรีดา วิบูลย์สวัสดิ์<br>รศ. ดร.หริส สูตะบุตร<br>ผศ. ดร.อัตถกร กลั่นความดี</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li>ภาควิชาวิศวกรรมอุตสาหการเจริญก้าวหน้ามาโดยลำดับ ในช่วงนี้ภาควิชาฯ ได้เปิดสอน 2 สาขาวิชาใหม่เพิ่มเติม ได้แก่ สาขาบริหารอุตสาหกรรม 
                                        (Industrial Management) เพื่อเสริมความเข้มแข็งด้านการบริหาร และสาขาวิชาช่างทั่วไป (Basic Work Shop) เพื่อทำ การสอนนักศึกษานอกภาควิชา 
                                        ภาควิชาฯ มีโรงฝึกงาน (Work Shop) รวมทั้งหมด 5 โรงได้แก่อุตสาหการ 1 (ช่างกลโรงงาน) อุตสาหการ 2 (ช่างหล่อโลหะ) อุตสาหการ 3 (ช่างเชื่อมและโลหะแผ่น) 
                                        อุตสาหการ 4 (ช่างทั่วไป) และอุตสาหการ 5 (สาขาบริหารอุตสาหกรรม)
                                    </li>
                                </ul>
                            </p>

                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2535</p>
                            <p style="color:blue; font-size: large">ผศ.พยูร เกตุกราย</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li>ปรับเป็นหลักสูตรการเรียนการสอน 5 ปี 190 หน่วยกิต เป็น 4 ปี 148 หน่วยกิต ถึงกระนั้นก็ตามภาควิชาก็ยังคงไว้ซึ่งความเข้มข้นด้านการปฏิบัติ
                                    </li>
                                </ul>
                            </p>

                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2533 – 2539</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li>รัฐบาลโดยกระทรวงวิทยาศาสตร์และเทคโนโลยีและโครงการพัฒนาอาจารย์ได้จัดสรรทุนการศึกษาให้อาจารย์รุ่นใหม่ได้ไปศึกษาต่อต่างประเทศจนถึง
                                        ระดับปริญญาเอกโดยส่วน ใหญ่ไปศึกษาในประเทศสหรัฐอเมริกาและอังกฤษ รวมทั้งสิ้น 18 คน
                                    </li>
                                </ul>
                            </p>

                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2537</p>
                            <p style="color:blue; font-size: large">อาจารย์เชาว์ เนียมสอน</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li>สาขาวิชาช่างกลโรงงาน (อุตสาหการ 1) ได้แยกตัวไปตั้งเป็นภาควิชาใหม่ คือ ภาควิชาวิศวกรรมเครื่องมือและวัสดุ (Tool Engineering and Materials) 
                                        สังกัดคณะวิศวกรรมศาสตร์
                                    </li>
                                </ul>
                            </p>

                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2538</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li>เปิดสอนระดับปริญญาโท หลักสูตรวิศวกรรมศาสตร์มหาบัณฑิต สาขาวิชา 3M
                                    </li>
                                </ul>
                            </p>

                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2540 – 2551</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li>กระทรวงวิทยาศาสตร์ฯ และโครงการพัฒนาอาจารย์ของสถาบันฯ ได้ให้ทุนศึกษาต่อต่างประเทศ
                                        ถึงระดับปริญญาเอกอีก 4 ทุน ในระหว่างนี้นักเรียนทุนรุ่นก่อนที่จบการศึกษา ได้กลับมาเป็นอาจารย์ผู้สอนประจำสาขาวิชาต่างๆ 
                                        ทำให้ภาควิชาฯมีความเข้มแข็งด้านวิชาการและวิจัยเพิ่มขึ้นอย่างมาก ภาควิชาจึงได้ทำการเปิดหลักสูตรการเรียนการสอนระดับ
                                    </li>
                                </ul>
                            </p>

                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2542</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li>เปิดสอนระดับปริญญาโท หลักสูตรวิศวกรรมศาสตร์มหาบัณฑิต สาขาวิชาระบบการผลิต (Leader for Manufacturing
                                        Competitiveness)
                                    </li>
                                </ul>
                            </p>

                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2544</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li>เปิดสอนระดับปริญญาโท หลักสูตรวิศวกรรมศาสตร์มหาบัณฑิต สาขาวิชาวิศวกรรมการเชื่อม (Welding Engineering)
                                    </li>
                                </ul>
                            </p>

                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2545</p>
                            <p style="color:blue; font-size: large">ผศ. ดร.ไชยา ดำคำ</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li>เปิดสอนระดับปริญญาโท หลักสูตรวิศวกรรมศาสตร์มหาบัณฑิต สาขาวิชาวิศวกรรมโลหการ (Metallurgical Engineering)
                                        หลักสูตรวิศวกรรมศาสตร์บัณฑิต สาขาวิชาวิศวกรรมเมคคาทรอนิกส์ (Mechatronic Engineering)
                                    </li>
                                </ul>
                            </p>

                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2547</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li>เปิดสอนระดับปริญญาโท หลักสูตรวิศวกรรมศาสตร์มหบัณฑิต สาขาวิชาวิศวกรรมคุณภาพ (Quality Engineering)
                                    </li>
                                </ul>
                            </p>

                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2548</p>
                            <p style="color:blue; font-size: large">รศ. ดร.บวรโชค ผู้พัฒน์</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li>เปิดสอนระดับปริญญาเอก หลักสูตรวิศวกรรมการผลิตและระบบ (Manufacturing and Systems Engineering)
                                    </li>
                                </ul>
                            </p>

                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2554</p>
                            <p style="color:blue; font-size: large">ผศ. ดร.ไชยา ดำคำ</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li>ปรับปรุงหลักสูตรทั้งระดับปริญญาตรีและบัณฑิตศึกษาของ ภาควิชา 7 หลักสูตร เพื่อให้สอดคล้องกับความต้องการของ
                                        ผู้ใช้บัณฑิตทั้งภาครัฐและเอกชน รวมถึงความต้องการของประเทศ โดยยังคงความเป็นวิศวกรผู้ปฏิบัติ (Practical Engineer) และ
                                        มหาบัณฑิตและดุษฎีบัณฑิตที่มีความเชี่ยวชาญเฉพาะด้านอย่างลึกซึ้ง
                                    </li>
                                </ul>
                            </p>

                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2558 – 25ุ65</p>
                            <p style="color:blue; font-size: large">ผศ. ดร.เจริญชัย โขมพัตราภรณ์<br>ผศ.นิธิ บุรณจันทร์<br>รศ. ดร.บวรโชค ผู้พัฒน์</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li>ปรับปรุงหลักสูตรทั้งระดับปริญญาตรีและบัณฑิต ศึกษาของภาควิชาใน 6 หลักสูตรเพื่อให้สอดคล้องกับความต้องการของ
                                        ผู้ใช้บัณฑิตและพลวัตทางด้านเศรษฐกิจ สังคม สิ่งแวดล้อมของประเทศ ภูมิภาค และโลก
                                    </li>
                                    <li>การจัดการเรียนการสอนของภาควิชาวิศวกรรมอุตสาหการในทุกหลักสูตร ถือว่ามีคุณภาพในลำดับต้นๆ ของประเทศ ผลิตบัณฑิตประมาณปีละ
                                        120 คน มหาบัณฑิตประมาณปีละ 80 คน ดุษฎีบัณฑิตปีละประมาณ 3-5 คน มีผลงานวิจัยและวิชาการเป็นที่ยอมรับ โดยได้รับการตีพิมพ์ในวารสาร 
                                        วิชาการและการประชุมวิชาการ ระดับชาติและนานาชาติ ในแต่ละปีไม่น้อยกว่า 40 ผลงานอย่างต่อเนื่องไม่น้อยกว่า 5 ปี คณาจารย์ได้รับทุนวิจัยจาก
                                        แหล่งทุนทั้งภายในและภายนอกมหาวิทยาลัย รวมถึงทุนวิจัยจากต่างประเทศ ด้านงานบริการวิชาการภาควิชาฯ ได้ให้การบริการวิชาการแก่หน่วยงาน
                                        ภาครัฐและเอกชนมากมาย อาทิเช่น การรถไฟแห่งประเทศไทย การปิโตเลียมแห่งประเทศไทย โรงพยาบาลรามาธิบดี สภากาชาดไทย เป็นต้น 
                                        นอกจากนี้คณาจารย์ของภาควิชาฯ ได้รับเชิญให้เป็นกรรมการระดับชาติและระดับนานาชาติ เช่น คณะกรรมการวิศวกรรมสถานแห่งประเทศไทย 
                                        ในพระบรมราชูปถัมภ์ กรรมาธิการวิสามัญพิจารณาร่างพระราชบัญญัติองค์กรอิสระเพื่อคุ้มครองผู้บริโภค คณะกรรมการเครือข่ายวิชาการ 
                                        คณะบรรณาธิการวารสารทางวิชาการต่างๆ คณะอนุกรรมการแข่งขันฝีมือแรงงานสาขาช่างเชื่อม ระดับนานาชาติ คณะอนุกรรมการวิชาการรายสาขา 
                                        สำนักงานมาตรฐานผลิตภัณฑ์ อุตสาหกรรม เป็นต้น
                                    </li>
                                </ul>
                            </p>
                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2565 – พ.ศ. 2568</p>
                            <p style="color:blue; font-size: large">ดร.สมพร เพียรสุขมณี</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li>ภาควิชาวิศวกรรมอุตสาหการ ยังคงมุ่งมั่นพัฒนาคุณภาพการเรียนการสอน การวิจัย และงานบริการวิชาการอย่างต่อเนื่อง จนได้รับการรับรองมาตรฐานคุณภาพการศึกษา
                                        ตามผลลัพธ์การเรียนรู้ทางด้านวิศวกรรมศาสตร์จากคณะทำงานกำกับการรับรองมาตรฐานคุณภาพการศึกษาหลักสูตรวิศวกรรมศาสตร์ (TABEE)  สาขาวิศวกรรมอุตสาหการ คุณวุฒิ : วิศวกรรมศาสตรบัณฑิต 
                                        ได้รับการรับรองแบบมีเงื่อนไข : 2567 – ปัจจุบัน (1 พฤศจิกายน 2567 – 30 พฤศจิกายน 2569) การประเมินในรอบถัดไป (Date of Next Comprehensive Review) : 2570 – 2571 
                                        รับรองโดย : คณะทำงานกำกับการรับรองมาตรฐานคุณภาพการศึกษาหลักสูตรวิศวกรรมศาสตร์ตาม Washington Accord (Engineering Accreditation Commission : EAC)
                                    </li>
                                    <a href="#" onclick="window.open('/images/TABEE/tabee-license.jpg', '_blank', 'width=1200,height=800,noopener'); return false;" style = "font-size: medium; color:red">TABEE-license-Eng</a>   
                                    <a href="#" onclick="window.open('/images/TABEE/tabee-license-th.jpg', '_blank', 'width=1200,height=800,noopener'); return false;" style = "font-size: medium; color:blueviolet">-ไทย</a>
                                </ul>
                            </p>
                            </p>
                            <p style="font-weight: bolder; color:orange; font-size: large">ปี พ.ศ. 2569</p>
                            <p style="margin: 0.2cm">
                                <ul>
                                    <li>ปรับปรุงหลักสูตรทั้งระดับปริญญาตรีและบัณฑิตศึกษาของภาควิชาใน 6 หลักสูตรเพื่อให้สอดคล้องกับความต้องการของ
                                        ผู้ใช้บัณฑิตและพลวัตทางด้านเศรษฐกิจ สังคม สิ่งแวดล้อมของประเทศ ภูมิภาค และโลก
                                    </li>
                                    <li>เปิดหลักสูตรหลักสูตรวิศวกรรมศาสตร์บัณฑิต วิศวกรรมระบบอุตสาหกรรมและการประกอบการธุรกิจ (Industrial Systems Engineering and Entrepreneurship)
                                    </li>
                                </ul>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>












