<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/navbar', { title : 'ISEE'} ) %>

    <link rel="stylesheet" href="/css/myteam.css" />
    <%- include('../partials/Responsive') %>
  </head>
  <body>
    <%- include('../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <a>บุคลากร</a>
    </div>
    <nav class="nav-sidebar nav-bottom">
      <div class="nav-toggle" onclick="toggleNav()">
        <span class="arrow-icon">❮</span>
      </div>

      <div class="nav-box nav-bottom-box">
        <ul>
          <li><a href="#section-1">ผู้บริหาร</a></li>
          <hr />
          <li><a href="#section-2">ประธานหลักสูตร</a></li>
          <hr />
          <li><a href="#section-3">หัวหน้าสาขา</a></li>
          <hr />
          <li><a href="#section-4">อาจารย์ประจำภาควิชา</a></li>
          <hr />
          <li><a href="/myteam2">อาจารย์พิเศษ</a></li>
          <hr />
          <li><a href="#section-5">นายช่างเทคนิค</a></li>
          <hr />
          <li><a href="#section-6">เจ้าหน้าที่บริหารงานทั่วไป</a></li>
        </ul>
      </div>
    </nav>
    <script src="/js/assets/Navigation.js"></script>
    
    <div>
        
    </div>
    <%- include('../partials/footer')-%>
  </body>
</html>