<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/navbar', { title : 'news'} ) %>

    <link rel="stylesheet" href="/css/news.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
  </head>
  <body>
    <div class="news-container">
      <h1>ข่าวและกิจกรรม</h1>
      <div id="badge">
        <p class="B-รับสมัคร">รับสมัคร</p>
      </div>
    </div>
    <%- include('../partials/topbtn') %> <%- include('../partials/footer')-%>
  </body>
</html>
