<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/navbar', { title : 'PRE'} ) %>

    <link rel="stylesheet" href="../css/PRE.css" />
    <link rel="stylesheet" href="../css/assets/Responsive.css" />
  </head>
  <body>
    <%- include('../partials/footer')-%>
  </body>
</html>
