<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/navbar', { title : 'PRE'} ) %>

    <link rel="stylesheet" href="../css/PRE.css" />
    <link rel="stylesheet" href="../css/assets/Responsive.css" />
  </head>
  <body>
    <!-- picture main -->
    <div class="carousel-wrapper">
      <div
        id="carouselExampleSlidesOnly"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <img
              src="./assets/public/PRE/PRE-mainpic1.jpg"
              class="d-block w-100"
              alt="HomepagePic1"
            />
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img
              src="./assets/public/PRE/PRE-mainpic2.jpg"
              class="d-block w-100"
              alt="HomepagePic2"
            />
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img
              src="./assets/public/PRE/PRE-mainpic3.jpg"
              class="d-block w-100"
              alt="HomepagePic3"
            />
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img
              src="./assets/public/PRE/PRE-mainpic4.jpg"
              class="d-block w-100"
              alt="HomepagePic4"
            />
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <div class="PRE-picboxmain">
      <div class="navlink-underline">
        <span class="navlink"
          ><p>
            <a href="index.html">หน้าหลัก</a
            ><i class="fa-solid fa-chevron-right"></i>วิศวกรรมอุสาหการ
          </p></span
        >
      </div>
      <div>ในหน้านี้</div>
      <p>วิศวกรรมอุสาหการ</p>
      <p>ชื่อหลักสูตร</p>
      <p>วัตถุประสงค์</p>
      <p>แนวทางการเรียนรู้แต่ละชั้นปี</p>
      <p>PLO</p>
      <p>ผลงาน</p>
      <p>อาชีพในอนาคต</p>
      <p>โครงสร้างหลักสูตร</p>
      <p>ค่าเล่าเรียน</p>
      <p>เอกสาร</p>
    </div>
    <div>
      <h3>Production Engineering(PRE)</h3>
      <h3>วิศวกรรมอุสาหการ</h3>
      <p>
        หลักสูตรที่เน้นความสำคัญของทั้งกลุ่มวิชา Production Engineering,
        Industrial Engineering พร้อมด้วยความรู้ด้านการบริหาร จัดการโดยสามารถ
        วิเคราะห์ วางแผน ควบคุม ระบบการผลิต การปรับปรุง คุณภาพและ
        การบริหารองค์กร การผลิตได้อย่างมี ประสิทธิภาพและเป็นเชิงระบบ
      </p>
    </div>
    <!-- PRE name -->
    <div>
      <div class="name1-underline"><h4>ชื่อหลักสูตร</h4></div>
      <p>หลักสูตรวิศวกรรมศาสตรบัณฑิต สาขาวิชาวิศวกรรมอุตสาหการ</p>
      <p>Bachelor of Engineering Program in Production Engineering</p>
      <div class="name2-underline"><h4>ชื่อปริญญาและสาขาวิชา</h4></div>
      <h5>ชื่อเต็ม</h5>
      <p>วิศวกรรมศาสตรบัณฑิต (วิศวกรรมอุตสาหการ)</p>
      <p>Bachelor of Engineering (Production Engineering)</p>
      <h5>ชื่อย่อ</h5>
      <p>วศ.บ. (วิศวกรรมอุตสาหการ)</p>
      <p>B.Eng. (Production Engineering)</p>
    </div>
    <!-- วัตถุประสงค์ -->
    <div class="วัตถุประสงค์-underline"><h2>วัตถุประสงค์</h2></div>
    <div>
      <img src="" alt="" />
      <ul class="วัตถุประสงค์-box">
        <li>
          1.เพื่อผลิตบัณฑิตที่มีความรู้และทักษะด้านระบบการผลิตทั้งขั้นพื้นฐานและเทคโนโลยีอัจฉริยะ
          สามารถบูรณาการความรู้ในการแก้ปัญหาอุตสาหกรรมได้
        </li>
        <li>
          2.เพื่อผลิตบัณฑิตที่มีความรู้และทักษะด้านการบริหารอุตสาหกรรม
          สามารถบูรณาการความรู้ในการแก้ปัญหาอุตสาหกรรมในภาคการผลิตหรือการบริการได้
        </li>
        <li>
          3.เพื่อผลิตบัณฑิตที่เป็นผู้มีความคิดเชื่อมโยงเป็นระบบสามารถบูรณาการความรู้ทางด้าน
          วิศวกรรมอุตสาหการและศาสตร์ที่เกี่ยวข้องในการแก้ปัญหาอุตสาหกรรมในยุคปัจจุบัน
          รวมถึงรองรับอุตสาหกรรม 4.0 ได้ ภายใต้จรรยาบรรณวิศวกร
        </li>
        <li>
          4.เพื่อผลิตบัณฑิตที่เป็นผู้มีความสามารถในการเรียนรู้ด้วยตนเองและเรียนรู้อย่างต่อเนื่องตลอดชีวิต
        </li>
        <li>
          5.บัณฑิตเป็นผู้มีความสามารถในการทำงานเป็นทีม
          และสื่อสารได้อย่างมีประสิทธิภาพ
        </li>
      </ul>
    </div>
    <!-- แนวทางการเรียนรู้แต่ละชั้นปี -->
    <div class="แนวทาง-underline">
      <h2>แนวทางการจัดการเรียนรู้ของหลักสูตร</h2>
    </div>
    <div>
      <img src="" alt="" />
      <div>
        <h3>ชั้นปีที่1</h3>
        <p>
          นักศึกษาสามารถอธิบายหลักการองค์ความรู้ทาง
          วิทยาศาสตร์และวิศวกรรมพื้นฐาน
        </p>
      </div>
      <img src="" alt="" />
      <div>
        <h3>ชั้นปีที่2</h3>
        <p>
          นักศึกษาสามารถอธิบายหลักการทำงานของกระบวนการ ผลิตขั้นพื้นฐาน
          สามารถระบุปัญหาและบูรณาการความรู้
          ในกลุ่มวิชาเพื่อสร้างชิ้นงานเบื้องต้นได้
        </p>
      </div>
      <img src="" alt="" />
      <div>
        <h3>ชั้นปีที่3</h3>
        <p>
          นักศึกษาสามารถอธิบายหลักการ วิธีการและเทคนิคทางด้าน บริหารอุตสาหกรรม
          สามารถบูรณาการความรู้ทั้งด้านระบบ
          การผลิตและการบริหารอุตสาหกรรมในการแก้ปัญหา อุตสาหกรรม
          สามารถสื่อสารและกระตุ้นทีมให้เกิด ความร่วมมือในการทำงาน
        </p>
      </div>
      <img src="" alt="" />
      <div>
        <h3>ชั้นปีที่4</h3>
        <p>
          นักศึกษาสามารถวิเคราะห์ปัญหาและบูรณาการความรู้ทาง
          ด้านวิศวกรรมอุตสาหการและศาสตร์ที่เกี่ยวข้องในการ
          กำหนดแนวทางที่เหมาะสมสำหรับการแก้ปัญหาอุตสาหกรรมในภาคการผลิตหรือการบริการอย่างเป็นระบบ
          ภายใต้ข้อ จำกัดของอุตสาหกรรมและจรรยาบรรณวิศวกร  สามารถ
          สื่อสารและกระตุ้นทีมให้เกิดความร่วมมือในการ ทำงาน
          รวมถึงสามารถเรียนรู้และติดตามความรู้ใหม่ด้วยตนเองได้
        </p>
      </div>
    </div>
    <!-- PLO -->
    <div class="PLO-underline">
      <h2>ผลลัพธ์การเรียนรู้ระดับหลักสูตร</h2>
      <h2>(Program Learning Outcome: PLOs)</h2>
    </div>
    <div class="PLO1-card">
      <h4>PLO-1</h4>
      <p>
        ความรู้และทักษะด้านระบบการผลิตบัณฑิตสามารถบูรณาการความรู้
        และทักษะด้านระบบการผลิตทั้งขั้น พื้นฐานและเทคโนโลยีอัจฉริยะใน
        การแก้ปัญหา อุตสาหกรรมได้
      </p>
      <button class="PLO-card-detail">
        <p><i class="fa-solid fa-circle-plus"></i>รายละเอียดSubPLO</p>
      </button>
    </div>
    <div class="PLO2-card">
      <h4>PLO-2</h4>
      <p>
        ความรู้และทักษะด้านการบริหารอุตสาหกรรม บัณฑิตสามารถบูรณาการ ความรู้
        และทักษะด้านการบริหาร อุตสาหกรรม ในการแก้ปัญหา อุตสาหกรรมในภาค
        การผลิตหรือ การบริการได้โดยตระหนัก ถึงความปลอดภัย สังคมสาธารณะ และ
        สิ่งแวดล้อมเพื่อการพัฒนาอย่างยั่งยืน
      </p>
      <button class="PLO-card-detail">
        <p><i class="fa-solid fa-circle-plus"></i>รายละเอียดSubPLO</p>
      </button>
    </div>
    <div class="PLO3-card">
      <h4>PLO-2</h4>
      <p>
        การคิดอย่างเป็นระบบ บัณฑิตเป็น ผู้มีความคิดเชิงระบบ สามารถ
        บูรณาการความรู้ทางด้านวิศวกรรมอุตสาหการและศาสตร์ที่เกี่ยวข้อง
        ในการแก้ปัญหาอุตสาหกรรม
        รวมถึงรองรับเทคโนโลยีอัจฉริยะได้ภายใต้จรรยาบรรณวิศวกร
      </p>
      <button class="PLO-card-detail">
        <p><i class="fa-solid fa-circle-plus"></i>รายละเอียดSubPLO</p>
      </button>
    </div>
    <div class="PLO4-card">
      <h4>PLO-2</h4>
      <p>
        ทักษะการเรียนรู้ด้วยตนเอง
        บัณฑิตเป็นผู้มีความสามารถในการเรียนรู้ด้วยตนเอง
      </p>
      <button class="PLO-card-detail">
        <p><i class="fa-solid fa-circle-plus"></i>รายละเอียดSubPLO</p>
      </button>
    </div>
    <div class="PLO5-card">
      <h4>PLO-2</h4>
      <p>
        ทักษะการสื่อสารและทำงานเป็นทีม
        บัณฑิตเป็นผู้มีความสามารถในการสื่อสารเพื่อการนำเสนอและการ ทำงานเป็นทีม
      </p>
      <button class="PLO-card-detail">
        <p><i class="fa-solid fa-circle-plus"></i>รายละเอียดSubPLO</p>
      </button>
    </div>
    <!-- <div class="PLO1-overlay">
      <div class="PLO1-popup">
        <h3>SubPLO-1A</h3>
        <ul>
          <li>1.1 บูรณาการความรู้ทางด้านวิทยาศาสตร์และวิศวกรรมพื้นฐาน</li>
          <li>1.2 วิเคราะห์ ออกแบบ และปรับปรุงกระบวนการผลิต</li>
          <li>1.3 ใช้เทคโนโลยีอัจฉริยะในระบบการผลิต</li>
        </ul>
        <button class="close-btn">ปิด</button>
      </div>
    </div> -->
    <!-- ผลงาน -->
    <!-- อาชีพอนาคต -->
    <div class="work-box">
      <div class="work-underline">
        <h4>อาชีพที่สามารถประกอบได้หลังสำเร็จการศึกษา</h4>
      </div>
      <ul>
        <li>วิศวกรอุตสาหการในทุกองค์กร</li>
        <li>วิศวกรออกแบบวิธีการทำงานหรือการผลิต</li>
        <li>วิศวกรวางแผนและควบคุมกระบวนการผลิต</li>
        <li>วิศวกรควบคุมคุณภาพในโรงงานอุตสาหกรรม</li>
        <li>วิศวกรความปลอดภัย</li>
        <li>วิศวกรขายและ/หรือให้คำบริการด้านเทคนิค</li>
        <li>วิศวกรประเมินโครงการสินเชื่อธนาคาร</li>
      </ul>
    </div>
    <img src="" class="work-pic" alt="" />
    <!-- โครงสร้างหลักสูตร -->
    <div class="หลักสตร-gradient">
      <img src="" class="หลักสตร-bg" alt="" />
    </div>
    <div class="หลักสูตร-box">
      <div class="หลักสูตร-underline">
        <h4>โครงสร้างหลักสูตร</h4>
      </div>
      <h2>หลักสูตรประจำปี พ.ศ. 2569</h2>
      <p>จำนวนหน่วยกิต ตลอดหลักสูตร 149 หน่วยกิต</p>
    </div>
    <%- include('../partials/footer')-%>
  </body>
</html>
