<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/navbar', { title : 'scholarships'} ) %>
    <link rel="stylesheet" href="/css/scholarship.css" />
    <%- include('../partials/Responsive') %>
  </head>
  <body>
    <%- include('../partials/topbtn') %>
    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/ <span>นักศึกษา</span>/
      <span>ทุนการศึกษา</span>
    </div>
    <div class="scholarship-layout">
      <div class="scholarship-content">
        <div class="scholarship-container">
          <h2 class="scholarship-head">ทุนการศึกษา</h2>
          <div class="scholarship-box">
            <h4>1. ทุนการศึกษาสำหรับนักศึกษาภาควิชาวิศวกรรมอุตสาหการ</h4>
            <p>
              ในวาระที่ ผศ.พยูร เกตุกราย เกษียณอายุราชการ ในปี 2542 อ.เชาวน์
              เนียมสอน ขณะนั้นดำรงตำแหน่งหัวหน้าภาควิชาวิศวกรรมอุตสาหการ
              และคณะศิษย์เก่ามีดำริจัดตั้ง “กองทุน อ.พยูร เกตุกราย”
              เพื่อเป็นการแสดงกตัญญุตาจิตแด่ ผศ.พยูร
              ผู้ซึ่งเป็นปูชนียบุคคลของภาควิชาวิศวกรรมอุตสาหการ
              กองทุนนี้ก่อตั้งขึ้นเมื่อวันที่ 18 กันยายน พ.ศ. 2542
              โดยมีเงินเริ่มต้นจำนวน 300,000 บาท
              และมีการสมทบกองทุนเพิ่มขึ้นทุกปีอย่างต่อเนื่องจากทั้งศิษย์เก่าและบุคคลทั่วไป
              ดอกผลของกองทุนนี้จะนำไปใช้เป็นทุนการศึกษาสำหรับนักศึกษาระดับปริญญาตรี
              ภาควิชาวิศวกรรมอุตสาหการ ที่เรียนดีและ/หรือขาดแคลน
            </p>
            <h5>กองทุน อ.รวย</h5>
            <p>
              รศ.กอบสิน ทวีสิน และคณะศิษย์เก่า PE 8 นำโดยคุณวิเชียร ชำนาญกิจ
              ร่วมกันก่อตั้ง “กองทุน อ.รวย พุฒตาลเล็ก”
              เพื่อแสดงกตัญญุตาจิตแด่ท่านอาจารย์
              กองทุนนี้มีวัตถุประสงค์เพื่อให้ทุนการศึกษาสำหรับนักศึกษาภาควิชาวิศวกรรมอุตสาหการ
              ต่อมากองทุนนี้ได้ถูกนำไปรวมเข้ากับกองทุน อ.พยูร เกตุกราย ในปี พ.ศ.
              2558
            </p>
            <h5>วัตถุประสงค์กองทุน</h5>
            <p>
              ให้ทุนการศึกษาสำหรับนักศึกษาระดับปริญญาตรี เรียนดีและ/หรือ
              ขาดแคลนทุนทรัพย์
            </p>
            <h5>คุณสมบัติของผู้มีสิทธิ์รับทุน</h5>
            <ul>
              <li>เป็นนักศึกษาที่กำลังศึกษาในภาควิชาวิศวกรรมอุตสาหการ</li>
              <li>เป็นนักศึกษาที่มีผลการเรียนดีและ/หรือขาดแคลนทุนทรัพย์</li>
              <li>
                เป็นผู้ที่มีความประพฤติดี
                ไม่ประพฤติตนหรือเคยประพฤติตนเป็นที่เสื่อมเสีย
              </li>
            </ul>
            <h5>ทุนที่จะได้รับ</h5>
            <p>
              ค่าเล่าเรียนและค่าบำรุงการศึกษา 4 ปี พิจารณาให้ทุนปีต่อปี
              มีการติดตามผลทุกภาคการศึกษา
            </p>
            <h5>การคัดเลือกผู้ได้รับทุน</h5>
            <p>
              คณะกรรมการกองทุนภาควิชาฯ
              จะทำการคัดเลือกนักศึกษาภาควิชาวิศวกรรมอุตสาหการที่มีผลการเรียนดี
              และ/หรือขาดแคลนทุนทรัพย์ ในทุกปีการศึกษา
            </p>
            <h5>ความคาดหวัง</h5>
            <p>สำเร็จการศึกษา</p>
            <h5>ปฏิทิน</h5>
            <div class="table-responsive">
              <table class="custom-schedule-table">
                <tr>
                  <th>รับสมัคร</th>
                  <th>สิงหาคม</th>
                </tr>
                <tr>
                  <th>สัมภาษณ์</th>
                  <th>สิงหาคม</th>
                </tr>
                <tr>
                  <th>ประกาศผล</th>
                  <th>กันยายน</th>
                </tr>
              </table>
            </div>
            <h5>กองทุน รศ.กิติศักดิ์ พลอยพานิชเจริญ</h5>
            <p>
              กองทุน รศ.กิติศักดิ์ พลอยพานิชเจริญ ตั้งขึ้นมาโดย รศ.กิติศักดิ์
              พลอยพานิชเจริญเพื่อใช้ดอกผลของกองทุนเป็นทุนการศึกษาสำหรับนักศึกษาภาควิชาวิศวกรรมอุตสาหการที่ขาดแคลนทุนทรัพย์
              ผู้สนใจสามารถติดต่อกลุ่มงานช่วยเหลือทางการเงินแก่นักศึกษา
              มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี
            </p>
            <h5>กองทุนพลตำรวจเอกสนั่น–สมถวิล ตู้จินดา</h5>
            <p>
              พลตำรวจเอกสนั่น ตู้จินดา
              มีดำริให้ทุนการศึกษานักศึกษาระดับปริญญาตรีที่ขาดแคลนทุนทรัพย์ โดย
              ดร.อนันทวิทย์ ตู้จินดา บุตรชาย ได้จัดตั้ง
              “กองทุนพลตำรวจเอกสนั่น-สมถวิล ตู้จินดา”
              ขึ้นเพื่อดำเนินการตามประสงค์ของพลตำรวจเอกสนั่น ตู้จินดา
              โดยเริ่มให้ทุนสำหรับนักศึกษาภาควิชาวิศวกรรมอุตสาหการที่ขาดแคลนตั้งแต่
              พ.ศ. 2555
              ต่อมากองทุนนี้ได้ขยายขอบเขตการให้ความช่วยเหลือเป็นสวัสดิการ
              ช่วยเหลือด้านการเงิน
              การรักษาพยาบาลให้กับอาจารย์เจ้าหน้าที่ในภาควิชาฯ
              รวมถึงสนับสนุนกิจกรรมของนักศึกษา
            </p>
            <h5>วัตถุประสงค์กองทุน</h5>
            <ul>
              <li>ให้ทุนการศึกษาสำหรับนักศึกษาระดับปริญญาตรีที่ขาดแคลน</li>
              <li>
                ให้เป็นสวัสดิการ ช่วยเหลือด้านการเงิน การรักษาพยาบาล
                อาจารย์เจ้าหน้าที่ในภาคฯ
              </li>
            </ul>
            <h5>คุณสมบัติของผู้มีสิทธิ์รับทุน</h5>
            <ul>
              <li>เป็นนักศึกษาที่กำลังจะเข้าศึกษาชั้นปีที่ 1 ของภาควิชาฯ</li>
              <li>เป็นนักศึกษาที่ขาดแคลนทุนทรัพย์ในการเรียน</li>
              <li>
                เป็นผู้ที่มีความประพฤติดี
                ไม่ประพฤติตนหรือเคยประพฤติตนเป็นที่เสื่อมเสีย
              </li>
            </ul>
            <h5>ทุนที่จะได้รับ</h5>
            <ul>
              <li>
                ค่าลงทะเบียนและค่าบำรุงการศึกษาจ่ายตามจริง
                ตามระยะเวลาของหลักสูตรและจำนวนหน่วยกิตไม่เกินจำนวนหน่วยกิตของหลักสูตร
              </li>
              <li>
                ค่าใช้จ่ายรายเดือน เดือนละ 8,000 บาท ตามระยะเวลาของหลักสูตร
              </li>
            </ul>
            <h5>การสมัครขอรับทุน</h5>
            <p>
              ภาควิชาวิศวกรรมอุตสาหการ คณะวิศวกรรมศาสตร์
              มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี
            </p>
            <h5>ความคาดหวัง</h5>
            <p>
              นักศึกษาต้องสามารถจบการศึกษาตามระยะเวลาของหลักสูตร
              โดยต้องมีการส่งรายงานผลการศึกษาทุกภาคการศึกษา
            </p>
            <h5>ปฏิทิน</h5>
            <div class="table-responsive">
              <table class="custom-schedule-table">
                <tr>
                  <th>รับสมัคร</th>
                  <th>สิงหาคม</th>
                </tr>
                <tr>
                  <th>สัมภาษณ์</th>
                  <th>สิงหาคม</th>
                </tr>
                <tr>
                  <th>ประกาศผล</th>
                  <th>กันยายน</th>
                </tr>
                <tr>
                  <th>ส่งผลรายงานการศึกษา</th>
                  <th>ทุกภาคการศึกษา</th>
                </tr>
              </table>
            </div>
            <h5>ทุนช่วยงานภาควิชา</h5>

            <h5>วัตถุประสงค์</h5>

            <p>ให้ทุนการศึกษาสำหรับนักศึกษาระดับปริญญาตรีที่ขาดแคลนทุนทรัพย์</p>

            <h5>คุณสมบัติของผู้มีสิทธิ์รับทุน</h5>
            <ul>
              <li>เป็นนักศึกษาที่กำลังศึกษาในภาควิชาวิศวกรรมอุตสาหการ</li>
              <li>เป็นนักศึกษาที่ขาดแคลนทุนทรัพย์</li>
              <li>
                เป็นผู้ที่มีความประพฤติดี
                ไม่ประพฤติตนหรือเคยประพฤติตนเป็นที่เสื่อมเสีย
              </li>
            </ul>
            <h5>ทุนที่จะได้รับ</h5>
            <p>
              ทุนช่วยงานภาควิชาเดือนละ 2,000 บาท
              โดยต้องปฏิบัติหน้าที่ช่วยเหลืองานภาควิชาเดือนละ 40 ชั่วโมง
              พิจารณาให้ทุนปีต่อปี มีการติดตามการทำงานทุกภาคการศึกษา
            </p>
            <h5>การคัดเลือกผู้ได้รับทุน</h5>
            <p>
              คณะกรรมการกองทุนภาควิชาฯ
              จะทำการคัดเลือกนักศึกษาภาควิชาวิศวกรรมอุตสาหการที่ขาดแคลนทุนทรัพย์
              ในทุกปีการศึกษา
            </p>
            <h5>ความคาดหวัง</h5>
            <p>
              ปฏิบัติหน้าที่ช่วยเหลืองานภาควิชาฯ ตามเงื่อนไข
              มีความรับผิดชอบในงานที่ได้รับมอบหมาย
            </p>
            <h5>ปฏิทิน</h5>
            <div class="table-responsive">
              <table class="custom-schedule-table">
                <tr>
                  <th>รับสมัคร</th>
                  <th>สิงหาคม</th>
                </tr>
                <tr>
                  <th>สัมภาษณ์</th>
                  <th>สิงหาคม</th>
                </tr>
                <tr>
                  <th>ประกาศผล</th>
                  <th>กันยายน</th>
                </tr>
              </table>
            </div>
            <p>
              นอกจากนี้ ภาควิชาฯ มีทุนที่ได้รับความอนุเคราะห์จากบริษัทต่างๆ
              ในทุกๆปี โดยภาควิชาฯ จะประกาศผ่านสื่อ สื่อออนไลน์
              และส่งข้อความผ่านทาง E-mail
              ของนักศึกษาที่ทำระเบียนประวัติไว้กับภาควิชาเท่านั้น
              ตัวอย่างทุนจากบริษัทต่างๆ เช่น
            </p>
            <ul>
              <li>ทุนไทยปาร์กเกอร์ไรท์ซิ่ง ให้ 4 ปีต่อเนื่อง</li>
              <li>
                ทุนชมรมมดอุตสาหการ ขอรับใบสมัครทุนของชมรมมดอุตสาหการ ยื่นใบสมัคร
                และรอพิจารณาผลอนุมัติทุน ประกาศรายชื่อ และรับทุนการศึกษา
              </li>
            </ul>

            <h4>2. กองทุนการศึกษาสำหรับนักศึกษา มจธ.</h4>
            <h5>ทุนสนับสนุนการศึกษา</h5>
            <h5>ทุนเงินยืมเพื่อการศึกษา สำหรับนักศึกษา มจธ.</h5>
            <h5>ทุนเงินยืมฉุกเฉิน 139</h5>
            <h5>ทุนจ้างงานนักศึกษา</h5>
            <h5>ทุนจ้างงานผู้ช่วยวิจัย</h5>
            <h5>ทุนผู้ประสบอุบัติภัย</h5>

            <h4>3. ทุนการศึกษาอื่นๆ</h4>
            <h5>ทุนเพชรพระจอมเกล้า</h5>
            <h5>ทุนเจียระไนเพชร</h5>
            <h5>ทุนธรรมรักษา</h5>
            <h5>ทุนสหปัญญา</h5>
            <h5>ทุนให้เปล่าโครงการต่างๆ</h5>
            <h5>ทุนเงินให้กู้ยืมเพื่อการศึกษา (กยศ)</h5>
            <h4>หน่วยงานที่รับผิดชอบด้านทุนการศึกษาของมหาลัย</h4>
            <h5>งานทุนการศึกษา กองกิจการนักศึกษา</h5>
            <p>
              ชั้น 2 อาคารสํานักงานอธิการบดี 126 ถ.ประชาอุทิศ แขวงบางมด
              เขตทุ่งครุ กรุงเทพฯ 10140
            </p>
            <span
              ><h5>โทรศัพท์:</h5>
              <p>0-2470-8107 และ 0-2470-8098</p></span
            >
            <a
              href="https://www.kmutt.ac.th/sfa/"
              target="_blank"
              class="scholarship-web"
            >
              <i class="fa-solid fa-arrow-up-right-from-square"></i
              >เว็บไซต์ทุนการศึกษา
            </a>
          </div>
        </div>
      </div>
      <div class="scholarship-news">
        <h1>ข่าวสาร</h1>
        <div class="right-news"></div>
      </div>
    </div>

    <%- include('../partials/footer')-%>
  </body>
</html>
