<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/navbar', { title : 'scholarship'} ) %>

    <link rel="stylesheet" href="/css/assets/scholarship.css" />
    <%- include('../partials/Responsive') %>
  </head>
  <body>
    <%- include('../partials/topbtn') %> <%- include('../partials/footer')-%>
  </body>
</html>
