<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/navbar', { title : 'TABEE'} ) %>
    <link rel="stylesheet" href="/css/TABEE.css" />
    <%- include('../partials/Responsive') %>
  </head>
  <body>
    <%- include('../partials/topbtn') %>

    <div class="navigation-tab">
      <a href="/">หน้าแรก</a>/
      <span>TABEE</span>
    </div>
    <nav class="nav-sidebar">
      <div class="nav-box">
        <ul>
          <li><a href="#section-1">วัตถุประสงค์</a></li>
          <li><a href="#section-2">PLO</a></li>
          <li><a href="#section-3">ความเป็นมา</a></li>
        </ul>
      </div>
    </nav>
    <script src="/js/assets/Navigation.js"></script>
    <section class="tabee-head">
      <h3>หลักสูตรที่ได้รับการรับรองมาตรฐานคุณภาพการศึกษา</h3>

      <div class="tabee-body">
        <div class="tabee-bodybox">
          <h4>
            หลักสูตร วิศวกรรมศาสตรบัณฑิต<br />สาขาวิชา วิศวกรรมอุตสาหการ ---
            <a
              href="javascript:void(0)"
              onclick="openModal('/images/TABEE/tabee-license.jpg')"
              alt="คลิกเพื่อขยาย"
              ><i> (TABEE-license-Eng)</i></a
            >
            <a
              href="javascript:void(0)"
              onclick="openModal('/images/TABEE/tabee-license-th.jpg')"
              alt="คลิกเพื่อขยาย"
              style="color: #000053"
              ><i> (TABEE-license-ไทย)</i></a
            >
          </h4>
          <div id="imageModal" class="modal">
            <div class="modal-controls">
              <span class="close" onclick="closeModal()">&times;</span>
            </div>
            <div class="modal-content-wrapper">
              <img
                id="modalImage"
                class="modal-main-image"
                src=""
                alt="ขยายรูปภาพ"
              />
            </div>
          </div>

          <h5>
            โดย<br />คณะอนุกรรมการรับรองมาตรฐานคุณภาพการศึกษาวิศวกรรมศาสตร์
            สภาวิศวกร<br />
            Thailand Accreditation Board of Engineering Education (TABEE) ---
            <a href="https://coe.or.th/education/tabee-accreditation#Accredited-Programs" target="_blank"
              ><i>Council of Engineers Thailand</i>
            </a>
          </h5>
        </div>
      </div>
    </section>

    <section id="section-1">
      <div class="tabee-content">
        <div>
          <h5>
            วัตถุประสงค์ ---
            <a
              href="javascript:void(0)"
              onclick="openModal('/images/TABEE/Course map2.jpg')"
              alt="คลิกเพื่อขยาย"
              ><i> แผนผังหลักสูตร</i></a
            >
            -
            <a href="./pdf/PROGRAM DETAILS วศ.บ.อุตสาหการ 2569.pdf" target="_blank"
              ><i> รายละเอียดหลักสูตร</i></a
            >
            <ol>
              <br />
              <li>
                ผลิตบัณฑิตที่มีความรู้และทักษะด้านระบบการผลิตทั้งขั้นพื้นฐานและเทคโนโลยีอัจฉริยะ
                สามารถบูรณาการความรู้ในแก้ปัญหาอุตสาหกรรมได้
              </li>
              <br />
              <li>
                ผลิตบัณฑิตที่มีความรู้และทักษะด้านการบริหารอุตสาหกรรม
                สามารถบูรณาการความรู้ในการแก้ปัญหาอุตสาหกรรมในภาคการผลิตหรือบริการได้
              </li>
              <br />
              <li>
                ผลิตบัณฑิตที่เป็นผู้มีความคิดเชิงระบบ
                สามารถบูรณาการความรู้ทางด้านวิศวกรรมอุตสาหการและศาสตร์ที่เกี่ยวข้องในการแก้ปัญหาอุตสาหกรรม
                รวมถึงรองรับเทคโนโลยีอัจฉริยะได้ภายใต้จรรยาบรรณวิศวกร
              </li>
              <br />
              <li>
                ผลิตบัณฑิตที่เป็นผู้มีความสามารถในการเรียนรู้ด้วยตนเองและเรียนรู้อย่างต่อเนื่องตลอดชีวิต
              </li>
              <br />
              <li>
                ผลิตบัณฑิตเป็นผู้มีความสามารถในการทำงานเป็นทีม
                และสื่อสารได้อย่างมีประสิทธิผลและประสิทธิภาพ
              </li>
            </ol>
          </h5>
        </div>
      </div>
    </section>
    <section id="section-2" class="tabee-plo">
      <div class="tabee-plo-head">
        <h5>
          ผลลัพธ์การเรียนรู้ของหลักสูตรปรับปรุงพ.ศ. 2569
          <span>
            (Program Learning Outcome: PLO)
            <a
              href="javascript:void(0)"
              onclick="openModal('/images/TABEE/Stakeholders_PLO.jpg')"
              alt="คลิกเพื่อขยาย"
              ><i>ความเชื่อมโยงกับผู้มีส่วนได้ส่วนเสีย</i></a
            ></span
          >
        </h5>
      </div>
      <!-- SubPLO 1 -->
      <div class="tabee-subplo">
        <div class="tabee-subplo-head">
          <div class="card-head">
            <h4>PLO1</h4>
            <p>
              ความรู้และทักษะด้าน ระบบการผลิต (Manufacturing Knowledge and
              Skills)
              บัณฑิตสามารถบูรณาการความรู้และทักษะด้านระบบการผลิตทั้งขั้นพื้นฐานและเทคโนโลยีอัจฉริยะ
              ในการแก้ปัญหาอุตสาหกรรมได้
            </p>
          </div>
        </div>

        <div class="tabee-subplo-body">
          <div class="tabee-bodycard">
            <div class="card-body">
              <p>
                PLO 1A
                <span
                  >สามารถระบุและอธิบายหลักการทำงานของ
                  กระบวนการผลิตขั้นพื้นฐานและเครื่องมือที่ใช้ในกระบวนการผลิต
                  รวมถึงระบบควบคุมการผลิตแบบอัตโนมัติและเทคโนโลยีดิจิทัล</span
                >
              </p>
              <br />
              <p>
                PLO 1B
                <span
                  >สามารถปฏิบัติงานในกระบวนการผลิตขั้นพื้นฐาน
                  และใช้เครื่องมือในกระบวนการผลิต
                  รวมถึงระบบควบคุมการผลิตแบบอัตโนมัติ
                  เทคโนโลยีดิจิทัลและโปรแกรมสำเร็จรูปที่เกี่ยวข้องเพื่อสร้างผลงานเบื้องต้นได้
                  และอยู่ภายใต้ความปลอดภัยตามหลักวิศวกรรม</span
                >
              </p>
              <br />
              <p>
                PLO 1C
                <span
                  >สามารถบูรณาการความรู้ทางด้านกระบวนการผลิต
                  รวมถึงเทคโนโลยีอัจฉริยะ ในการแก้ปัญหาอุตสาหกรรมได้</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- SubPLO 2 -->
      <div class="tabee-subplo">
        <div class="tabee-subplo-head">
          <div class="card-head">
            <h4>PLO2</h4>
            <p>
              <span
                >ความรู้และทักษะด้าน การบริหารอุตสาหกรรม (Industrial Management
                Knowledge and Skills)
                บัณฑิตสามารถบูรณาการความรู้และทักษะด้านการบริหารอุตสาหกรรม
                ในการแก้ปัญหาอุตสาหกรรมในภาคการผลิตหรือการบริการได้
                โดยตระหนักถึงความปลอดภัยสังคมสาธารณะ
                และสิ่งแวดล้อมเพื่อการพัฒนาที่ยั่งยืน
              </span>
            </p>
          </div>
        </div>

        <div class="tabee-subplo-body">
          <div class="tabee-bodycard">
            <div class="card-body">
              <p>
                PLO 2A
                <span>สามารถอธิบายหลักการ วิธีการทางด้านบริหารอุตสาหกรรม</span>
              </p>
              <br />
              <p>
                PLO 2B
                <span
                  >สามารถบูรณาการความรู้พื้นฐานของการบริหารอุตสาหกรรมได้</span
                >
              </p>
              <br />
              <p>
                PLO 2C
                <span
                  >สามารถเปรียบเทียบและเลือกใช้หลักการ
                  วิธีการและ/หรือเทคนิคทางด้าน บริหารอุตสาหกรรม
                  ในการแก้ปัญหาอุตสาหกรรมในภาคการผลิตหรือบริการได้อย่างมีประสิทธิผล
                  โดยตระหนักถึงความปลอดภัย สังคมสาธารณะ
                  และสิ่งแวดล้อมเพื่อการพัฒนาอย่างยั่งยืน</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- SubPLO 3 -->
      <div class="tabee-subplo">
        <div class="tabee-subplo-head">
          <div class="card-head">
            <h4>PLO3</h4>
            <p>
              <span
                >การคิดอย่างเป็นระบบ (Systematic Thinking)
                บัณฑิตเป็นผู้มีความคิดเชิงเป็นระบบสามารถบูรณาการความรู้ทางด้านวิศวกรรมอุตสาหการและศาสตร์ที่เกี่ยวข้องในการแก้ปัญหาอุตสาหกรรมรวมถึงรองรับเทคโนโลยีอัจฉริยะได้
                ภายใต้จรรยาบรรณวิศวกร</span
              >
            </p>
          </div>
        </div>

        <div class="tabee-subplo-body">
          <div class="tabee-bodycard">
            <div class="card-body">
              <p>
                PLO 3A
                <span
                  >สามารถระบุและประเมินปัญหาภายใต้
                  กรอบความรู้ทางด้านวิศวกรรมอุตสาหการ
                  และศาสตร์ที่เกี่ยวข้อง</span
                >
              </p>
              <br />
              <p>
                PLO 3B
                <span
                  >สามารถวิเคราห์สาเหตุโดยใช้ประโยชน์
                  จากองค์ความรู้ทางด้านวิศวกรรมอุตสาหการและศาสตร์ที่เกี่ยวข้อง</span
                >
              </p>
              <br />
              <p>
                PLO 3C
                <span
                  >สามารถระบุแนวคิดในการแก้ปัญหา
                  พร้อมกำหนดและเปรียบเทียบแนวทางในการแก้ปัญหาอุตสาหกรรมที่เหมาะสม
                  โดยบูรณาการความรู้ดังกล่าวรวมถึงเทคโนโลยีอัจฉริยะ
                  ภายใต้ข้อจำกัดของอุตสาหกรรมและจรรยาบรรวิศวกร</span
                >
              </p>
              <br />
              <p>
                PLO 3D
                <span
                  >สามารถระบุและรวบรวมข้อมูลที่จำเป็น รวมถึงการวิเคราะห์
                  การสังเคราะห์และการจัดการข้อมูลดังกล่าวได้อย่างมีประสิทธิผล</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- SubPLO 4 -->
      <div class="tabee-subplo">
        <div class="tabee-subplo-head">
          <div class="card-head" style="height: 150px">
            <h4>PLO4</h4>
            <p>
              <span
                >ทักษะการเรียนรู้ด้วยตนเอง (Self-Learning Skill)
                บัณฑิตเป็นผู้มีความสามารถในการเรียนรู้ด้วยตนเอง</span
              >
            </p>
          </div>
        </div>

        <div class="tabee-subplo-body">
          <div class="tabee-bodycard" style="height: 150px">
            <div class="card-body">
              <p>
                PLO 4A
                <span
                  >สามารถ
                  อธิบายหลักการสำคัญของความรู้ใหม่ทางด้านวิศวกรรมอุตสาหการและศาสตร์ที่เกี่ยวข้อง</span
                >
              </p>
              <br />
              <p>
                PLO 4B
                <span
                  >สามารถ
                  เรียนรู้ความรู้ใหม่ทางด้านวิศวกรรมอุตสาหการและศาสตร์ที่เกี่ยวข้องได้ตลอดชีวิต</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- SubPLO 5 -->
      <div class="tabee-subplo">
        <div class="tabee-subplo-head">
          <div class="card-head" style="height: 200px">
            <h4>PLO5</h4>
            <p>
              <span
                >ทักษะการเรียนรู้ด้วยตนเอง (Self-Learning Skill)
                บัณฑิตเป็นผู้มีความสามารถในการเรียนรู้ด้วยตนเอง</span
              >
            </p>
          </div>
        </div>

        <div class="tabee-subplo-body">
          <div class="tabee-bodycard" style="height: 200px">
            <div class="card-body">
              <p>
                PLO 5A
                <span>สามารถ พูดและเขียนเพื่อนำเสนอผลงานทางวิศววกรรม</span>
              </p>
              <br />
              <p>
                PLO 5B
                <span
                  >สามารถ
                  สื่อสารและกระตุ้นให้ทีมเกิดความร่วมมือในการทำงานร่วมกัน</span
                >
              </p>
              <br />
              <p>
                PLO 5C
                <span
                  >สามารถ
                  ปรับตัวให้เข้ากับทีมและทำงานร่วมกันบรรลุตามเป้าหมายที่กำหนด</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- History -->
    <section id="section-3" class="tabee-history">
      <h5>ความเป็นมาของการประกันคุณภาพการศึกษา (TABEE)</h5>
      <div class="tabee-history-box">
        <div class="tabee-history-head">
          <div class="history-headcard">
            <p>เดือนกรกฎาคม พ.ศ. 2565</p>
          </div>
        </div>

        <div class="tabee-history-body">
          <div class="history-bodycard">
            <p>
              หัวหน้าภาควิชาฯ และคณะทำงาน TABEE
              ได้ประกาศนโยบายประกันคุณภาพการศึกษาหลักสูตรวิศวกรรมศาสตร์
            </p>
          </div>
        </div>
      </div>

      <div class="tabee-history-box">
        <div class="tabee-history-head">
          <div class="history-headcard">
            <p>เดือนตุลาคม พ.ศ. 2565</p>
          </div>
        </div>

        <div class="tabee-history-body">
          <div class="history-bodycard">
            <p>
              คณะทำงาน TABEE ได้กำหนดแนวทางการจัดทำ Course Portfolio
              และจัดอบรมให้กับคณาจารย์ภาควิชาฯ
            </p>
          </div>
        </div>
      </div>

      <div class="tabee-history-box">
        <div class="tabee-history-head">
          <div class="history-headcard">
            <p>เดือนมกราคม พ.ศ. 2566</p>
          </div>
        </div>

        <div class="tabee-history-body">
          <div class="history-bodycard">
            <p>
              จัดเก็บข้อมูลวิชาโครงงานผ่านระบบสารสนเทศ (CDP: Capstone Design
              Project)<br /><a
                href="/images/TABEE/CDP_Report.pdf"
                target="_blank"
                ><i>CDP Report</i></a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="tabee-history-box">
        <div class="tabee-history-head">
          <div class="history-headcard">
            <p>
              วันตรวจประเมินคุณภาพการศึกษา<br /><br /><span
                >31 ต.ค. - 1 พ.ย. พ.ศ. 2567
              </span>
            </p>
          </div>
        </div>

        <div class="tabee-history-body">
          <div class="history-bodycard">
            <p>
              ภาควิชาวิศวกรรมอุตสาหการได้รับการรับรองมาตรฐานคุณภาพการศึกษาตามผลลัพธ์การเรียนรู้ทางด้านวิศวกรรมศาสตร์
              จากคณะทำงานกำกับการรับรอง
              มาตรฐานคุณภาพการศึกษาหลักสูตรวิศวกรรมศาสตร์ (TABEE)
              สาขาวิศวกรรมอุตสาหการ คุณวุฒิ : วิศวกรรมศาสตรบัณฑิต
              ได้รับการรับรองแบบมีเงื่อนไข : 2567 – ปัจจุบัน (1 พฤศจิกายน 2567 –
              30 พฤศจิกายน 2569) การประเมินในรอบถัดไป (Date of Next
              Comprehensive Review) : 2570 – 2571 รับรองโดย :
              คณะทำงานกำกับการรับรองมาตรฐานคุณภาพการศึกษาหลักสูตรวิศวกรรมศาสตร์ตาม
              Washington Accord (Engineering Accreditation Commission : EAC)
            </p>
          </div>
        </div>
      </div>
    </section>
    <script src="/js/assets/overlay.js"></script>
    <%- include('../partials/footer')-%>
  </body>
</html>
