<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>Ph.D-PLO2</title>
  </head>
  <body>
    <li class="card-plo swiper-slide">
      <div>
        <p class="plo-title">PLO-2</p>
        <h2 class="plo-desc">
          แสดงให้เห็นถึงการเรียนรู้ตลอดชีวิตเกี่ยวกับประเด็นร่วมสมัยในวิศวกรรม
        </h2>
        <button class="plo-open">
          <i class="fa-solid fa-circle-plus"></i> SubPLO
        </button>
      </div>

      <div class="subplo-hidden">
        <div class="subplo-item">
          <h3>SubPLO-2A</h3>
          <p>
            สามารถใช้ทรัพยากร และเทคโนโลยีสารสนเทศและการสื่อสาร
            เพื่อการเรียนรู้ด้วยตนเอง
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-2B</h3>
          <p>ตระหนักถึงความสำคัญของการรับผิดชอบต่อการเรียนรู้ตลอดชีวิต</p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-2C</h3>
          <p style="font-size: 14px">
            สามารถประเมินความน่าเชื่อถือและความถูกต้องของข้อมูลตามหลักวิชาการสากลได้
          </p>
        </div>
      </div>
    </li>
  </body>
</html>
