<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>Ph.D-PLO3</title>
  </head>
  <body>
    <li class="card-plo swiper-slide">
      <div>
        <p class="plo-title">PLO-3</p>
        <h2 class="plo-desc">แสดงความสามารถในการสื่อสารอย่างมีประสิทธิภาพ</h2>
        <button class="plo-open">
          <i class="fa-solid fa-circle-plus"></i> SubPLO
        </button>
      </div>

      <div class="subplo-hidden">
        <div class="subplo-item">
          <h3>SubPLO-3A</h3>
          <p>สามารถเขียนและเผยแผ่ผลงานวิชาการในวารสารทางวิชาการระดับนานาชาติ</p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-3B</h3>
          <p>
            สามารถสื่อสารทางวิชาการทั้งในรูปแบบการพูด
            และการนำเสนอด้วยภาพให้เหมาะสมกับ วิชาชีพวิศวกรรม
          </p>
        </div>
      </div>
    </li>
  </body>
</html>
