<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>Ph.D-PLO1</title>
  </head>
  <body>
    <li class="card-plo swiper-slide">
      <div>
        <p class="plo-title">PLO-1</p>
        <h2 class="plo-desc">
          สามารถสร้างงานวิจัยระดับแนวหน้าด้านวิศวกรรมอุตสาหการและระบบการผลิต
        </h2>
        <button class="plo-open">
          <i class="fa-solid fa-circle-plus"></i> SubPLO
        </button>
      </div>

      <div class="subplo-hidden">
        <div class="subplo-item">
          <h3>SubPLO-1A</h3>
          <p style="font-size: 14px">
            สามารถวิเคราะห์หรือสังเคราะห์ข้อมูลที่เกี่ยวข้อง
            เพื่อการริเริ่มองค์ความรู้ใหม่ในวิศวกรรม อุตสาหการและระบบการผลิต
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-1B</h3>
          <p style="font-size: 14px">
            สามารถประยุกต์ใช้ความรู้เฉพาะทางเพื่อสร้างงานวิจัยระดับแนวหน้า
            และแก้ปัญหาใน วิศวกรรมอุตสาหการและระบบการผลิต
          </p>
        </div>
      </div>
    </li>
  </body>
</html>
