<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>PRE-PLO1</title>
  </head>
  <body>
    <li class="card-plo swiper-slide">
      <div>
        <p class="plo-title">PLO-1</p>
        <h2 class="plo-desc">
          ความรู้และทักษะด้านระบบการผลิตบัณฑิตสามารถบูรณาการความรู้
          และทักษะด้านระบบการผลิตทั้งขั้น พื้นฐานและเทคโนโลยีอัจฉริยะใน
          การแก้ปัญหา อุตสาหกรรมได้
        </h2>
        <button class="plo-open">
          <i class="fa-solid fa-circle-plus"></i> SubPLO
        </button>
      </div>

      <div class="subplo-hidden">
        <div class="subplo-item">
          <h3>SubPLO-1A</h3>
          <p>
            สามารถระบุและอธิบายหลักการทำงานของกระบวนการผลิตขั้นพื้นฐาน
            และเครื่องมือที่ใช้ในกระบวนการผลิตรวมถึงระบบควบคุมการผลิต
            แบบอัตโนมัติและเทคโนโลยีดิจิทัล
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-1B</h3>
          <p>
            สามารถปฏิบัติงานในกระบวนการผลิตขั้นพื้นฐานและใช้เครื่องมือใน
            กระบวนการผลิตรวมถึงระบบควบคุมการผลิตแบบอัตโนมัติและ
            เทคโนโลยีดิจิทัลเพื่อสร้างชิ้นงานเบื้องต้นได้และอยู่ภายใต้ความปลอดภัย
            ตามหลักวิศวกรรม
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-1C</h3>
          <p>
            สามารถบูรณาการความรู้ทางด้านกระบวนการผลิตในการแก้ปัญหา อุตสาหกรรมได้
          </p>
        </div>
      </div>
    </li>
  </body>
</html>
