<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>PRE-PLO2</title>
  </head>
  <body>
    <li class="card-plo swiper-slide">
      <div>
        <p class="plo-title">PLO-2</p>
        <h2 class="plo-desc">
          ความรู้และทักษะด้านการบริหารอุตสาหกรรม บัณฑิตสามารถบูรณาการ ความรู้
          และทักษะด้านการบริหาร อุตสาหกรรม ในการแก้ปัญหา อุตสาหกรรมในภาค
          การผลิตหรือ การบริการได้โดยตระหนัก ถึงความปลอดภัย สังคมสาธารณะ และ
          สิ่งแวดล้อมเพื่อการพัฒนาอย่างยั่งยืน
        </h2>
        <button class="plo-open">
          <i class="fa-solid fa-circle-plus"></i> SubPLO
        </button>
      </div>

      <div class="subplo-hidden">
        <div class="subplo-item">
          <h3>SubPLO-2A</h3>
          <p>สามารถอธิบายหลักการ วิธีการและเทคนิคทางด้านบริหารอุตสาหกรรม</p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-2B</h3>
          <p>สามารถบูรณาการความรู้พื้นฐานของการบริหารอุตสาหกรรมได้</p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-2C</h3>
          <p>
            สามารถเปรียบเทียบและเลือกใช้หลักการ วิธีการและ/หรือเทคนิคทางด้าน
            บริหารอุตสาหกรรม ในการแก้ปัญหาอุตสาหกรรมในภาคการผลิต
            หรือการบริการได้อย่างมีประสิทธิผล โดยตระหนักถึงความปลอดภัย
            สังคมสาธารณะ และสิ่งแวดล้อมเพื่อการพัฒนาอย่างยั่งยืน
          </p>
        </div>
      </div>
    </li>
  </body>
</html>
