<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>PRE-PLO3</title>
  </head>
  <body>
    <li class="card-plo swiper-slide">
      <div>
        <p class="plo-title">PLO-3</p>
        <h2 class="plo-desc">
          การคิดอย่างเป็นระบบ บัณฑิตเป็น ผู้มีความคิดเชิงระบบ สามารถ
          บูรณาการความรู้ทางด้านวิศวกรรมอุตสาหการและศาสตร์ที่เกี่ยวข้อง
          ในการแก้ปัญหาอุตสาหกรรม
          รวมถึงรองรับเทคโนโลยีอัจฉริยะได้ภายใต้จรรยาบรรณวิศวกร
        </h2>
        <button class="plo-open">
          <i class="fa-solid fa-circle-plus"></i> SubPLO
        </button>
      </div>

      <div class="subplo-hidden">
        <div class="subplo-item">
          <h3>SubPLO-3A</h3>
          <p>
            สามารถระบุและประเมินปัญหาภายใต้กรอบความรู้ทางด้านวิศวกรรม
            อุตสาหการและศาสตร์ที่เกี่ยวข้อง
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-3B</h3>
          <p>
            สามารถวิเคราะห์สาเหตุ โดยใช้ประโยชน์จากองค์ความรู้ทางด้าน
            วิศวกรรมอุตสาหการและศาสตร์ที่เกี่ยวข้อง
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-3C</h3>
          <p>
            สามารถระบุแนวคิดในการแก้ปัญหา พร้อมกำหนดและเปรียบเทียบ
            แนวทางในการแก้ปัญหาอุตสาหกรรมที่เหมาะสมโดยบูรณาการความรู้
            ดังกล่าวรวมถึงเทคโนโลยีอัจฉริยะ ภายใต้ข้อจำกัดของอุตสาหกรรมและ
            จรรยาบรรณวิศวกร
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-3D</h3>
          <p>
            สามารถระบุและรวบรวมข้อมูลที่จำเป็น รวมถึงการวิเคราะห์
            การสังเคราะห์และการจัดการข้อมูลดังกล่าวได้อย่างมีประสิทธิผล
          </p>
        </div>
      </div>
    </li>
  </body>
</html>
