<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>PRE-PLO4</title>
  </head>
  <body>
    <li class="card-plo swiper-slide">
      <div>
        <p class="plo-title">PLO-4</p>
        <h2 class="plo-desc">
          ทักษะการเรียนรู้ด้วยตนเอง
          บัณฑิตเป็นผู้มีความสามารถในการเรียนรู้ด้วยตนเอง
        </h2>
        <button class="plo-open">
          <i class="fa-solid fa-circle-plus"></i> SubPLO
        </button>
      </div>

      <div class="subplo-hidden">
        <div class="subplo-item">
          <h3>SubPLO-4A</h3>
          <p>
            สามารถอธิบายหลักการสำคัญของความรู้ใหม่ทางด้านวิศวกรรม
            อุตสาหการและศาสตร์ที่เกี่ยวข้องได้
          </p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-4B</h3>
          <p>
            เรียนรู้ความรู้ใหม่ทางด้านวิศวกรรมอุตสาหการและศาสตร์ที่เกี่ยวข้อง
            ตลอดชีวิต
          </p>
        </div>
      </div>
    </li>
  </body>
</html>
