<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/assets/PLO-card.css" />
    <link rel="stylesheet" href="/css/assets/Responsive.css" />
    <title>PRE-PLO5</title>
  </head>
  <body>
    <li class="card-plo swiper-slide">
      <div>
        <p class="plo-title">PLO-5</p>
        <h2 class="plo-desc">
          ทักษะการสื่อสารและทำงานเป็นทีม
          บัณฑิตเป็นผู้มีความสามารถในการสื่อสารเพื่อการนำเสนอและการ ทำงานเป็นทีม
        </h2>
        <button class="plo-open">
          <i class="fa-solid fa-circle-plus"></i> SubPLO
        </button>
      </div>

      <div class="subplo-hidden">
        <div class="subplo-item">
          <h3>SubPLO-5A</h3>
          <p>สามารถพูดและเขียนเพื่อนำเสนอผลงานทางวิศวกรรม</p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-5B</h3>
          <p>สามารถสื่อสารและกระตุ้นให้ทีมเกิดความร่วมมือในการทำงานร่วมกัน</p>
        </div>
        <hr />
        <div class="subplo-item">
          <h3>SubPLO-5C</h3>
          <p>
            สามารถปรับตัวให้เข้ากับทีมและทำงานร่วมกันบรรลุตามเป้าหมายที่กำหนด
          </p>
        </div>
      </div>
    </li>
  </body>
</html>
