#footer {
  position: relative;
  width: 100%;
  z-index: 9999;
}

.footer {
  background: #343a41;
}

.footer h3 {
  color: #fff;
}

.footer p,
.footer i {
  color: #cfcfcf;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 3em;
  flex-wrap: wrap;
}

.footer-body {
  font-size: 18px;
}

/* BRAND LOGOS */
.footer-brand img {
  width: 120px;
  height: auto;
  margin-right: 1rem;
  margin-top: 1em;
}

.brand1 img {
  border-right: 1px solid #686868;
}

/* QUICK LINKS */
.footer h3 {
  margin-top: 5vh;
}

.footer-ul {
  list-style: none;
  padding-left: 0;
}

.footer-ul li {
  margin: 0.5rem 0;
}

.footer-ul a {
  color: #cfcfcf;
  text-decoration: none;
  font-size: 18px;
}

.footer-ul a:hover {
  color: #fff;
}

/* social */
.social-row {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  margin-bottom: 14px;
}

.social-row i {
  font-size: 22px;
  min-width: 22px;
}

.social-text a {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin: 0;
  line-height: 1.7;
  color: #cfcfcf;
  text-decoration: none;
}

.social-text a:hover {
  color: #fff;
}

/* CONTACT */
.contact-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  line-height: 0.8;
  font-size: 18px;
}

.phone-group {
  display: flex;
  flex-direction: column;
  line-height: 0.8;
}

.line {
  color: #cfcfcf;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.text-center {
  text-align: center;
  color: #cfcfcf;
  padding: 0.5em;
}
