.footer {
  background-color: #525252;
  width: 100%;
}

.footer h3 {
  color: #ff5900;
}

.footer p,
.footer i {
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1em 3em 0 3em;
  flex-wrap: wrap;
}

.footer-body {
  font-size: 18px;
}

/* BRAND LOGOS */
.footer-brand img {
  width: 120px;
  height: auto;
  margin-right: 1rem;
}

.brand1 img {
  width: 100px;
}

/* QUICK LINKS */
.footer h3 {
  margin-top: 5vh;
}

.footer-ul {
  list-style: none;
  padding-left: 0;
}

.footer-ul li {
  margin: 0.5rem 0;
}

.footer-ul a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.footer-ul a:hover {
  color: #ff5900;
}

/* CONTACT */
.contact-phone {
  display: flex;
  align-items: start;
  gap: 0.5rem;
  font-size: 18px;
}

.contact-media {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-media i {
  font-size: 20px;
}

.media {
  color: white;
  text-decoration: none;
}

.media:hover {
  color: #ff5900;
}

/* MAP */
.footer-map {
  width: 35%;
  min-width: 280px;
  height: 255px;
}

.footer-map iframe {
  width: 100%;
  height: 100%;
}

.text-center {
  text-align: center;
  color: #cfcfcf;
  padding: 1rem;
}
