* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

.footer {
  background-color: #525252;
  width: 100%;
}

.footer-content a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin: 5vh;
}

.footer-content p {
  color: white;
  font-size: 18px;
  margin: 5vh;
}

.footer-link a {
  font-weight: 600;
  font-size: 18px;
}

.footer-link a:hover {
  color: #ff5900;
  text-decoration: underline;
  text-underline-offset: 0.6vh;
}

.footer-link h3 {
  color: white;
  font-size: 30px;
  margin: 0 0 0 3vh;
}

.footer-contact h3 {
  color: white;
  font-size: 30px;
  margin: 5vh 0 -4vh 5vh;
}

.footer-body {
  margin: 0;
  line-height: 1.5;
}

.footer-contact {
  color: white;
}

.contact-phone {
  display: flex;
  align-items: flex-start;
  gap: 7vh;
  margin: -3vh 0 2vh 4.5vh;
}

.contact-phone i {
  font-size: 20px;
  margin: 0.2vh;
}

.contact-phone p {
  margin: 0;
  line-height: 1.3;
}

.main-number {
  position: relative;
  left: -5vh;
}

.contact-media {
  gap: 7vh;
  margin: 0;
}

.contact-media p {
  margin: 0;
  line-height: 1.3;
}

.contact-media i {
  font-size: 20px;
  margin: -4vh 0 2vh 4.5vh;
}

.media {
  position: relative;
  left: -3vh;
}

.media:hover {
  color: #ff5900;
  text-decoration: underline;
  text-underline-offset: 0.6vh;
}

.footer .footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-brand img {
  width: 20vh;
  height: 20vh;
  margin: 0 -6vh;
}

.text-center {
  text-align: center;
  padding: 0.1em;
  color: #8c8c8c;
}

.footer-map {
  margin: 1vh;
}

@media (max-width: 730px) {
  .footer .footer-content {
    display: flex;
    justify-content: column;
    text-align: center;
  }
}
