.footer {
  background-color: #343a41;
  width: 100%;
}

.footer h3 {
  color: #fff;
}

.footer p,
.footer i {
  color: #cfcfcf;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.5em 3em 0 3em;
  flex-wrap: wrap;
}

.footer-body {
  font-size: 18px;
}

/* BRAND LOGOS */
.footer-brand img {
  width: 120px;
  height: auto;
  margin-right: 1rem;
}

.brand1 img {
  border-right: 1px solid #686868;
}

/* QUICK LINKS */
.footer h3 {
  margin-top: 5vh;
}

.footer-ul {
  list-style: none;
  padding-left: 0;
}

.footer-ul li {
  margin: 0.5rem 0;
}

.footer-ul a {
  color: #cfcfcf;
  text-decoration: none;
  font-size: 18px;
}

.footer-ul a:hover {
  color: #fff;
}

/* CONTACT */
.contact-phone {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  line-height: 0.8;
  font-size: 18px;
}

.contact-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.contact-media i {
  font-size: 20px;
}

.media {
  color: #cfcfcf;
  text-decoration: none;
}

.media-list {
  display: flex;
  flex-direction: column;
}

.media-list a {
  line-height: 1.6;
}

.media:hover {
  color: #fff;
}

.text-center {
  text-align: center;
  color: #cfcfcf;
  padding: 0.5rem;
}
