* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
  background-color: #ff5900;
  transition: 0.5s;
}

.navbar-expand-lg {
  opacity: 0.95 !important;
  padding: 0.1rem;
  border-radius: 0 0 25px 25px;
  display: flex;
}

.navbar-brand img,
.offcanvas-header img {
  margin: 0 5rem;
  height: 6rem;
  width: 6rem;
}

.offcanvas {
  background-color: #ff5900;
}

.offcanvas-header {
  background-color: #ff5900;
}

.offcanvas-body {
  margin: 1em;
}

.navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.navbar-brand :focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.navbar-nav,
.nav-link {
  justify-content: right;
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
  column-gap: 0.5vh;
  margin: 1vh 5vh 0 0;
  text-decoration: none;
}

.nav-link:hover {
  background-color: white !important;
  padding: 1vh;
  border-radius: 15px;
}

.dropdown-menu {
  background-color: white !important;
}

.dropdown-item {
  display: block;
  background-color: #ffffff;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  background-color: #ffec48 !important;
  color: #ff5900 !important;
}

.btn-search {
  color: white;
  background-color: #d9d9d9;
  font-weight: 1.5rem;
  border: none;
  border-radius: 50px;
  padding: 1.5vh 1.75vh;
  transition: 0.3s background-color;
  font-family: "Font Awesome 6 Free" !important;
  font-weight: 900 !important;
}

.btn-search:hover {
  background-color: #bfbfbf;
}

.d-flex {
  margin: 1rem;
}

.d-flex .form-control {
  border: none;
  box-shadow: none;
  border-radius: 50px;
}
