* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
}

#navbar {
  position: fixed;
  top: 0;
  width: 98%;
  background: #d4d4d4;
  z-index: 1055;
}

#navbar .navbar {
  overflow: visible !important;
}

.navbar {
  z-index: 1050;
}

.dropdown-menu {
  z-index: 1100;
}

.navbar-expand-lg {
  opacity: 0.9 !important;
  padding: 0.1rem;
  margin: 0.5rem;
  border-radius: 50px;
  display: flex;
}

.navbar-brand img,
.offcanvas-header img {
  margin: 0 15vh;
  height: 50px;
}

.offcanvas {
  background-color: #ff5900;
}

.offcanvas-header {
  background-color: #d4d4d4;
}

.offcanvas-body {
  margin: 0.1em;
}

.navbar-toggler {
  border: none !important;
  font-size: 25px !important;
}

.navbar-brand :focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.navbar-nav,
.nav-link {
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  color: white;
  column-gap: 2vh;
  text-decoration: none;
}

.nav-link:hover {
  color: #ff5900 !important;
}

.nav-link.active,
.dropdown-item.active {
  color: #ff5900 !important;
  font-weight: 700;
}

.nav-link.active::after {
  color: #ff5900 !important;
  font-weight: 700;
}

.dropdown-menu {
  background-color: white !important;
}

.dropdown-item {
  display: block;
  background-color: #ffffff;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  color: #ff5900 !important;
}

.btn-search {
  color: white;
  background-color: #d9d9d9;
  font-weight: 1.5rem;
  border: none;
  border-radius: 50px;
  padding: 1.5vh 1.75vh;
  transition: 0.3s background-color;
  font-family: "Font Awesome 6 Free" !important;
  font-weight: 900 !important;
}

.btn-search:hover {
  background-color: #bfbfbf;
}

.d-flex {
  margin: 1rem;
}

.d-flex .form-control {
  border: none;
  box-shadow: none;
  border-radius: 50px;
}

.offcanvas .dropdown-menu {
  position: static;
  transform: none !important;
  display: none;
  margin-left: 1rem;
}

.offcanvas .dropdown-menu.show {
  display: block;
}

@media (max-width: 9768px) {
  .offcanvas-body {
    margin: 0 !important;
    padding: 0 !important;
  }

  .nav-link {
    margin: 1.5vh;
    padding: 0 !important;
  }

  .navbar-brand img,
  .offcanvas-header img {
    margin: 0 1vh;
  }
}
