* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
}

#navbar {
  position: fixed;
  align-items: center;
  top: 0;
  width: 95%;
  margin: 1em auto;
  padding: 0.5em 15em;
  background: #46505a;
  z-index: 1055;
  border-radius: 50px;
}

#navbar .navbar {
  overflow: visible !important;
}

.navbar {
  z-index: 1050;
}

.container-fluid {
  padding: 0 !important;
}

.dropdown-menu {
  z-index: 1100;
}

.navbar-expand-lg {
  width: 100%;
  display: flex;
}

.navbar-brand img,
.offcanvas-header img {
  height: 60px;
}

.offcanvas {
  background-color: #46505a;
}

.offcanvas-header {
  background-color: #606d7a;
  color: #fff;
  width: 100%;
}

.offcanvas-body {
  background-color: #46505a;
}

.navbar-toggler {
  border: none !important;
  font-size: 25px;
}

.navbar-toggler-icon {
  color: #fff;
}

.navbar-brand :focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.navbar-nav,
.nav-link {
  justify-content: right;
  font-size: 20px;
  font-weight: 600;
  color: #fff !important;
  column-gap: 2vh;
  text-decoration: none;
}

.nav-link:hover {
  color: #bababa !important;
}

.nav-link.active,
.dropdown-item.active {
  color: #a72c32 !important;
  font-weight: 700;
}

.nav-link.active::after {
  color: #a72c32 !important;
  font-weight: 700;
}

.dropdown-menu {
  background-color: #e3e3e3 !important;
}

.dropdown-item {
  display: block;
  background-color: #ffffff;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  color: #a72c32;
  background-color: #d2d2d2;
}

.btn-search {
  color: white;
  background-color: #d9d9d9;
  font-weight: 1.5rem;
  border: none;
  border-radius: 50px;
  padding: 1.5vh 1.75vh;
  transition: 0.3s background-color;
  font-family: "Font Awesome 6 Free" !important;
  font-weight: 900 !important;
}

.btn-search:hover {
  background-color: #d2d2d2;
}

.d-flex {
  margin: 1rem;
}

.d-flex .form-control {
  border: none;
  box-shadow: none;
  border-radius: 0px;
}

.offcanvas .dropdown-menu {
  position: static;
  transform: none !important;
  display: none;
  margin-left: 1rem;
}

.offcanvas .dropdown-menu.show {
  display: block;
}

@media (max-width: 9768px) {
  .offcanvas-body {
    margin: 0 !important;
    padding: 0 !important;
  }

  .nav-link {
    margin: 1.5vh;
    padding: 0 !important;
  }

  .navbar-brand img,
  .offcanvas-header img {
    margin: 0 1vh;
    height: 50px;
  }
}

@media (max-width: 1024px) {
  #navbar {
    padding: 0.5em 2em;
  }
}
