* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
}

#navbar {
  position: fixed;
  align-items: center;
  z-index: 1050;
  background-color: #606d7a;
  width: 100%;
}

#navbar .navbar {
  overflow: visible !important;
}

#kmutt {
  position: absolute;
  align-self: top;
  text-align: right;
  width: 100%;
  padding-right: 3em;
  background-color: #75262a;
  top: 0;
}

.kmutt-link a {
  color: #fff !important;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.kmutt-link i {
  font-size: 12px;
}

.kmutt-link a:hover {
  color: #c6c6c6 !important;
}

.container-fluid {
  margin-top: 1em;
  padding: 0 15em !important;
}

.dropdown-menu {
  z-index: 1100;
  opacity: 0.9;
}

.navbar-expand-lg {
  width: 100%;
  display: flex;
}

.navbar-brand img,
.offcanvas-header img {
  height: 60px;
}

.offcanvas {
  background-color: #868a86;
}

.offcanvas-header {
  background-color: #606d7a;
  color: #fff;
  width: 100%;
}

.offcanvas-body {
  background-color: #606d7a;
}

.navbar-toggler {
  border: none !important;
  font-size: 25px;
}

.navbar-toggler-icon {
  color: #fff;
}

.navbar-brand :focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}

.navbar-nav,
.nav-link {
  justify-content: right;
  font-size: 20px;
  font-weight: 600;
  color: #fff !important;
  column-gap: 2vh;
  text-decoration: none;
}

.nav-link:hover {
  color: #c9353c !important;
}

.nav-link.active {
  color: #c9353c !important;
  font-weight: 700;
}

.dropdown-item.active {
  color: #c9353c !important;
  font-weight: 700;
}

.nav-link.active::after {
  color: #c9353c !important;
  font-weight: 700;
}

.dropdown-menu {
  background-color: #e3e3e3 !important;
}

.dropdown-item {
  display: block;
  background-color: #ffffff;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
  color: #c9353c;
  background-color: #d2d2d2;
}

.btn-search {
  color: white;
  background-color: #d9d9d9;
  font-weight: 1.5rem;
  border: none;
  border-radius: 50px;
  padding: 1.5vh 1.75vh;
  transition: 0.3s background-color;
  font-family: "Font Awesome 6 Free" !important;
  font-weight: 900 !important;
}

.btn-search:hover {
  background-color: #d2d2d2;
}

.d-flex {
  margin: 1rem;
}

.d-flex .form-control {
  border: none;
  box-shadow: none;
  border-radius: 0px;
}

.offcanvas .dropdown-menu {
  position: static;
  transform: none !important;
  display: none;
  margin-left: 1rem;
}

.offcanvas .dropdown-menu.show {
  display: block;
}

@media (max-width: 9768px) {
  .offcanvas-body {
    margin: 0 !important;
    padding: 0 !important;
  }

  .nav-link {
    margin: 1.5vh;
    padding: 0 !important;
  }

  .navbar-brand img,
  .offcanvas-header img {
    margin: 0 1vh;
    height: 50px;
  }
}

@media (max-width: 1024px) {
  #navbar {
    padding: 0;
  }

  #kmutt {
    width: 100%;
  }

  .kmutt-link i {
    padding-right: 1vh;
  }

  .container-fluid {
    margin-top: 1.5em;
    padding: 0 2em !important;
  }
}

@media (max-width: 768px) {
  #kmutt {
    padding-right: 0.5em;
  }

  .kmutt-link a {
    font-size: 10px;
  }

  .kmutt-link i {
    font-size: 8px;
  }
}
