.card.hide {
  display: none !important;
}

.show {
  display: flex;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 360px;
  background-color: #fff;
  padding: 1vw;
  border-radius: 12px;
  border: 1px solid #d4d4d4;
  cursor: pointer;
}

.card-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card:hover .card-link:hover {
  filter: brightness(0.95);
}

.card .card-link .card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
}

.card-link .news-tags {
  margin: 0.5vw 0;
  gap: 0.5vw;
  flex-wrap: wrap;
}

.card-link .tags {
  flex-direction: row;
  padding: 0.5vw 1vw;
  border-radius: 50px;
  background: #a72c32;
  color: white;
  font-weight: 600;
  flex: 0 0 auto;
}

.card-link .card-title {
  font-size: 16px;
  color: #000;
  font-weight: 600;
}

.Dates {
  font-size: 14px;
  font-weight: 400;
}

.card-button {
  margin-top: auto;
  align-self: flex-start;
  height: 30px;
  width: 30px;
  color: #a72c32;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  border: 2px solid #a72c32;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}

.card-link:hover .card-button {
  color: #fff;
  background: #a72c32;
}
