.card-plo > div:first-child {
  background: #ffffff;
  width: 270px;
  height: 100%;
  border-radius: 22px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  list-style: none;
  flex-shrink: 0;
}

.plo-title {
  font-size: 26px;
  font-weight: 700;
  padding: 0.5em;
  margin: 0;
  color: #ff5900;
}

.plo-desc {
  font-size: 14px;
  font-size: 1em;
  line-height: 1.5;
  color: #000;
  padding: 0.5em;
}

.plo-open {
  margin-top: auto;
  width: 100%;
  height: 70px;
  background: #ff7023;
  color: #000;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.plo-open i {
  font-size: 18px;
}

.plo-open:hover {
  color: #fff;
  background: rgb(255, 138, 75);
  font-size: 30px;
  transform: scale(1.1);
}

.subplo-hidden {
  display: none;
}

.plo-modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: none;
}

.plo-modal-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.plo-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  max-width: 520px;
  background: #ff5900;
  color: #fff;
  border-radius: 12px;
  padding: 2.5em;
  transform: translate(-50%, -50%) scale(0.85);
  opacity: 0;
  transition: all 0.35s ease;
}

.plo-modal-content p {
  font-size: 18px;
}

.plo-modal-content hr {
  border: none;
  height: 8px;
  border-top: 6px solid #fff;
  border-radius: 4px;
}

.plo-modal.active {
  display: block;
}

.plo-modal.active .plo-modal-content {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.plo-modal-close {
  position: absolute;
  top: 12px;
  right: 16px;
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
}

#plo-modal-title {
  font-size: 1.5em;
  color: #ff5900;
  margin-bottom: 1em;
}

#plo-modal-desc {
  line-height: 1.8em;
  margin-bottom: 1em;
}
