/* ------Navbar------ */
@media (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }
}

/*------Homepage------ */

/* ------IPad------ */
@media (max-width: 1024px) {
  /* ปุ่มหลัก */
  .hp-button1 {
    flex-wrap: wrap;
    gap: 2em;
  }

  .hp-button1-box {
    width: 40vw;
    height: 10vw;
    margin-top: -2vh;
  }

  .hp-button1-main {
    font-size: 28px;
  }

  /* about us */
  .hp-aboutus {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .hp-aboutus img {
    width: 80%;
    height: auto;
  }

  .hp-aboutus-box {
    width: 90%;
    text-align: center;
  }

  .hp-aboutus-body {
    font-size: 18px;
  }

  .aboutus-read-more {
    margin: 2em 5em;
  }

  /* reward */
  .reward-card img,
  .reward-card1 img {
    width: 30vh;
    height: 25vh;
  }
}

/* ------MOBILE------ */
@media (max-width: 600px) {
  /* mainpic */
  .carousel-inner img {
    height: 45vh;
  }

  .mainpic-gradient {
    height: 15vh;
    margin-top: 30vh;
  }

  /* ปุ่มหลัก */
  .hp-button1 {
    gap: 1.5em;
  }

  .hp-button1-box {
    width: 50vw;
    height: 25vw;
  }
}

/* ข่าวสาร */
@media screen and (max-width: 768px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }

  .card-wrapper .swiper-slide-button {
    display: none;
  }
}

/* ------Footer------ */

/* ------- iPad ------- */
@media (max-width: 1024px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
  }

  .footer-brand img {
    width: 18vw;
    margin: 1rem;
  }

  .footer-map {
    width: 100%;
    height: 250px;
  }

  .contact-phone,
  .contact-media {
    justify-content: center;
  }
}

/* ------- Mobile Phones ------- */
@media (max-width: 600px) {
  .footer-brand img {
    width: 25vw;
  }

  .footer-ul a,
  .footer-contact p,
  .contact-phone p,
  .media {
    font-size: 14px;
  }

  .footer-map {
    width: 100%;
    height: 200px;
  }
}
