/* ------Navbar------ */
@media (min-width: 992px) {
  .navbar .dropdown:hover .dropdown-menu {
    display: block;
  }
}

/* ------Footer------ */

/* ------- iPad ------- */
@media (max-width: 1024px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1vw;
  }

  .footer h3 {
    margin-top: 0.1vh;
  }

  .footer-brand img {
    width: 18vw;
    margin: 1rem;
  }

  .contact-phone,
  .contact-media {
    justify-content: center;
  }
}

/* ------- Mobile Phones ------- */
@media (max-width: 600px) {
  .footer-brand img {
    width: 25vw;
  }

  .footer-ul a,
  .footer-contact p,
  .contact-phone p,
  .media {
    font-size: 14px;
  }

  .footer-map {
    width: 100%;
    height: 200px;
  }
}
